.background{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.blue{
    background-image: url(./../../../../../../assets/png/globalization2.webp);
}

.yellow{
    background-image: url(./../../../../../../assets/png/globalization3.webp);
}

.contenedor{ 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.sub-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.contenedor-cuadrado{
    width: 305px;
    height: 400px;
    background-color: var(--white);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.81);
    border-radius: 15px;
}

form{
    height: 225px;
}

@media screen and (max-width: 480px) {
    .contenedor-cuadrado {
        width: 335px;
        height: 520px;
    }
}

// tablets
@media screen and (min-width: 40em) and (max-width: 63.9em){
    .contenedor-cuadrado{
        width: 450px;
        height: 420px;
    }
    form{
        height: 225px;
    }
  }
  
  // web
  @media screen and (min-width: 64em){
    .contenedor-cuadrado{
        width: 530px;
        height: 510px;
    }
    form{
        height: 248px;
    }
    .predec-link{
        text-align: center;
        margin-right: 14px;
    }
  }

.contenedor-circular{
    height: 160px;
    width: 160px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 7px 15px rgba(0, 0, 0, 0.5));
    margin: -50px;
}

button{
    height: 42px !important;
    width: 127px !important;
}

.footer{
    position: absolute;
    bottom: 21px;
    left: 17px;    
    display: flex;
    align-items: flex-end;
    color: #fff;
    a{
        img{
            width: 250px;
        }
    }
}

.urlLer {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    a {
        img {
            max-width: 150px;
        }
    }
}

.contador-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(#fff, 0.7);
    z-index: 2040;
}

.contador-container div {
    text-align: center;
    margin: auto;
    background-color: #fff;
    padding: 10px;
    width: 300px;
    box-shadow: 2px 2px 5px #ccc;
}