.background{
    
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blue{
    background-image: url(./../../../../../../assets/png/backgound.png);
}

.yellow{
    background-image: url(./../../../../../../assets/png/backgound2.png);
}
