<div class="shadow">
    <p-panel header="Perfiles">
        <p-table #dt [tableStyle]="{'min-width': '50rem'}" [value]="perfilList" styleClass="p-datatable-gridlines" autoLayout="true" selectionMode="single" [(selection)]="perfil" [rows]="10" [paginator]="true"
            dataKey="id" [lazy]="true" (onLazyLoad)="lazyLoad($event)" [totalRecords]="totalRecords" [loading]="loading">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="nombre" style="width:30%" class="text-center">Nombre
                        
                        <p-sortIcon field="nombre"></p-sortIcon>
                    </th>
                    <th pSortableColumn="descripcion" style="width:70%" class="text-center">Descripción
                        <p-sortIcon field="descripcion"></p-sortIcon>
                    </th>
                </tr>
                <tr>
                    <td class="text-center bg-light">
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'nombre', 'contains')">
                    </td>
                    <td class="text-center bg-light">
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'descripcion', 'contains')">
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-reporte>
                <tr [pSelectableRow]="reporte">
                    <td>{{reporte.nombre}}</td>
                    <td>{{reporte.descripcion}}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary" let-rowData>
                <div class="d-flex justify-content-center">
                    <button *sTienePermiso="'ADM_POST_PERF'" 
                        pButton type="button" 
                        icon="bi bi-plus" 
                        label="Adicionar"
                        class="p-button-raised p-button-primary margin-right" 
                        (click)="abrirDlgNuevo()"></button>
                    <button *sTienePermiso="'ADM_PUT_PERF'" 
                        pButton type="button" 
                        icon="bi bi-pencil" 
                        label="Modificar" 
                        class="p-button-raised p-button-success margin-left"
                        (click)="abrirDlgModificar()" [disabled]="!perfil"></button>
                </div>
            </ng-template>
        </p-table>
    </p-panel>
</div>

<p-dialog header="Perfil" [(visible)]="visibleDlg" [responsive]="true" (onHide)="hideDlg()" showEffect="fade" [modal]="true">
    <div class="grid" *ngIf="perfil">
        <div class="col-12 md:col-2 lg:col-2">
            <label for="nombre">Nombre</label>
        </div>
        <div class="col-12 md:col-10 lg:col-10">
            <input pInputText id="nombre" [(ngModel)]="perfil.nombre" />
        </div>
        <div class="col-12 md:col-2 lg:col-2">
            <label for="descripcion">Descripción</label>
        </div>
        <div class="col-12 md:col-10 lg:col-10">
            <textarea pInputTextarea id="descripcion" [(ngModel)]="perfil.descripcion"></textarea>
        </div>
    </div>

    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="bi bi-x-lg" *ngIf="!visibleBtnSave" (click)="modificar()" label="Modificar"></button>
            <button type="button" pButton icon="pi pi-check" *ngIf="visibleBtnSave" (click)="adicionar()" label="Guardar"></button>
        </div>
    </p-footer>
</p-dialog>