.content{
    width: 10px;
    height: 15px;
}

.margin-left {
    margin-left: .3rem;
  }
  
.margin-right {
    margin-right: .3rem;
}

:host ::ng-deep .p-datatable-striped .p-datatable .p-component .p-datatable-hoverable-rows{
    width: 1px !important;
}

.image{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 10%;
    height: auto;
}