.content{
    background: red;
    width: 10px;
    // width: Wh;
    height: 15px;
}

// table {
//     width: 100%;
//   }
.margin-left {
    margin-left: .3rem;
  }
  
.margin-right {
    margin-right: .3rem;
}