<!-- <p-messages [(value)]="growlMsgs" [closable]="true"></p-messages> -->
<p-confirmDialog key="docoutscm"></p-confirmDialog>
<s-dataNotFound style="margin: auto;" *ngIf="(!directorioList || directorioList.length <= 0)  && !esConsulta" icon="pi pi-file" message="Aún no se cuenta con registros de carpetas o archivos adicionados">
    <div>
        Adiciona un nuevo:
        <a *sTienePermiso="'ADO_POST_DOCSUP'" (click)="abrirDlgUpload()">Archivo</a> |
        <a *sTienePermiso="'ADO_POST_DIR'" (click)="abrirDlgNuevaCarpeta()">Carpeta</a>
    </div>
</s-dataNotFound>

<p-panel >
    <!-- <p-messages [(value)]="msgs1" [closable]="false"></p-messages> -->
    <p-header>
        <div class="ui-inputgroup" >
            <span class="ui-inputgroup-addon">
                <i class="pi pi-search"   ></i>
            </span>
           
            <input type="text" pInputText placeholder="Buscar documento" [(ngModel)]="criterioBusqueda" (keydown)="buscar($event)" />
        </div>
    </p-header>
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-7">
            <p-breadcrumb [model]="breadCrumbItems" [home]="homeItem"></p-breadcrumb>
            <p-treeTable
                [value]="directorioList"
                autoLayout="true"
                (onNodeExpand)="onNodeExpand($event)"
                [lazy]="true"
                (onLazyLoad)="loadNodes($event)"
                dataKey="id"
                [loading]="loading"
                selectionMode="single"
                [paginator]="true"
                [rows]="20"
                [totalRecords]="totalRecords"
                [(selection)]="nodeSelect"
                dataKey="id"
                sortField="fechaCreacion"
                sortOrder="-1"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th [ttSortableColumn]="'nombre'">
                            <div pDroppable="dd" (onDrop)="drop($event, null)">Nombre</div>
                        </th>
                        <th>Tamaño</th>
                        <th [ttSortableColumn]="'fechaCreacion'">Fecha creación</th>
                        <th [ttSortableColumn]="'usuario.email'">Subido por</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-data="rowData">
                    <tr
                        [ttSelectableRow]="rowNode"
                        [ttContextMenuRow]="rowNode"
                        *ngIf="data.nivelAcceso == 'PUBLICO' || (data.nivelAcceso == 'PRIVADO' && data.usuario.id == this.usuarioId)"
                        (click)="getNivelAcceso(rowNode, nodeSelect?.data)"
                        (dblclick)="onDoubleClick(rowNode)"
                    >
                        <td>
                            <div pDroppable="dd" (onDrop)="drop($event, rowNode)">
                                <div pDraggable="dd" (onDragStart)="dragStart($event, rowNode)">
                                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="!data.esDocumento; else noToggler"></p-treeTableToggler>
                                    <ng-template #noToggler>
                                        <button style="background-color: rgba(0, 0, 0, 0.0); width: 2rem; height: 0px; border-width: 0; border-color: #fff; margin-left: 10px;"></button>
                                    </ng-template>
                                    <ng-template #noTree style="width: 2rem; height: 2rem; visibility: visible; margin-left: 15px;">&nbsp;</ng-template>
                                    <span [class]="data.extension?.icono" [style.color]="data.extension?.color"></span>
                                    {{ data?.nombre }}
                                </div>
                            </div>
                        </td>
                        <td style="text-align: center">
                            <label *ngIf="!data.esDocumento">{{ data.tamanio }} Elementos</label>
                            <label *ngIf="data.esDocumento">{{ data.tamanio | fileSize }}</label>
                        </td>
                        <td style="text-align: center">{{ data?.fechaCreacion | date: 'yyyy-MM-dd HH:mm' }}</td>
                        <td style="text-align: center">{{ data?.usuario.email }}</td>
                    </tr>
                </ng-template>
            </p-treeTable>
        </div>

        <div class="col-12 md:col-6 lg:col-5 transicion" [class.panel-oculto]="nodeSelect == null" [class.panel-visible]="nodeSelect != null">
            <div class="header-detail separator">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon" style="background-color: #fff; margin-right: 10px;">
                        <i [class]="nodeSelect?.data.extension.icono"></i>
                    </span>
                    <input style="width: 95%;" pInputText maxlength="100" [(ngModel)]="nodeSelect?.data.nombre" />
                    <button pButton class="ui-inputgroup-addon check-span p-button-sm" title="Actualizar" icon="pi pi-check" (click)="actualizarDirectorio(nodeSelect!)"></button>
                </div>
                <br>
                <ng-container *ngIf="esPrivado==true">
                    <p-checkbox [style]="{'width':'100%'}" #nivelAcceso name="cbxAccessLevel" id="nivAcceso" class="form-check-input" [(ngModel)]="esPrivado" binary="true" label="Privado antiguo" (click)="perfiles=[]"></p-checkbox>
                </ng-container>
                <ng-container *ngIf="!esPrivado">
                    <p-checkbox [style]="{'width':'100%'}"  class="form-check-input" [(ngModel)]="flagSCMPPrivado" binary="true" label="Privado nuevo" (click)="perfiles=[]"></p-checkbox>
                </ng-container>
                <br><br>
                <ng-container *ngIf="flagSCMPPrivado">
                    <br>
                    <label class="s-float-label">Perfiles</label><br>
                    <p-multiSelect [style]="{'width':'100%'}" appendTo="body" [options]="perfilList" [(ngModel)]="perfiles" [ngModelOptions]="{standalone: true}" defaultLabel="--Perfiles--"></p-multiSelect>
                    <h6 *ngIf="perfiles.length==0" id="username2-help" class="p-invalid row">Obligatorio</h6>
                </ng-container>
            </div>
            <p>
                <label style="padding-right: 20px;width: 50%;">Tipo: {{ nodeSelect?.data.extension.nombre }} ­­­ </label>

                <button pButton (click)="descargar(nodeSelect?.data)" style="float: right" class="p-button-text" *ngIf="nodeSelect?.data.esDocumento" icon="pi pi-download" label="Descargar"></button>
            </p>
            <!-- <ng-container *ngIf="nodeSelect?.data.esDocumento">
                <s-documento-form [documento]="nodeSelect?.data.documento"></s-documento-form>
                <button [disabled]="esConsulta" *sTienePermiso="'ADO_PUT_DIR'" pButton type="button" class="p-button-success" (click)="actualizarDocumento(nodeSelect.data)" label="Actualizar" icon="pi pi-pencil"></button>
            </ng-container> -->
            <button [disabled]="esConsulta" *sTienePermiso="'ADO_DELETE_DIR'" pButton type="button" (click)="confirmarEliminar()" class="p-button-danger" label="Eliminar" icon="pi pi-trash"></button>
        </div>
    </div>

    <a style="visibility: hidden" id="dwldLink"></a>
    <button *sTienePermiso="'ADO_POST_DOCSUP'" [disabled]="esConsulta" pButton type="button" (click)="abrirDlgUpload()" icon="pi pi-file" class="float-btn" style="bottom: 180px" title="Subir archivo"></button>
    <button *sTienePermiso="'ADO_POST_DIR'" [disabled]="esConsulta" pButton type="button" (click)="abrirDlgNuevaCarpeta()" icon="pi pi-folder" class="float-btn" style="bottom: 245px" title="Crear carpeta"></button>
</p-panel>

<p-contextMenu #contextMenu [model]="menuItems" appendTo="body"></p-contextMenu>

<p-dialog header="Nueva carpeta" [(visible)]="visibleDlgNuevaCarpeta" modal="true">
    <input pInputText maxlength="55" size="45" [(ngModel)]="nombreCarpeta" />
    <p-footer>
        <button pButton type="button" 
            (click)="crearNuevaCarpeta()" 
            icon="bi bi-plus"
            class="p-button-raised p-button-primary margin-right"
            label="Crear" 
            [disabled]="!nombreCarpeta"></button>
        <button pButton type="button" 
            (click)="cerrarDlgNuevaCarpeta()" 
            class="p-button-raised p-button-danger margin-right margin-left"
            icon="pi pi-times" 
            label="Cancelar"></button>
    </p-footer>
</p-dialog>

<s-documentoUpload
    [directorio]="nodeSelect == null ? null : nodeSelect.data.esDocumento ? nodeSelect.parent?.data.id : nodeSelect.data.id"
    modulo="ADO"
    [(visible)]="visibleDlgUpload"
    [modParam]="null"
    [caseId]="this.caseid"
    [scmDoc]="true"
    (onUpload)="onUpload($event)"
>
</s-documentoUpload>
