<div class="grid gap-3">
    <p-panel style="width: 100%;">
        <p-header style="width: 100%;">
            <div class="flex justify-content-between flex-wrap">
                <div class="flex align-items-center justify-content-center">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <label class="ui-panel-title">Datos generales</label>
                </div>
                <!-- <div class="flex spacer"></div> -->
                <button *sTienePermiso="'INP_POST_FORM'" 
                        class="p-button-raised p-button-primary margin-right flex align-items-center justify-content-center" 
                        pButton type="button" 
                        icon="bi bi-plus" 
                        title="Adicionar nuevo campo de formulario"
                        label="Nuevo" 
                        (click)="adicionarCampo()"
                        ></button>
            </div>            
            <!-- <a type="button" style="float:right;" (click)="adicionarCampo()" title="Adicionar nuevo campo de formulario">Nuevo</a> -->
        </p-header>
        <div class="grid">
            <div class="col-12 md:col-6 lg:col-6">
                <label class="s-float-label">Nombre formulario</label>
                <input pInputText id="nombre" [ngModel]="formulario?.nombre" (ngModelChange)="formulario.nombre=$event" />
            </div>
            <div class="col-12 md:col-6 lg:col-6">
                <label class="s-float-label">Descripción</label>
                <input pInputText id="descripcion" [ngModel]="formulario?.descripcion" (ngModelChange)="formulario.descripcion=$event" />
            </div>
        </div>

        <p-table #dt [value]="formulario?.campoList" autoLayout="true">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre campo</th>
                    <th>Descripción</th>
                    <th>Tipo</th>
                    <th>Opciones</th>
                    <th>Requerido</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-i="rowIndex">
                <tr>
                    <td>
                        <input type="text" pInputText [(ngModel)]="rowData.nombre" />
                    </td>
                    <td>
                        <input type="text" pInputText [(ngModel)]="rowData.descripcion" />
                    </td>
                    <td>
                        <p-dropdown [options]="tiposDatos" [(ngModel)]="rowData.tipo" [disabled]="consultar" appendTo="body"></p-dropdown>
                    </td>
                    <td style="width:350px;text-align: center;">
                        <p-chips [(ngModel)]="rowData.opciones"></p-chips>
                    </td>
                    <td style="width:100px;text-align: center;">
                        <p-checkbox name="groupname" binary="true" [(ngModel)]="rowData.requerido" [disabled]="consultar"></p-checkbox>
                    </td>
                    <td style="width:50px;">
                        <button *sTienePermiso="'INP_POST_FORM'" pButton type="button" icon="bi bi-x-lg" class="soft-icon" (click)="removerCampo(i)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </p-panel>
</div>
