<div style="margin-left: 3px;">
      <p-panel header="RESUMEN" style="text-align:center;">
          <div class="grid colorsitos colorfondo">
              <div class="col-12 ">
                  <div class="grid ">
                      <div class="col-12 md:col-6 lg:col-3">
                          <div class="card l-bg-blue1-dark">
                            <div style="text-align:left;">
                                <h3>Numero de ATs</h3>
                            </div>
                            <div style="text-align:right;">
                                <span class="tamañotexto">{{this.NoEventos || 0}}</span>
                            </div>
                          </div>
                      </div>
                      <div class="col-12 md:col-6 lg:col-3">
                          <div class="card l-bg-blue2-dark">
                            <div style="text-align:left;">
                                <h3>Dias perdidos</h3>
                            </div>
                            <div  style="text-align:right;">
                                <span class="tamañotexto">{{this.diasPerdidos || 0}}</span>
                            </div>
                          </div>
                      </div>
                      <div class="col-12 md:col-6 lg:col-3">
                          <div class={{colorIli}}>
                            <div style="text-align:left;">
                                <h3>ILI</h3>
                            </div>
                            <div  style="text-align:right;">
                                <span class="tamañotexto">{{ili || 0}}</span>
                            </div>
                          </div>
                      </div>
                      <div class="col-12 md:col-6 lg:col-3">
                          <div class="card l-bg-blue3-dark">
                              <div style="text-align:left;">
                                  <h3>Meta</h3>
                              </div>
                              <div style="text-align:right;">
                                  <span class="tamañotexto">{{metaIli || 0}}</span>
                              </div>                                     
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-12 grid mid-border">
                <div class="col-12 md:col-6 lg:col-3"  style="display: flex;"><p style="margin-right: 10px!important;">División:</p> <p-dropdown [style]="{'width':'100%'}" appendTo="body" [options]="divisiones" [(ngModel)]="selectedDivisionResumen" placeholder="Seleccionar división" [showClear]="true" (onChange)="loadResumen()"></p-dropdown></div>
                <div class="col-12 md:col-6 lg:col-3"  style="display: flex;">
                  <p style="margin: 10px!important;">Año:</p>
                  <p-dropdown [style]="{'width':'100%'}" [options]="yearRange"
                  placeholder="Seleccione un año"
                  [(ngModel)]="anioActualResumen"
                  (onChange)="loadResumen()">
                  </p-dropdown>
                </div>
                <div class="col-12 md:col-6 lg:col-3"  style="display: flex;">
                  <p style="margin-right: 10px!important;">Desde:</p>
                    <mat-icon aria-hidden="false" aria-label="event" fontIcon="event"></mat-icon>   
                  <p-calendar appendTo="body"  view="month"
                  dateFormat="MM" placeholder="Seleccione"  
                  [(ngModel)]="fechaInicioResumen" showButtonBar="true" 
                  (onSelect)="loadResumen()" (onClearClick)="loadResumen()"
                  (onTodayClick)="loadResumen()">
                  </p-calendar>
                </div>
                <div class="col-12 md:col-6 lg:col-3" style="display: flex;">
                  <p style="margin-right: 10px!important;">Hasta:</p>
                    <mat-icon aria-hidden="false" aria-label="event" fontIcon="event"></mat-icon> 
                    <p-calendar appendTo="body"  view="month" dateFormat="MM" 
                    placeholder="Seleccione"  showButtonBar="true" 
                    [(ngModel)]="fechaFinalResumen" (onSelect)="loadResumen()"
                    (onClearClick)="loadResumen()" (onTodayClick)="loadResumen()">
                    </p-calendar>
                </div>
              </div>
          </div>
      </p-panel>
      <br/>
 
    <p-panel header="TOTAL EVENTOS Y DÍAS" >
      <br>
      <div class="colorfondo">
        <div class="grid">
          <p> <b> Eventos AT </b></p>
          <div class="col-12  align-items-center" style="height: 10cm;">
            <div>
              <p-radioButton name="group10"  [value]="0" [(ngModel)]="radioGra0" (onClick)="reiniciarVariableFechaEventosAt()"       [style]="{'margin-left': '15px'}"></p-radioButton>
              <label for="">Total</label>
              <p-radioButton name="group10"  [value]="1" [(ngModel)]="radioGra0" (onClick)="reiniciarVariableFechaEventosAt('temp')" [style]="{'margin-left': '15px'}"></p-radioButton>
              <label for="">Temporales</label>
              <p-radioButton name="group10"  [value]="2" [(ngModel)]="radioGra0" (onClick)="reiniciarVariableFechaEventosAt('dir')"   [style]="{'margin-left': '15px'}"></p-radioButton>
              <label for="">Directos</label>
            </div>
            <ngx-charts-advanced-pie-chart
            class="align-items-center mat-typography"
            [scheme]="colorScheme"
            [results]="randomEv1Dona"
            [gradient]="gradient">
            </ngx-charts-advanced-pie-chart>
          </div>
          <div class="col-3">&nbsp;</div>
          <div class="col-6 grid">
            <div class="col-6">  
              <mat-icon aria-hidden="false" aria-label="event" fontIcon="event"></mat-icon>   
              <p-calendar appendTo="body"  view="month" dateFormat="mm/yy" placeholder="Desde" 
               (onSelect)="selectRangoEventosAt($event, 'desde')" [(ngModel)]="filtroFechaAt![0]"> </p-calendar> 
            </div>
            <div class="col-6"> 
              <mat-icon aria-hidden="false" aria-label="event" fontIcon="event"></mat-icon> 
              <p-calendar appendTo="body"  view="month" dateFormat="mm/yy" placeholder="Hasta" 
               (onSelect)="selectRangoEventosAt($event, 'hasta')" [(ngModel)]="filtroFechaAt![1]"> </p-calendar>
            </div>
          </div>
        </div>
        <hr/>
        <div class="grid">
          <div class="col-12">
          <p><b>Días perdidos</b></p></div>
          <div class="col-12  align-items-center" style="height: 10cm;">
            <div>
              <p-radioButton name="group11"  [value]="0" [(ngModel)]="radioGra1"  (onClick)="reiniciarVariableFechaDiasPerdidos()" [style]="{'margin-left': '15px'}"></p-radioButton>
              <label for="">Total</label>
              <p-radioButton name="group11"  [value]="1" [(ngModel)]="radioGra1" (onClick)="reiniciarVariableFechaDiasPerdidos('temp')" [style]="{'margin-left': '15px'}"></p-radioButton>
              <label for="">Temporales</label>
              <p-radioButton name="group11"  [value]="2" [(ngModel)]="radioGra1" (onClick)="reiniciarVariableFechaDiasPerdidos('dir')" [style]="{'margin-left': '15px'}"></p-radioButton>
              <label for="">Directos</label>
            </div>
            <ngx-charts-advanced-pie-chart
            class="align-items-center mat-typography"
            [scheme]="colorScheme"
            [results]="randomEv1Donadb"
            [gradient]="gradient">
            </ngx-charts-advanced-pie-chart>
          </div>
          <div class="col-3">&nbsp;</div>
          <div class="col-6 grid">
            <div class="col-6">  
              <mat-icon aria-hidden="false" aria-label="event" fontIcon="event"></mat-icon>   
              <p-calendar appendTo="body"  view="month" [showButtonBar]="true" dateFormat="mm/yy" [(ngModel)]="filtroFechaDiasPerdidos[0]" 
              (onSelect)="selectRangoDiasPerdidosAt($event, 'desde')" placeholder="Desde" > </p-calendar> 
            </div>
            <div class="col-6"> 
              <mat-icon aria-hidden="false" aria-label="event" fontIcon="event"></mat-icon> 
              <p-calendar appendTo="body"  view="month" [showButtonBar]="true" dateFormat="mm/yy" [(ngModel)]="filtroFechaDiasPerdidos[1]" 
              (onSelect)="selectRangoDiasPerdidosAt($event, 'hasta')" placeholder="Hasta" > </p-calendar>
            </div>
          </div>
        </div>
      </div>
    </p-panel>
    <br/>

  <p-panel header="TASAS">
    <div class="colorfondo">
      <div class="grid">
      <!-- Primera grafica -->
        <div class="col-12">
          <p><b>
            <ng-container *ngIf="selectIndicarores1.length>0">
                <ng-container *ngFor="let ret of selectIndicarores1;first as f;last as l">
                <ng-container *ngIf="f ;else otro1">
                    {{ret.label}}
                </ng-container>
                <ng-template #otro1>
                    /{{ret.label}}
                </ng-template>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="selectIndicarores1.length==0">
                <ng-container *ngFor="let ret of Indicadores;first as f;last as l">
                <ng-container *ngIf="f ;else otro1">
                    {{ret.label}}
                </ng-container>
                <ng-template #otro1>
                    /{{ret.label}}
                </ng-template>
                </ng-container>
            </ng-container>
          </b></p>
        </div>

        <div class="col-12 align-items-center">
          <p-radioButton name="group12" [(ngModel)]="radioGra2" [value]="0"   (onClick)="getTasas_1()" [style]="{'margin-left':'15px'}"></p-radioButton>
          <label for="">Total</label>
          <p-radioButton name="group12" [(ngModel)]="radioGra2" [value]="1"  (onClick)="getTasas_1('temp')" [style]="{'margin-left':'15px'}"></p-radioButton>
          <label for="">Temporales</label>
          <p-radioButton name="group12" [(ngModel)]="radioGra2" [value]="2"  (onClick)="getTasas_1('dir')" [style]="{'margin-left':'15px'}"></p-radioButton>
          <label for="">Directos</label>
        </div>

        <div  class="col-8 grid">
          <div class="col-11" *ngIf="tasasNotFound">
            <s-dataNotFound [message]="'No se encontraron registros de Horas Hombre trabajadas'"></s-dataNotFound>
          </div>
          <div class="col-11 grafic" *ngIf="!tasasNotFound">
              <ngx-charts-bar-vertical-2d 
              [scheme]="colorScheme2"
              [animations]="false"
              [results]="tasaFrecuencia1"
              [gradient]="gradient"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [legend]="false"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="true"
              [xAxisLabel]="'Divisiones'"
              [yAxisLabel]="'Indicadores'"
              [barPadding]=0
              [groupPadding]=4
              [showDataLabel]="true"
              [tooltipDisabled]="false">
              </ngx-charts-bar-vertical-2d>
          </div>
          <div class="col-1">&nbsp;</div>
        </div>

        <div class="col-12 md:col-4 lg:col-4 filter">
          <h3>Año</h3>
          <p-dropdown [style]="{'width':'100%'}" appendTo="body" [options]="yearRange" placeholder="Seleccionar año"
          [(ngModel)]="filtroAnioTasa_1" (onChange)="getTasas_1('filtro')"
          [style]="{'margin-bottom':'10px', 'margin-top':'-5px'}"></p-dropdown>
          <h3>Meses</h3>
          <p-multiSelect [style]="{'width':'100%'}" defaultLabel="Seleccione" [options]="Meses"
          [(ngModel)]="selectedMesesTasa1" (onChange)="getTasas_1('filtro')"
          [style]="{'margin-bottom':'10px', 'margin-top':'-5px'}"></p-multiSelect>
          <h3>Division</h3>
          <p-multiSelect [style]="{'width':'100%'}" [options]="divisiones2" defaultLabel="Seleccione"
          [(ngModel)]="selectDivisiones1" (onChange)="filtroTasas1_1()"
          [style]="{'margin-bottom':'10px', 'margin-top':'-5px'}"></p-multiSelect>
          <h3>Filtro indicadores</h3>
          <div *ngFor="let Indicador of Indicadores" class="p-field-checkbox">
            <p-checkbox name="group2" value="Indicador" [value]="Indicador"
            [(ngModel)]="selectIndicarores1" [inputId]="Indicador.value"
            (click)="filtroTasas1_1()"></p-checkbox>
            <label>{{Indicador.label}}</label>
          </div>
        </div>
      </div>
      <hr/>
      <!-- Segunda grafica -->
      <div class="grid">
        <div class="col-12">
        <p><b>
          <ng-container *ngIf="selectIndicarores2.length>0">
              <ng-container *ngFor="let ret of selectIndicarores2;first as f;last as l">
              <ng-container *ngIf="f ;else otro1">
                  {{ret.label}}
              </ng-container>
              <ng-template #otro1>
                  /{{ret.label}}
              </ng-template>
              </ng-container>
          </ng-container>
          <ng-container *ngIf="selectIndicarores2.length==0">
              <ng-container *ngFor="let ret of Indicadores;first as f;last as l">
              <ng-container *ngIf="f ;else otro1">
                  {{ret.label}}
              </ng-container>
              <ng-template #otro1>
                  /{{ret.label}}
              </ng-template>
              </ng-container>
          </ng-container>
        </b></p>
      </div>
        <div class="col-12  align-items-center">
          <p-radioButton name="group13" [(ngModel)]="radioGra3" [value]="0" (onClick)="getTasas_2()" [style]="{'margin-left':'15px'}"></p-radioButton>
          <label for="">Total</label>
          <p-radioButton name="group13" [(ngModel)]="radioGra3" [value]="1" (onClick)="getTasas_2('temp')" [style]="{'margin-left':'15px'}"></p-radioButton>
          <label for="">Temporales</label>
          <p-radioButton name="group13" [(ngModel)]="radioGra3" [value]="2" (onClick)="getTasas_2('dir')" [style]="{'margin-left':'15px'}"></p-radioButton>
          <label for="">Directos</label>
        </div>

        <div  class="col-8 grid">
          <div class="col-11" *ngIf="tasasNotFound2">
            <s-dataNotFound [message]="'No se encontraron registros de Horas Hombre trabajadas'"></s-dataNotFound>
          </div>
          <div class="col-11 grafic" *ngIf="!tasasNotFound2">
            <ngx-charts-bar-vertical-2d
            class="align-items-center"
            [scheme]="colorScheme2"
            [animations]="false"
            [results]="tasaFrecuencia2"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="false"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="true"
            [xAxisLabel]="'Meses'"
            [yAxisLabel]="'Indicadores'"
            [showDataLabel]="flagtasa2"
            [barPadding]=0
            [groupPadding]=4
            [tooltipDisabled]="flagtasa2">
            </ngx-charts-bar-vertical-2d>
          </div>
          <div class="col-1">&nbsp;</div>
        </div>
        <div class="col-12 md:col-4 lg:col-4 filter">
          <h3>Año</h3>
          <p-dropdown [style]="{'width':'100%'}" appendTo="body" [options]="yearRange" placeholder="Seleccionar año" 
          [(ngModel)]="filtroAnioTasa_2" (onChange)="getTasas_2('filtro')"
          [style]="{'margin-bottom':'10px', 'margin-top':'-5px'}"></p-dropdown>
          <h3>Meses</h3>
          <p-multiSelect [style]="{'width':'100%'}" defaultLabel="Seleccione" [options]="Meses" [(ngModel)]="selectMeses1" 
          (onChange)="filtroTasas_2()"
          [style]="{'margin-bottom':'10px', 'margin-top':'-5px'}"></p-multiSelect>
          <!-- divisiones -->
          <h3>Division</h3>
          <p-dropdown [style]="{'width':'100%'}" placeholder="Seleccione" [options]="divisiones" [showClear]="true"
          [(ngModel)]="filtroDivisionesTasa_2" (onChange)="getTasas_2('filtro')"
          [style]="{'margin-bottom':'10px', 'margin-top':'-5px'}"></p-dropdown>
          <h3>Filtro indicadores</h3>
          <div *ngFor="let Indicador of Indicadores" class="p-field-checkbox">
              <p-checkbox name="group4" value="Indicador" [value]="Indicador" 
              [(ngModel)]="selectIndicarores2" [inputId]="Indicador.value" 
              (onChange)="filtroTasas_2()"></p-checkbox>
              <label>{{Indicador.label}}</label>
          </div>
        </div>
      </div>
    </div>
  </p-panel>
  <br/>


  <p-panel header="EVENTOS">
    <div class="colorfondo">
      <!-- Tercera grafica -->
      <div class="grid">
        <div class="col-12">
        <p><b>
          <ng-container *ngIf="selectEventos1.length>0">
              <ng-container *ngFor="let ret of selectEventos1;first as f;last as l">
              <ng-container *ngIf="f ;else otro1">
                  {{ret.label}}
              </ng-container>
              <ng-template #otro1>
                  /{{ret.label}}
              </ng-template>
              </ng-container>
          </ng-container>
          <ng-container *ngIf="selectEventos1.length==0">
              <ng-container *ngFor="let ret of Eventos;first as f;last as l">
              <ng-container *ngIf="f ;else otro1">
                  {{ret.label}}
              </ng-container>
              <ng-template #otro1>
                  /{{ret.label}}
              </ng-template>
              </ng-container>
          </ng-container>
        </b></p>
      </div>
        <div class="col-12  align-items-center">
          <!-- <p>Eventos</p> -->
          <p-radioButton name="group14" [(ngModel)]="filtroEventos1"  [value]="'total'" (onClick)="getEventos_1()" [style]="{'margin-left':'15px'}"></p-radioButton>
          <label for="">Total</label>
          <p-radioButton name="group14" [(ngModel)]="filtroEventos1"  [value]="'temp'" (onClick)="getEventos_1()" [style]="{'margin-left':'15px'}"></p-radioButton>
          <label for="">Temporales</label>
          <p-radioButton name="group14" [(ngModel)]="filtroEventos1"  [value]="'dir'" (onClick)="getEventos_1()" [style]="{'margin-left':'15px'}"></p-radioButton>
          <label for="">Directos</label>
        </div>
        <div  class="col-8 grid">
          <div class="col-11 grafic" style="height: 500px;">
            <ngx-charts-bar-vertical-2d
            class="align-items-center"
            [scheme]="colorScheme2"
            [results]="dataEventos1"
            [animations]="false"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="false"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="true"
            [xAxisLabel]="'Divisiones'"
            [yAxisLabel]="'eventos'"
            [showDataLabel]="true"
            [barPadding]=0
            [groupPadding]=4>
            </ngx-charts-bar-vertical-2d>
          </div>
          <div class="col-1">&nbsp;</div>
          <div class="col-2">&nbsp;</div>
          <div class="col-8 grid">
              <div class="col-6">  
                <mat-icon aria-hidden="false" aria-label="event" fontIcon="event"></mat-icon>   
                <p-calendar appendTo="body"  view="month" [showButtonBar]="true" dateFormat="mm/yy" placeholder="Desde"  [(ngModel)]="evento1Desde" (onClearClick)="getEventos_1()" (onSelect)="getEventos_1()"> </p-calendar> 
              </div>
              <div class="col-6"> 
                <mat-icon aria-hidden="false" aria-label="event" fontIcon="event"></mat-icon> 
                <p-calendar appendTo="body"  view="month" [showButtonBar]="true" dateFormat="mm/yy" placeholder="Hasta"  [(ngModel)]="evento1Hasta" (onClearClick)="getEventos_1()" (onSelect)="getEventos_1()"> </p-calendar>
              </div>
          </div>
        </div>

        <div class="col-12 md:col-4 lg:col-4 filter">
          <h3>Division</h3>
          <div *ngFor="let category of divisiones2" class="p-field-checkbox">
              <p-checkbox name="group3" value="category" [value]="category"  [(ngModel)]="selectDivisiones2" [inputId]="category.value" (click)="filtroEventos_1()"></p-checkbox>
              <label>{{category.label}}</label>
          </div>

          <h3>Filtro eventos</h3>
          <div *ngFor="let Indicador of Eventos" class="p-field-checkbox">
              <p-checkbox name="group4" value="Indicador" [value]="Indicador"  [(ngModel)]="selectEventos1" [inputId]="Indicador.value" (click)="filtroEventos_1()"></p-checkbox>
              <label>{{Indicador.label}}</label>
          </div>
        </div>
      </div>

        <hr/>
      <!-- Cuarta grafica -->
      <div class="grid">
        <div class="col-12">
        <p><b>
          <ng-container *ngIf="selectEventos2.length>0">
              <ng-container *ngFor="let ret of selectEventos2;first as f;last as l">
              <ng-container *ngIf="f ;else otro1">
                  {{ret.label}}
              </ng-container>
              <ng-template #otro1>
                  /{{ret.label}}
              </ng-template>
              </ng-container>
          </ng-container>
          <ng-container *ngIf="selectEventos2.length==0">
              <ng-container *ngFor="let ret of Eventos;first as f;last as l">
              <ng-container *ngIf="f ;else otro1">
                  {{ret.label}}
              </ng-container>
              <ng-template #otro1>
                  /{{ret.label}}
              </ng-template>
              </ng-container>
          </ng-container>
        </b></p>
      </div>
          <!-- <p>Eventos</p> -->
        <div class="col-12  align-items-center">
          <p-radioButton name="group15" [(ngModel)]="filtroEventos2"  [value]="'total'" (onClick)="getEventos_2()" [style]="{'margin-left':'15px'}"></p-radioButton>
          <label for="">Total</label>
          <p-radioButton name="group15" [(ngModel)]="filtroEventos2"  [value]="'temp'" (onClick)="getEventos_2()" [style]="{'margin-left':'15px'}"></p-radioButton>
          <label for="">Temporales</label>
          <p-radioButton name="group15" [(ngModel)]="filtroEventos2"  [value]="'dir'" (onClick)="getEventos_2()" [style]="{'margin-left':'15px'}"></p-radioButton>
          <label for="">Directos</label>
        </div>

        <div class="col-8 grid">
          <div class="col-11 grafic" style="height: 560px;">
            <ngx-charts-bar-vertical-2d
            class="align-items-center"
            [scheme]="colorScheme2"
            [results]="dataEventos2"
            [gradient]="gradient"
            [animations]="false"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="false"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="true"
            [xAxisLabel]="'Meses'"
            [yAxisLabel]="'Eventos'"
            [showDataLabel]="true"
            [barPadding]=0
            [groupPadding]=4>
            </ngx-charts-bar-vertical-2d>
          </div>
          <div class="col-1">&nbsp;</div>

          <div class="col-12">&nbsp;</div>
        </div>

        <div class="col-12 md:col-4 lg:col-4 filter">
          <h3>Año</h3>
            <p-dropdown [style]="{'width':'100%'}" appendTo="body" [options]="yearRange" [(ngModel)]="filtroAnioEventos2" placeholder="Seleccionar año" (onChange)="getEventos_2()"></p-dropdown>
          <h3>Meses</h3>
          <p-multiSelect [style]="{'width':'100%'}" defaultLabel="Seleccione" [options]="Meses" [(ngModel)]="selectMeses2" (onChange)="filtroEventos_2()"></p-multiSelect>
          <h3>Division</h3>
            <p-multiSelect [style]="{'width':'100%'}" defaultLabel="Seleccione" [options]="divisiones" [(ngModel)]="filtroDivisionEventos2" (onChange)="getEventos_2()"></p-multiSelect>
          <h3>Filtro indicadores</h3>
          <div *ngFor="let Indicador of Eventos" class="p-field-checkbox">
              <p-checkbox name="group4" value="Indicador" [value]="Indicador"  [(ngModel)]="selectEventos2" [inputId]="Indicador.value" (click)="filtroEventos_2()"></p-checkbox>
              <label>{{Indicador.label}}</label>
          </div>
        </div>
      </div>
    </div>
  </p-panel>
  <br/>


  <p-panel header="ILI">
    <br>
    <div class="colorfondo">
  <!-- Quinta grafica -->
  <div class="grid">

    <div class="col-8 grid">
      <div class="col-11 grafic" style="height: 650px; padding-left: 5%;">
        <p-chart type="bar" [data]="dataIli_1" [options]="optionsIli_1" width="90%" height="100%"></p-chart>
      </div>
    </div>

    <div class="col-12 md:col-4 lg:col-4 filter">   
      <h3>Año</h3>
        <p-dropdown [style]="{'width':'100%'}" appendTo="body" [options]="yearRange" placeholder="Seleccionar año" [(ngModel)]="selectedAnioIli_1" (onChange)="getIli_1()"></p-dropdown>
      <h3>Meses</h3>
        <p-multiSelect [style]="{'width':'100%'}" defaultLabel="Seleccione" [options]="Meses" [(ngModel)]="filtroMesesIli_1" (onChange)="getIli_1()"></p-multiSelect> 
      <h3>Division</h3>
      <div *ngFor="let category of divisiones2" class="p-field-checkbox">
          <p-checkbox name="group6" value="label" [value]="category" [(ngModel)]="selectDivisionesILI1" (onChange)="filtroIli_1()"></p-checkbox>
          <label>{{category.label}}</label>
      </div>
    </div>
  </div>
  <hr/>
   <!-- Quinta grafica.2 -->
   <div class="grid">
    <div class="col-8 grid">
      <div class="col-11 grafic" style="height: 550px; padding-left: 5%;">
        <p-chart type="bar" [options]="optionsIli_2" [data]="dataIli_2" width="90%" height="100%"></p-chart>
      </div>
    </div>
    <div class="col-12 md:col-4 lg:col-4 filter">    
      <h3>Año</h3>
      <p-dropdown [style]="{'width':'100%'}" appendTo="body" [options]="yearRange" placeholder="Seleccionar año" 
      [(ngModel)]="selectedAnioIli_2" (onChange)="getIli_2()"
      [style]="{'margin-bottom':'10px', 'margin-top':'-5px'}"></p-dropdown>
      <h3>Meses</h3>
      <p-multiSelect [style]="{'width':'100%'}" defaultLabel="Seleccione" [options]="Meses" [(ngModel)]="selectMesesILI2" 
      (onChange)="filtroIli_2()" [style]="{'margin-bottom':'10px', 'margin-top':'-5px'}"></p-multiSelect> 
      <h3>Division</h3>
      <p-dropdown [style]="{'width':'100%'}" placeholder="Seleccione" [options]="divisiones" 
      [showClear]="true" [(ngModel)]="selectDivisionesILI2"
      (onChange)="getIli_2($event.value)" [style]="{'margin-bottom':'10px', 'margin-top':'-5px'}"></p-dropdown>
    </div>
  </div>
    </div>
  </p-panel>
</div>