<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p-panel [header]="visibleCamposAccidente ? 'FORMULARIO DE ACCIDENTES (FURAT)':'FORMULARIO DE INCIDENTES'">
        <p-accordion [multiple]="true">
            <p-accordionTab header="SEGURIDAD SOCIAL" *ngIf="visibleCamposAccidente">
                <div class="grid">
                    <div class="col-12 md:col-2 lg:col-2">
                        EPS
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa !='22'">
                        <input style="width: 100%;" pInputText formControlName="nombreEps" />
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa =='22'">
                        <input style="width: 100%;" pInputText formControlName="nombreEps" required />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="idEmpresa !='22';else blanco2">
                        Código EPS
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa !='22';else blanco4">
                        <input style="width: 100%;" pInputText formControlName="codigoEps" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        ARL
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa =='22'">
                        <input style="width: 100%;" pInputText formControlName="nombreArl" required />
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa !='22'">
                        <input style="width: 100%;" pInputText formControlName="nombreArl" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="idEmpresa !='22';else blanco2">
                        Código ARL
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa !='22';else blanco4">
                        <input style="width: 100%;" pInputText formControlName="codigoArl" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        AFP
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa =='22'">
                        <input style="width: 100%;" pInputText formControlName="nombreAfp" required/>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa !='22'">
                        <input style="width: 100%;" pInputText formControlName="nombreAfp" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="idEmpresa !='22';else blanco2">
                        Código AFP
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa !='22';else blanco4">
                        <input style="width: 100%;" pInputText formControlName="codigoAfp" />
                    </div>
                </div>
            </p-accordionTab>
            <ng-template #icorona>
                <p-accordionTab header="I. IDENTIFICACIÓN GENERAL DE LA EMPRESA"
                *ngIf="visibleCamposAccidente">
                 <div class="grid">
                    <div class="col-12 md:col-2 lg:col-2">
                        Nombre o razon social
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <input style="width: 100%;" pInputText formControlName="razonSocial" required/>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Nit.
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <input style="width: 100%;" pInputText formControlName="identificacionEmpresa" required/>
                    </div>
                 </div>
                </p-accordionTab>
            </ng-template>
            <p-accordionTab header="I. IDENTIFICACIÓN GENERAL DEL EMPLEADOR, CONTRATANTE O COOPERATIVA"
                *ngIf="visibleCamposAccidente  && idEmpresa !='22';else icorona">
                <div class="grid">
                    <div class="col-12 md:col-2 lg:col-2">
                        Tipo vinculador
                    </div>
                    <div class="col-12 md:col-10 lg:col-10">
                        <p-radioButton name="tipoVinculador" label="Empleador" value="EMPLEADOR"
                            formControlName="tipoVinculador"></p-radioButton>
                        <p-radioButton name="tipoVinculador" label="Contratante" value="CONTRATANTE"
                            formControlName="tipoVinculador"></p-radioButton>
                        <p-radioButton name="tipoVinculador" label="Cooperativa de trabajo asociado" value="COOPERATIVA"
                            formControlName="tipoVinculador"></p-radioButton>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Actividad económica (sede principal)
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <input style="width: 100%;" pInputText formControlName="nombreCiiu" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="idEmpresa !='22';else blanco2">
                        Código
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa !='22';else blanco4">
                        <input style="width: 100%;" pInputText formControlName="codigoCiiu" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Nombre o razon social
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <input style="width: 100%;" pInputText formControlName="razonSocial" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Tipo identificación
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <p-dropdown  [style]="{'width':'100%'}" [options]="tipoIdentificacionEmpresa" formControlName="tipoIdentificacionEmpresa">
                        </p-dropdown>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Número identificación
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <input style="width: 100%;" pInputText formControlName="identificacionEmpresa" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Dirección
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <input style="width: 100%;" pInputText formControlName="direccionEmpresa" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Teléfono
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <input style="width: 100%;" pInputText formControlName="telefonoEmpresa" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Fax
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <input style="width: 100%;" pInputText formControlName="telefono2Empresa" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Correo electrónico
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <input style="width: 100%;" pInputText formControlName="emailEmpresa"/>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Zona
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <p-radioButton name="zonaEmpresa" label="Urbana" formControlName="zonaEmpresa" value="U">
                        </p-radioButton>
                        <p-radioButton name="zonaEmpresa" label="Rural" formControlName="zonaEmpresa" value="R">
                        </p-radioButton>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Ciudad
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <s-ciudadSelector formControlName="ciudadEmpresa"></s-ciudadSelector>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="idEmpresa !='22';else blanco2">
                        Código
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa !='22';else blanco4">

                    </div>

                    <div class="col-12"></div>

                    <div class="col-12 md:col-2 lg:col-2">
                        ¿CT igual a sede principal?
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <p-radioButton name="centrTrabIgualSedePrinc" label="Si" value="true"
                            formControlName="centrTrabIgualSedePrinc"></p-radioButton>
                        <p-radioButton name="centrTrabIgualSedePrinc" label="No" value="false"
                            formControlName="centrTrabIgualSedePrinc"></p-radioButton>
                    </div>

                    <div class="col-12"></div>

                    <div class="col-12 md:col-2 lg:col-2">
                        Centro de trabajo
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <input style="width: 100%;" pInputText formControlName="nombreCentroTrabajo" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="idEmpresa !='22';else blanco2">
                        Código
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa !='22';else blanco4">
                        <input style="width: 100%;" pInputText formControlName="codigoCentroTrabajo" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Actividad económica (Centro de trabajo)
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <input style="width: 100%;" pInputText formControlName="nombreCiiuCentroTrabajo" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="idEmpresa !='22';else blanco2">
                        Código
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa !='22';else blanco4">
                        <input style="width: 100%;" pInputText formControlName="ciiuCentroTrabajo" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Dirección
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <input style="width: 100%;" pInputText formControlName="direccionCentroTrabajo" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Teléfono
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <input style="width: 100%;" pInputText formControlName="telefonoCentroTrabajo" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Ciudad
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <s-ciudadSelector formControlName="ciudadCentroTrabajo"></s-ciudadSelector>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Zona
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <p-radioButton name="zonaCentroTrabajo" label="Urbana" value="U"
                            formControlName="zonaCentroTrabajo"></p-radioButton>
                        <p-radioButton name="zonaCentroTrabajo" label="Rural" value="R"
                            formControlName="zonaCentroTrabajo"></p-radioButton>
                    </div>
                </div>
            </p-accordionTab>
            <ng-template #blanco2><div class="col-12 md:col-2 lg:col-2">
                &nbsp;
            </div></ng-template>
            <ng-template #blanco4><div class="col-12 md:col-4 lg:col-4">
                &nbsp;
            </div></ng-template>
            <p-accordionTab
                [header]="visibleCamposAccidente ? 'II. INFORMACIÓN DE LA PERSONA QUE SE ACCIDENTÓ':'I. INFORMACIÓN DE LA PERSONA QUE SE REPORTA'">
                <div class="grid">
                    <div class="col-12 md:col-2 lg:col-2">
                        Primer apellido
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa =='22'">
                        <input style="width: 100%;" pInputText formControlName="primerApellidoEmpleado" required/>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa !='22'">
                        <input style="width: 100%;" pInputText formControlName="primerApellidoEmpleado"/>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Segundo apellido
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa =='22'">
                        <input style="width: 100%;" pInputText formControlName="segundoApellidoEmpleado" required/>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa !='22'">
                        <input style="width: 100%;" pInputText formControlName="segundoApellidoEmpleado" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Primer nombre
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa =='22'">
                        <input style="width: 100%;" pInputText formControlName="primerNombreEmpleado" required/>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa !='22'">
                        <input style="width: 100%;" pInputText formControlName="primerNombreEmpleado" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Segundo nombre
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa =='22'">
                        <input style="width: 100%;" pInputText formControlName="segundoNombreEmpleado"/>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa !='22'">
                        <input style="width: 100%;" pInputText formControlName="segundoNombreEmpleado" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Tipo identificación
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa =='22'">
                        <p-dropdown  [style]="{'width':'100%'}" [options]="tipoIdentificacion" formControlName="tipoIdentificacionEmpleado" required>
                        </p-dropdown>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa !='22'">
                        <p-dropdown  [style]="{'width':'100%'}" [options]="tipoIdentificacion" formControlName="tipoIdentificacionEmpleado">
                        </p-dropdown>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Número identificación
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa =='22'">
                        <input style="width: 100%;" pInputText formControlName="numeroIdentificacionEmpleado" required/>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa !='22'">
                        <input style="width: 100%;" pInputText formControlName="numeroIdentificacionEmpleado" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente">
                        Fecha nacimiento
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa =='22'">
                        <p-calendar  appendTo="body" dateFormat="dd/mm/yy" [monthNavigator]="true"  [yearNavigator]="true" [yearRange]="yearRange" formControlName="fechaNacimientoEmpleado" required>
                        </p-calendar>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa !='22'">
                        <p-calendar   appendTo="body" dateFormat="dd/mm/yy" [monthNavigator]="true"  [yearNavigator]="true" [yearRange]="yearRange" formControlName="fechaNacimientoEmpleado">
                        </p-calendar>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente">
                        Género
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa =='22'">
                        <p-radioButton name="generoEmpleado" label="M" value="M" formControlName="generoEmpleado" required>
                        </p-radioButton>
                        <p-radioButton name="generoEmpleado" label="F" value="F" formControlName="generoEmpleado">
                        </p-radioButton>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa !='22'">
                        <p-radioButton name="generoEmpleado" label="M" value="M" formControlName="generoEmpleado">
                        </p-radioButton>
                        <p-radioButton name="generoEmpleado" label="F" value="F" formControlName="generoEmpleado">
                        </p-radioButton>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente && idEmpresa !='22'">
                        Dirección
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa !='22'">
                        <input style="width: 100%;" pInputText formControlName="direccionEmpleado" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente && idEmpresa =='22'">
                        Correo
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa =='22'">
                        <input style="width: 100%;" pInputText formControlName="emailEmpleado" readonly required/>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente">
                        Teléfono
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente">
                        <input style="width: 100%;" pInputText formControlName="telefonoEmpleado"/>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente">
                        Teléfono 2
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente">
                        <input style="width: 100%;" pInputText formControlName="telefono2Empleado"/>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente">
                        Fecha ingreso
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa =='22'">
                        <p-calendar  appendTo="body"  dateFormat="dd/mm/yy" formControlName="fechaIngresoEmpleado" (ngModelChange)="changeCalendar()" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange" required>
                        </p-calendar>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa !='22'">
                        <p-calendar   appendTo="body" dateFormat="dd/mm/yy" formControlName="fechaIngresoEmpleado" (ngModelChange)="changeCalendar()" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRange">
                        </p-calendar>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente">
                        Ciudad
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa =='22'">
                        <s-ciudadSelector id="ciudadSelector" formControlName="ciudadEmpleado" required></s-ciudadSelector>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa !='22'">
                        <s-ciudadSelector formControlName="ciudadEmpleado"></s-ciudadSelector>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente">
                        Cargo
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa =='22'">
                        <input style="width: 100%;" pInputText formControlName="cargoEmpleado" required/>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa !='22'">
                        <input style="width: 100%;" pInputText formControlName="cargoEmpleado" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente && idEmpresa !='22';else blanco2">
                        Tipo vinculación
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa !='22';else blanco4">
                        <p-dropdown  [style]="{'width':'100%'}" [options]="tipoVinculacionList" formControlName="tipoVinculacion"></p-dropdown>
                    </div>
                    <div  class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente && idEmpresa !='22';else blanco2">
                        Código
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa !='22';else blanco4">
                        <input style="width: 100%;" pInputText formControlName="codigoTipoVinculacion" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente && idEmpresa !='22';else blanco2">
                        Ocupación habitual
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa !='22';else blanco4">
                        <input style="width: 100%;" pInputText formControlName="ocupacionHabitual" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente && idEmpresa !='22';else blanco2">
                        Código
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa !='22';else blanco4">
                        <input style="width: 100%;" pInputText formControlName="codigoOcupacionHabitual" />
                    </div>
                    
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="idEmpresa !='22';else blanco2">
                        Zona residencia
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa !='22';else blanco4">
                        <p-radioButton name="zonaEmpleado" label="Urbana" value="U" formControlName="zonaEmpleado">
                        </p-radioButton>
                        <p-radioButton name="zonaEmpleado" label="Rural" value="R" formControlName="zonaEmpleado">
                        </p-radioButton>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente">
                        Tiempo ocupación habitual
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente">
                        Días: <input style="width: 100%;" pInputText placeholder="DD" style="width: 24%;" formControlName="diasLaborHabitual" readonly/>
                        Meses: <input style="width: 100%;" pInputText placeholder="MM" style="width: 24%;" formControlName="mesesLaborHabitual" readonly/>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente">
                        Salario u honorarios
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa =='22'">
                        <input style="width: 100%;" type="number"  pInputText formControlName="salario" required/>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa !='22'">
                        <input style="width: 100%;"  type="number" pInputText formControlName="salario" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Jornada trabajo habitual
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa =='22'">
                        <p-dropdown  [style]="{'width':'100%'}" [options]="jornadaTrabajoList" formControlName="jornadaHabitual" required></p-dropdown>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa !='22'">
                        <p-dropdown  [style]="{'width':'100%'}" [options]="jornadaTrabajoList" formControlName="jornadaHabitual"></p-dropdown>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Ubicación
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <area-selector formControlName="areaAccidente" style="width: 350px;"
                            [name]="this.reporte?.areaAccidente ?this.reporte?.areaAccidente.nombre:''" required>
                        </area-selector>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="idEmpresa=='22'">
                        Localidad
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa=='22'">
                        <input pInputText type="text" [value]="this.form?.value?.localidad?.localidad"
                        [ngModelOptions]="{standalone: true}" style="width: 90%;" 
                        [style]="{'border-left': '2px solid', 'border-left-color': this.form?.value?.localidad?.localidad ? '#73d216' : 'red'}"
                        required readonly>
                        <p-button icon="pi pi-search" (click)="mostrarDialogLocalidades=true"></p-button>
                        
                        <!-- Para que se haga obligatorio el campo -->
                        <input formControlName="localidad" style="display: contents;" required>

                        <p-dialog header="Localidades" [(visible)]="mostrarDialogLocalidades" [closable]="false"
                        [style]="{width: '50vw'}" [modal]="true" appendTo="body">
                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                    <em class="bi bi-search"></em>
                                </span>
                                <input type="text" pInputText class="form-control" 
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="filtroLocalidades">
                                <button pButton class="p-button-rounded p-button-danger" icon="pi pi-times"
                                (click)="filtroLocalidades=null;"></button>
                            </div>
                            
                            <div *ngFor="let data of localidadList">
                                <div class="grid" style="width: 300px;margin-bottom: 10px;"
                                *ngIf="filtrarLocalidad(data)">
                                    <div class="col-12">
                                        <p-radioButton [inputId]="data.value.localidad" [value]="data.value" 
                                        [label]="data.label"
                                        [(ngModel)]="form.value.localidad" [ngModelOptions]="{standalone: true}"
                                        (onClick)="onSelectLocalidad($event)"></p-radioButton>
                                        <!-- <label  class="ml-2">
                                            {{data.value.localidad}}
                                        </label> -->
                                    </div>
                                </div>
                            </div>

                            <p-footer>
                                <!-- <button pButton class="p-button-danger" (click)="form.value.localidad = null; mostrarDialogLocalidades = false"
                                >Cancelar</button> -->
                                <button pButton (click)="mostrarDialogLocalidades = false">Aceptar</button>
                            </p-footer>
                        </p-dialog>
                    </div>
                </div>
            </p-accordionTab>


            <p-accordionTab
                [header]="visibleCamposAccidente ? 'III. INFORMACIÓN SOBRE EL ACCIDENTE':'II. INFORMACIÓN SOBRE EL INCIDENTE'">
                <div class="grid">
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="idEmpresa == '3' || idEmpresa == '22';else blanco2">
                        Numero de FURAT
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa == '3' || idEmpresa == '22';else blanco4" >
                        <input style="width: 100%;" pInputText formControlName="numerofurat" required />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Fecha {{visibleCamposAccidente ? 'accidente':'incidente'}}
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <p-calendar   appendTo="body" dateFormat="dd/mm/yy" formControlName="fechaAccidente" (onSelect)="changeCalendar()" required>
                        </p-calendar>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Hora {{visibleCamposAccidente ? 'accidente':'incidente'}}
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa == '22'">
                        <p-calendar   appendTo="body" dateFormat="dd/mm/yy" [timeOnly]="true"
                            formControlName="horaAccidente" required></p-calendar>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa != '22'">
                        <p-calendar  appendTo="body"  dateFormat="dd/mm/yy" [timeOnly]="true"
                            formControlName="horaAccidente"></p-calendar>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Jornada
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa == '22'">
                        <p-radioButton name="jornadaAccidente" label="Normal" value="NORMAL"
                            formControlName="jornadaAccidente" required></p-radioButton>
                        <p-radioButton name="jornadaAccidente" label="Extra" value="EXTRA" formControlName="jornadaAccidente">
                        </p-radioButton>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa != '22'">
                        <p-radioButton name="jornadaAccidente" label="Normal" value="NORMAL"
                            formControlName="jornadaAccidente"></p-radioButton>
                        <p-radioButton name="jornadaAccidente" label="Extra" value="EXTRA" formControlName="jornadaAccidente">
                        </p-radioButton>
                    </div>

                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente">
                        Realizaba labor habitual
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa == '22'">
                        <p-radioButton name="realizandoLaborHabitual" label="Si" [value]="true"
                            formControlName="realizandoLaborHabitual" required></p-radioButton>
                        <p-radioButton name="realizandoLaborHabitual" label="No" [value]="false"
                            formControlName="realizandoLaborHabitual"></p-radioButton>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa != '22'">
                        <p-radioButton name="realizandoLaborHabitual" label="Si" [value]="true"
                            formControlName="realizandoLaborHabitual"></p-radioButton>
                        <p-radioButton name="realizandoLaborHabitual" label="No" [value]="false"
                            formControlName="realizandoLaborHabitual"></p-radioButton>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente && (form?.value.realizandoLaborHabitual==false);else blanco2">
                        ¿Cual?
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && (form?.value.realizandoLaborHabitual==false);else blanco4">
                        <input style="width: 100%;" pInputText formControlName="nombreLaborHabitual" />
                    </div>

                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente && idEmpresa !='22';else blanco2">
                        Código labor habitual
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa !='22';else blanco4">
                        <input style="width: 100%;" pInputText formControlName="codigoLaborHabitual" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente">
                        Hora de inicio de labores
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf=" idEmpresa =='22'">
                    <p-calendar   appendTo="body" dateFormat="dd/mm/yy" [timeOnly]="true"
                            formControlName="horaInicioLabor" required></p-calendar>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa !='22'">
                        <p-calendar  appendTo="body"  dateFormat="dd/mm/yy" [timeOnly]="true"
                                formControlName="horaInicioLabor"></p-calendar>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Tipo {{visibleCamposAccidente ? 'accidente':'incidente'}}
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf=" idEmpresa =='22'">
                        <p-dropdown  [style]="{'width':'100%'}" [options]="tipoAccidenteList" formControlName="tipoAccidente" required></p-dropdown>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf=" idEmpresa !='22'">
                        <p-dropdown  [style]="{'width':'100%'}" [options]="tipoAccidenteList" formControlName="tipoAccidente"></p-dropdown>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente">
                        Ciudad
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa =='22'">
                        <s-ciudadSelector formControlName="ciudadAccidente" required></s-ciudadSelector>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa !='22'">
                        <s-ciudadSelector formControlName="ciudadAccidente"></s-ciudadSelector>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente">
                        Zona
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa =='22'">
                        <p-radioButton name="zonaAccidente" label="Urbana" value="U" formControlName="zonaAccidente" required>
                        </p-radioButton>
                        <p-radioButton name="zonaAccidente" label="Rural" value="R" formControlName="zonaAccidente">
                        </p-radioButton>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa !='22'">
                        <p-radioButton name="zonaAccidente" label="Urbana" value="U" formControlName="zonaAccidente">
                        </p-radioButton>
                        <p-radioButton name="zonaAccidente" label="Rural" value="R" formControlName="zonaAccidente">
                        </p-radioButton>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente && idEmpresa =='22';else blanco2">
                        Clasificación del evento
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa =='22';else blanco4">
                        <p-dropdown  [style]="{'width':'100%'}" [options]="severidadList" formControlName="severidad" required></p-dropdown>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente">
                        ¿Causó muerte?
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa =='22'">
                        <p-radioButton name="causoMuerte" label="Si" [value]="true" formControlName="causoMuerte" required>
                        </p-radioButton>
                        <p-radioButton name="causoMuerte" label="No" [value]="false" formControlName="causoMuerte">
                        </p-radioButton>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa !='22'">
                        <p-radioButton name="causoMuerte" label="Si" [value]="true" formControlName="causoMuerte">
                        </p-radioButton>
                        <p-radioButton name="causoMuerte" label="No" [value]="false" formControlName="causoMuerte">
                        </p-radioButton>
                    </div>

                    <div class="col-12 md:col-2 lg:col-2">
                        Lugar {{visibleCamposAccidente ? 'accidente':'incidente'}}
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa =='22'">
                        <p-dropdown  [style]="{'width':'100%'}" [options]="lugarList" formControlName="lugarAccidente" required></p-dropdown>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa !='22'">
                        <p-dropdown  [style]="{'width':'100%'}" [options]="lugarList" formControlName="lugarAccidente"></p-dropdown>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Sitio {{visibleCamposAccidente ? 'accidente':'incidente'}}
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa =='22'">
                        <p-dropdown  [style]="{'width':'100%'}" [options]="sitioList" formControlName="sitio" required></p-dropdown>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa !='22'">
                        <p-dropdown  [style]="{'width':'100%'}" [options]="sitioList" formControlName="sitio"></p-dropdown>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente && (form?.value.sitio=='OTRO');else blanco2">
                        ¿Cual?
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && (form?.value.sitio=='OTRO');else blanco4">
                        <input style="width: 100%;" pInputText formControlName="cualSitio" placeholder="Sitio del accidente" />
                    </div>

                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente">
                        Tipo lesión
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa =='22'">
                        <p-dropdown  [style]="{'width':'100%'}" [options]="tipoLesionList" formControlName="tipoLesion" required></p-dropdown>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa !='22'">
                        <p-dropdown  [style]="{'width':'100%'}" [options]="tipoLesionList" formControlName="tipoLesion" required></p-dropdown>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente && (form?.value.tipoLesion=='OTRO');else blanco2">
                        ¿Cual?
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && (form?.value.tipoLesion=='OTRO');else blanco4">
                        <input style="width: 100%;" pInputText formControlName="cualTipoLesion" placeholder="Tipo lesión" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente ">
                        Agente del accidente
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa =='22'">
                        <p-dropdown  [style]="{'width':'100%'}" [options]="agenteList" formControlName="agente" required></p-dropdown>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && idEmpresa !='22'">
                        <p-dropdown  [style]="{'width':'100%'}" [options]="agenteList" formControlName="agente"></p-dropdown>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2" *ngIf="visibleCamposAccidente && (form?.value.agente=='NO_CLASIFICADOS');else blanco2">
                        ¿Cual?
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="visibleCamposAccidente && (form?.value.agente=='NO_CLASIFICADOS');else blanco4">
                        <input style="width: 100%;" pInputText formControlName="cualAgente" placeholder="Agente" />
                    </div>

                    <div class="col-12 md:col-2 lg:col-2">
                        Mecanismo
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa =='22'">
                        <p-dropdown  [style]="{'width':'100%'}" [options]="mecanismoList" formControlName="mecanismo" required></p-dropdown>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa !='22'">
                        <p-dropdown  [style]="{'width':'100%'}" [options]="mecanismoList" formControlName="mecanismo"></p-dropdown>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2 " *ngIf="(form?.value.mecanismo=='OTRO');else blanco2">
                        ¿Cual?
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="form?.value.mecanismo=='OTRO';else blanco4">
                        <input style="width: 100%;" pInputText formControlName="cualMecanismo" placeholder="Mecanismo" />
                    </div>

                    <div class="col-12 md:col-2 lg:col-2">
                        Parte del cuerpo afectada
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa =='22'">
                        <p-dropdown  [style]="{'width':'100%'}" [options]="parteCuerpoList" formControlName="parteCuerpo" required></p-dropdown>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4" *ngIf="idEmpresa !='22'">
                        <p-dropdown  [style]="{'width':'100%'}" [options]="parteCuerpoList" formControlName="parteCuerpo"></p-dropdown>
                    </div>
                </div>
            </p-accordionTab>


            <p-accordionTab
                [header]="visibleCamposAccidente ? 'IV. DESCRIPCIÓN PRELIMINAR DEL ACCIDENTE':'III. DESCRIPCIÓN DEL INCIDENTE'">
                <div class="grid">
                    <div class="col-12 ">
                        Describa preliminarmente dentro de la información del {{visibleCamposAccidente ?
                        'accidente':'incidente'}}, que lo originó
                        o causó y los demas aspectos relacionados
                    </div>
                    <div class="col-12" *ngIf="idEmpresa =='22'">
                        <textarea type="text" pInputText style="width:100%;height: 100px;"
                            formControlName="descripcion" required></textarea>
                    </div>
                    <div class="col-12" *ngIf="idEmpresa !='22'">
                        <textarea type="text" pInputText style="width:100%;height: 100px;"
                            formControlName="descripcion"></textarea>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        ¿Hubo personas que presenciaron el {{visibleCamposAccidente ? 'accidente':'incidente'}}?
                    </div>
                    <div class="col-1">
                        <p-radioButton name="huboTestigos" label="Si" [value]="true" formControlName="huboTestigos">
                        </p-radioButton>
                    </div>
                    <div class="col-1">
                        <p-radioButton name="huboTestigos" label="No" [value]="false" formControlName="huboTestigos">
                        </p-radioButton>
                    </div>
                    
                    <div class="col-2">
                        <button pButton type="button" icon="fa fa-plus" label="Adicionar"
                            (click)="adicionarTestigo()"></button>
                    </div>
                    <div class="col-12">
                        <p-table [value]="testigoReporteList" autoLayout="true">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="width20">Nombres</th>
                                    <th class="width20">Apellidos</th>
                                    <th class="width20">Cargo</th>
                                    <th class="width20">Tipo identificación</th>
                                    <th class="width20">Número identificación</th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-testigo>
                                <tr>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input style="width: 100%;" pInputText [(ngModel)]="testigo.nombres"
                                                    [ngModelOptions]="{standalone: true}" />
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{testigo.nombres}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input style="width: 100%;" pInputText [(ngModel)]="testigo.apellidos"
                                                    [ngModelOptions]="{standalone: true}" />
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{testigo.apellidos}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input style="width: 100%;" pInputText [(ngModel)]="testigo.cargo"
                                                    [ngModelOptions]="{standalone: true}" />
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{testigo.cargo}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <p-dropdown  [style]="{'width':'100%'}" [options]="tipoIdentificacion"
                                                    [(ngModel)]="testigo.tipoIdentificacion"
                                                    [ngModelOptions]="{standalone: true}" appendTo="body"
                                                    [autoWidth]="false"></p-dropdown>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{testigo.tipoIdentificacion}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td pEditableColumn>
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <input style="width: 100%;" pInputText [(ngModel)]="testigo.numeroIdentificacion"
                                                    [ngModelOptions]="{standalone: true}" />
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{testigo.numeroIdentificacion}}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td style="width: 3em;">
                                        <button pButton type="button" class="soft-icon" icon="pi pi-times"
                                            (click)="removerTestigo(testigo)"></button>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div class="col-12 ">
                        Responsable del informe
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Nombres
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <input style="width: 100%;" pInputText formControlName="nombresResponsable" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Apellidos
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <input style="width: 100%;" pInputText formControlName="apellidosResponsable" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Tipo identificacion
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <p-dropdown  [style]="{'width':'100%'}" [options]="tipoIdentificacion" formControlName="tipoIdentificacionResponsable">
                        </p-dropdown>
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Número identificación
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <input style="width: 100%;" pInputText formControlName="numeroIdentificacionResponsable" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Cargo
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        <input style="width: 100%;" pInputText formControlName="cargoResponsable" />
                    </div>
                    <div class="col-12 md:col-2 lg:col-2">
                        Fecha reporte
                    </div>
                    <div class="col-12 md:col-4 lg:col-4">
                        {{form?.value.fechaReporte | date:'dd/MM/yyyy HH:mm'}}
                    </div>

                </div>
            </p-accordionTab>
        </p-accordion>
    </p-panel>

    <ng-container *ngIf="!consultar && adicionar">
        <button *sTienePermiso="'RAI_POST_REP'" pButton type="submit" icon="bi bi-save" title="Guardar reporte"
            class="float-btn" [disabled]="!form.valid"></button>
    </ng-container>

    <ng-container *ngIf="!consultar && !adicionar">
        <button *sTienePermiso="'RAI_PUT_REP'" pButton type="submit" icon="bi bi-pencil" title="Actualizar reporte"
            class="float-btn p-button-success" [disabled]="!form.valid"></button>
    </ng-container>

</form>