    // .contenedor{
    //     //height: 91vh;
    //     margin-top: 1vh;
    //     background: #FFFFFF;
    //     box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    //     border-radius: 10px;
    //     width: 300px;
    //     margin-left: 1px;
    //     text-align: center;
    // }

    .hiddenMenu{
        // background: teal !important;
        animation: leftBox 2s forwards;
        width: auto;
    }


    .showMenu{
        // background: rgb(145, 221, 23) !important;
        animation: rigthtBox 12s forwards;
        
    }

   
    .contenedor{
        // height: 91vh;
        height: 100%;
        // background: red;
        // padding-left: 12px;
        // border-radius: 20px;
        // background: red; 
        // margin-top: 1vh;
        // background: #FFFFFF;
        // box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        // border-radius: 10px;
        // width: 300px;
        // margin-left: 1px;
        // text-align: center;
        // // background: red;
        // height: 75vh;
        // // display: flex;
        // // align-items: center;
        // padding-top: 10px;
        // position: absolute;
        // z-index: 10;
        
    }