<!-- <button (click)="test()">test</button> -->
<s-mensaje-usuario></s-mensaje-usuario>
<div>
    <div class="main-header">
    <!-- <div> -->
        <app-nav [usuario]="usuario" [empresasItems]="empresasItems" [empresaSelect]="empresaSelect" [empresaSelectOld]="empresaSelectOld" (reloadEmpresa)="reloadEmpresa()"></app-nav>
    </div>
    <div class="contenedor-ppal">
        <app-layout-menu [statusMenuIn]="statusMenu"></app-layout-menu>

        <ng-content select="app-menu"></ng-content>
        <div style="width: 96%; padding: 10px; ">   
            <router-outlet></router-outlet>
        </div>

    </div>
    <app-idle-timeout></app-idle-timeout>
</div>