<!-- <button (click)="test()">test</button> -->
<div>
    <app-nav [usuario]="usuario" [empresasItems]="empresasItems" [empresaSelect]="empresaSelect" [empresaSelectOld]="empresaSelectOld" (reloadEmpresa)="reloadEmpresa()"></app-nav>
    <div class="contenedor-ppal">
        <app-layout-menu></app-layout-menu>
        <ng-content select="app-menu"></ng-content>
        <div style="width: 96%; padding: 10px; background-color: #EEF2F6;">   
            <router-outlet></router-outlet>
        </div>
    </div>
    <app-whatsapp></app-whatsapp>
    <app-idle-timeout></app-idle-timeout>
</div>