.contenedor-ppal{
    display:flex;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 50px; /* Posicionamos la cabecera pegada arriba */
	position: absolute; /* Hacemos que la cabecera tenga una posición fija */
    z-index: 0;
}

.vantana{
    width: 100%;
}
.main-header {
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
    z-index: 101;
}