<!-- <p-toast key="scmGenerico"></p-toast> -->
<div class="container">
    <div class="row">
        <form [formGroup]="seguimientogenerico">
            <div class="row mb-3">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <label for="" class="active">Fecha de seguimiento</label>
                        <p-calendar [touchUI]="true" [monthNavigator]="true" showButtonBar="true"
                            [yearNavigator]="true" yearRange="2010:2030" formControlName="fechaSeg"
                            dateFormat="dd/mm/yy" placeholder="dd/MM/yyyy" [locale]="localeES"
                            appendTo="body" required>
                        </p-calendar>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="input-field">
                        <label for="" class="active">Seguimiento</label>
                        <textarea pInputTextarea formControlName="seguimiento" pInputTextarea
                            rows="6" required></textarea>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="input-field">
                        <label for="" class="active">Tarea</label>
                        <textarea pInputTextarea formControlName="tarea" pInputTextarea rows="2" required></textarea>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 col-sm-12">
                        <div class="input-field" style="height: 30px;">
                            <label for="" class="active">Responsable Empresa</label>
                            <p-autoComplete appendTo="body" #autocomplete placeholder="Digite"
                                [style]="{'width':'100%'}" (onSelect)="responsable = $event" [suggestions]="empleadosList"
                                (completeMethod)="buscarEmpleado($event)" field="numeroIdentificacion"
                                formControlName="responsable" *ngIf="empleado?.id == null" required="">
                                <ng-template let-empleado pTemplate="item">
                                    <div style="margin-left:20px">
                                        <label>{{empleado?.primerNombre}} {{empleado?.primerApellido}}</label>
                                        <br/> {{empleado?.numeroIdentificacion}}
                                        <br/> {{empleado?.usuarioBasic.email}}
                                    </div>
                                </ng-template>
                            </p-autoComplete>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="input-field">
                            <label for="" class="active">Responsable Externo </label>
                            <input pInputText formControlName="responsableExterno" style="height: 30px;">
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 col-sm-12">
                        <div class="input-field">
                            <label for="" class="active">Resultado</label>
                            <input pInputText formControlName="resultado" style="height: 30px;" required>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="ui-g-12 p-pt-3">
        <button *sTienePermiso="'SCM_POST_CASE_SEG_GENERIC'" pButton type="button"
            [label]="(seguiSelect) ? 'Actualizar' : 'Guardar'" icon="fa fa-plus" (click)="onSubmit()">
        </button>
    </div>
</div>