.button-round{
    border-radius: 50px !important;
}

.button-orange{
    background: var(--yellow-d1)!important;
}

.button-gray{
    background: rgb(148, 148, 148) !important;
}

.button-white{
    background: var(--white) !important;
    color: var(--green-d3) !important;
}

.margin-left {
    margin-left: .3rem;
}

.margin-right {
    margin-right: .3rem;
}

.soft-icon{
    color: var(--white) !important;
    height: 38px;
}

.icons-table{
    display: flex;
    justify-content: space-evenly;
}

.p-button {
    min-width: min-content;
}

.p-buttonset .p-button {
    margin: 3px !important;
}

.p-button:disabled {    
    background-color:rgba(173, 173, 173, 1) !important;
}

.p-button-success:disabled {    
    background: #C5E1A5 !important;
    opacity: 1 !important;
    .p-button-icon{
        color: var(--white) !important;
    }
    .p-button-label{
        color: var(--white) !important;
    }
}

.p-button-danger:disabled {    
    background: #EF9A9A !important;
    opacity: 1 !important;
    .p-button-icon{
        color: var(--white) !important;
    }
    .p-button-label{
        color: var(--white) !important;
    }
}

.p-button-info:disabled {    
    background: #90CAF9 !important;
    opacity: 1 !important;
    .p-button-icon{
        color: var(--white) !important;
    }
    .p-button-label{
        color: var(--white) !important;
    }
}

.p-button-warning:disabled {    
    background: #FFF59D !important;
    opacity: 1 !important;
    .p-button-icon{
        color: var(--white) !important;
    }
    .p-button-label{
        color: var(--white) !important;
    }
}

.p-button-primary:disabled {    
    background: #2196F3 !important;
    opacity: 1 !important;
    .p-button-icon{
        color: var(--white) !important;
    }
    .p-button-label{
        color: var(--white) !important;
    }
}