// :root{
//     /* Colores */
//     --black: #201D20;
//     --black-translucent: rgba(32, 29, 32, 0.8);
//     --blue: #128EC3;
//     --blue-mid: #149FDB;
//     --blue-dark: #0D6A8F;
//     --orange: #EFAF11;
//     --orange-ligth:#FBCF8A;
//     --white: #FFFFFF;
//     --primary: #06C167;
//     --primary-ligth: #06C167;
//     --danger: #AB1300;
//     --danger-ligth: #E85C4A;
//     --warning: #BC8B2C;
//     --warning-ligth: #FFCF70;
// }

:root{
    /* Colores */
    // --black: #201D20;
    // --black-translucent: rgba(32, 29, 32, 0.8);
    // --blue: #128EC3;
    // --blue-mid: #149FDB;
    // --blue-dark: #0D6A8F;
    // --orange: #EFAF11;
    // --orange-ligth:#FBCF8A;
    // --white: #FFFFFF;
    // --primary: #06C167;
    // --primary-ligth: #06C167;
    // --danger: #AB1300;
    // --danger-ligth: #E85C4A;
    // --warning: #BC8B2C;
    // --warning-ligth: #FFCF70;

    --blue-d3: #16678D;
    --blue-d2: #237BA7;
    --blue-d1: #328FC2;
    --blue: #41A1D8;
    --blue-l1: #68AADB;
    --blue-l2: #83B3DE;
    --blue-l3: #9ccdf8;

    --yellow-d5: #D1770A;
    --yellow-d4: #DF8900;
    --yellow-d3: #E29A00;
    --yellow-d2: #EA9F10;
    --yellow-d1: #ECA80F;
    --yellow: #EEB40C;
    --yellow-l1: #F8BB29;
    --yellow-l2: #F9C653;
    --yellow-l3: #FACB6F;
    --yellow-l4: #FAD28C;
    --yellow-l5: #FAE2BC;

    --green-d3: #081116;
    --green-d2: #062323;
    --green-d1: #0B3135;
    --green: #0C3C44;
    --green-l1: #124D5B;
    --green-l2: #155772;
    --green-l3: #155772;

    --white: #FFFFFF;

    --gray-l1: #00000042;
    --gray: #6C6C6C;

    --lila: #EFEBF6;
    --lila-d1: #5A539F;
}