:root{
    /* Colores */
    --black: #201D20;
    --black-translucent: rgba(32, 29, 32, 0.8);
    --blue: #128EC3;
    --blue-mid: #149FDB;
    --blue-dark: #0D6A8F;
    --orange: #EFAF11;
    --orange-ligth:#FBCF8A;
    --white: #FFFFFF;
    --primary: #06C167;
    --primary-ligth: #06C167;
    --danger: #AB1300;
    --danger-ligth: #E85C4A;
    --warning: #BC8B2C;
    --warning-ligth: #FFCF70;
}