.active-no-hover {
    background-color: $active-color;
}

// .active {
//     background-color: $active-color;
// }

.warning {
    background-color: $warning-color;
    color: $warning-font-color;
}

.fatal {
    background-color: $fatal-color;
}

.success {
    background-color: $success-color;
}

.active-no-hover {
    background-color: $active-color !important;
    color: $white-color !important;
}

.inactive {
    background-color: $inactive-color;
}

.novalid {
    background-color: $danger-color;
}

.s-float-label {
    color: $secondary-color;
    font-size: 12px;
}

.p-invalid {
    color: #f44336;
}

.fc .fc-daygrid-day-frame {
    cursor: pointer;
}

a {
    cursor: pointer;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}