input{
    border:none !important;
    border-bottom: solid thin #ccc !important;
    width: 100%;
}

//   :required {
//     border-left:  2px solid rgb(204, 51, 51) !important;
//     border-top:0px !important;
//     border-right:0px !important;
//   }

//   .ng-valid[required], .valid {
//     border-left: 2px solid #73d216!important;
//     display: block;
//}
  