 <div id="container" class="container container-hide">
    <div style="padding-top: 5px; border: none; border-bottom: solid thin #8d8d8d" type="button" (click)="toogleMenu()">
        <div class="child-item" [pTooltip]="'Expandir'" tooltipPosition="right" data-bs-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <div id="data" class="data-hide">
                <i class="bi bi-arrow-left-right icon-size" ></i>
                <span id="text-toggle" class="text-hide">Contraer</span>
            </div>            
        </div>
    </div>  
    <!-- <hr>   -->
    <div *ngFor="let item of items">
        <div class="child-item" [pTooltip]="item.label" tooltipPosition="right" type="button" data-bs-toggle="collapse" [attr.data-bs-target]= "'#'+ item.codigo" aria-expanded="false" aria-label="Toggle navigation">
            <div id="data" class="data-hide">
                <i [class]="item.icon" class="icon-size"></i>
                <span id="text-toggle" class="text-hide">{{item.label}}</span>
            </div>            
        </div>
        <div *ngFor="let children of item.items" [pTooltip]="children.label" tooltipPosition="right" [id]="item.codigo" class="collapse navbar-collapse" type="button"  [routerLink]="children.routerLink">
            <div id="data" class="child-items data-hide">
                <i [class]="children.icon" class="icon-size-child"></i>
                <span id="text-toggle" class="text-hide">{{children.label}}</span >
            </div>            
        </div>
    </div>
 </div>