.container{
    background: var(--white);
    height: 100%;
    // width: 350px;
    padding-left: 14px;
    padding-bottom: 12px;
    border-radius: 20px
}

.container-show{
    width: 230px;
    transition: 0.3s;
}

.container-hide{
    width: 60px;
    transition: 0.3s;
    
}

.sub-container{
    // background: red;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.icon-size{
    color: var(--yellow-d4);
    font-size: 1.7rem;
}

.text-show{
    // background: red;
    display: auto;
}

.text-hide{
    // background: blue;
    display: none;
}

.child-items{
    display: flex;
    align-items: center;
    margin-top: 8px;
}