<p-toast position="top-center"></p-toast>
<div class="contenedor">
    <div class="col1">
        <img src="../../../../assets/svg/logoSigessRedondo2.svg" alt="">
    </div>
    <div class="col2">
        <img src="../../../../assets/svg/Sigess5.svg" alt="">
    </div>
    <div class="col3">        
        <img class="logo-Empresa" *ngIf="empresaSelect?.logo" [src]="empresaSelect?.logo" alt="">          
        <button class="button-round button-white" mat-raised-button color="primary" (click)="showDialog()">  
            <mat-icon class="logo-Empresa" *ngIf="!empresaSelect?.logo" fontIcon="apartment" style="color: #052f6e;"></mat-icon>
            <label for="">{{empresaSelect?.nombreComercial}}</label>           
        </button>       
    </div>
    <div class="col4">
        <mat-icon matBadge="15"  matBadgeColor="warn" aria-hidden="false" fontIcon="notifications"></mat-icon>        
    </div>
    <div class="col5" (click)="showDialogSideBar()">
        <mat-icon *ngIf="!usuario?.icon" aria-hidden="false" fontIcon="account_circle"></mat-icon>      
        <img *ngIf="usuario?.icon" [src]="usuario.icon"/>
        <label class="text-color-white" for="">{{usuario?.email}}</label>  
    </div>
</div>

<p-dialog  header="Lista de Empresas" position="top" draggable="false" keepInViewport="false" modal="true" [(visible)]="display" [style]="{width: '50vw'}">
    <app-empresa-list [empresasList]="empresasItems" (changeEmpresa)="confirmEmpresa($event)"></app-empresa-list>
    <ng-template pTemplate="footer">
        <!-- <p-button icon="pi pi-check" (click)="test()" label="Aceptar" styleClass="p-button-text"></p-button> -->
    </ng-template>
</p-dialog>

<p-sidebar [(visible)]="displaySideBar" position="right">
    <ng-template pTemplate="content">
        <div>
            <div>
                <!-- <mat-icon *ngIf="!usuario?.icon" aria-hidden="false" fontIcon="account_circle"></mat-icon>      
                <img *ngIf="usuario?.icon" [src]="usuario.icon"/> -->

                <div>
                    <i *ngIf="!usuario.avatar" class="fa fa-user-circle" style="font-size: 128px;color:#3ba2dc;"
                        aria-hidden="true"></i>
                    <img *ngIf="usuario.avatar" [src]="usuario.avatar" style="border-radius: 50%; height: 128px; width: 128px; margin-right: -3px;" #imgAvatar />
                    <div class="img-select" (click)="abrirDlg()">
                        <div>
                            <i class="bi bi-camera" style="font-size: 32px; color:#aaa;" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <label for="">{{usuario?.perfilNombre}}</label>  
                <label for="">{{usuario?.email}}</label>  
            </div>
            <br>
            <div>
                <button class="p-button-raised p-button-primary margin-right" 
                        pButton type="button" 
                        icon="bi bi-key" 
                        label="Cambiar Contraseña"
                        (click)="abrirCambioPasswd()"></button>
            </div>            
        </div>        
    </ng-template>
    <ng-template pTemplate="footer">
        <div>
            
            
            <div>
                <!-- <button type="button" pButton icon="fa fa-check" (click)="logout()" label="Cerar Sesión"></button> -->
                <button pButton type="button" 
                        icon="bi bi-box-arrow-left" 
                        label="Cerar Sesión" 
                        class="p-button-raised p-button-danger margin-right margin-left"
                        (click)="logout()" ></button>
            </div>
        </div>
    </ng-template>
</p-sidebar>

<p-dialog [(visible)]="visibleDlg" modal="true">
    <p-header>
        <button (click)="inputFile.click()" pButton label="Subir foto" icon="fa fa-upload"
            class="ui-button-secondary"></button>
        <button (click)="aceptarImg()" icon="fa fa-check" pButton label="Aceptar"></button>
        <input type="file" #inputFile style="visibility: hidden;width: 0px;height: 0px;"
            (change)="fileChangeEvent($event)" />
    </p-header>
    <div style="width: 600px;height: 600px">
        <div class="previsual-crop">
            <img [src]="croppedImage" />
        </div>
        <image-cropper *ngIf="imageChangedEvent" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
            [aspectRatio]="4 / 4" height="480" [resizeToWidth]="128" format="jpg" (imageCropped)="imageCropped($event)">
        </image-cropper>
    </div>
</p-dialog>

<p-dialog [(visible)]="visbleChangePasw" modal="true">    
    <p-header>
        Cambiar Contraseña
    </p-header>
    <div style="width: 600px;height: 600px">
        <app-cambio-passwd></app-cambio-passwd>
    </div>
</p-dialog>