<div class="contenedor">
    <div class="col1">
        <img src="../../../../assets/svg/logoSigessRedondo2.svg" alt="">
    </div>
    <div class="col2">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>        
    </div>
    <div class="col3">
        <button class="button-round button-white" mat-raised-button color="primary">
            <mat-icon fontIcon="apartment" style="color: #052f6e;"></mat-icon>
            <!-- <img src="../../../../assets/svg/logoSigessRedondo.svg" alt=""> -->
            <label for="">Compañia afsssf</label>            
        </button>       
    </div>
    <div class="col4">
        <mat-icon aria-hidden="false" fontIcon="notifications"></mat-icon>        
    </div>
    <div class="col5">
        <mat-icon aria-hidden="false" fontIcon="account_circle"></mat-icon>        
    </div>
</div>