.td-avatar{
  width: 50px;
}

.td-avatar i{
  font-size: 48px;
  color:#ccc;
}

.image{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 10%;
  height: auto;
}