<!-- <p-growl [value]="msgs"></p-growl> -->
<p-toast></p-toast>
<p-panel header="Usuarios">

    <p-table #dt [value]="usuarioList" styleClass="p-datatable-gridlines" autoLayout="true" selectionMode="single" [(selection)]="usuarioSelect" [rows]="10" [paginator]="true"
        dataKey="id" [lazy]="true" (onLazyLoad)="lazyLoad($event)" [totalRecords]="totalRecords" [loading]="loading">
        <ng-template pTemplate="header">
            <tr>
                <th rowspan="2"></th>
                <th pSortableColumn="email" class="text-center">Correo electrónico
                    <p-sortIcon field="email"></p-sortIcon>
                </th>
                <th pSortableColumn="fechaModificacion" class="text-center">Última modificación
                    <p-sortIcon field="fechaModificacion"></p-sortIcon>
                </th>
                <th pSortableColumn="fechaCreacion" class="text-center">Fecha creación
                    <p-sortIcon field="fechaCreacion"></p-sortIcon>
                </th>
                <th pSortableColumn="ultimoLogin" class="text-center">Ultimo acceso
                    <p-sortIcon field="ultimoLogin"></p-sortIcon>
                </th>
                <th pSortableColumn="estado" class="text-center">Estado
                    <p-sortIcon field="estado"></p-sortIcon>
                </th>
            </tr>
            <tr>
                <td class="text-center bg-light">
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'email', 'contains')">
                </td>
                <td class="text-center bg-light" >
                    <s-rangoFechaSelector (onSelect)="dt.filter($event, 'fechaModificacion', 'bt')"></s-rangoFechaSelector>
                </td>
                <td class="text-center bg-light" >
                    <s-rangoFechaSelector (onSelect)="dt.filter($event, 'fechaCreacion', 'bt')"></s-rangoFechaSelector>
                </td>
                <td class="text-center bg-light" >
                    <s-rangoFechaSelector (onSelect)="dt.filter($event, 'ultimoLogin', 'bt')"></s-rangoFechaSelector>
                </td>
                <td class="text-center bg-light" >
                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'estado', 'contains')">
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usr>
            <tr [pSelectableRow]="usr">
                <td class="td-avatar">
                    <i *ngIf="!usr?.icon" class="fa fa-user-circle" aria-hidden="true"></i>
                    <img *ngIf="usr?.icon" [src]="usr?.icon" style="border-radius: 50%;" />
                </td>
                <td class="text-center">{{usr.email}}</td>
                <td class="text-center">{{usr.fechaModificacion | date:'dd/MM/yyyy HH:mm'}}</td>
                <td class="text-center">{{usr.fechaCreacion | date:'dd/MM/yyyy HH:mm'}}</td>
                <td class="text-center">{{usr.ultimoLogin | date:'dd/MM/yyyy HH:mm'}}</td>
                <td class="text-center">
                    <span class="badge" [ngClass]="{'text-success': usr.estado == 'ACTIVO', 'text-white': usr.estado == 'ELIMINADO', 'text-warning': usr.estado == 'INACTIVO', 'text-primary': usr.estado == 'CAMBIO_PASSWD', 'text-danger': usr.estado == 'BLOQUEADO'}">
                        {{usr.estado}}
                    </span>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary" let-rowData>
            <div class="d-flex justify-content-center">
                <div class="btn-group" role="group">
                    <button *sTienePermiso="'ADM_POST_USR'" class="p-button-raised p-button-primary margin-right" pButton type="button" icon="bi bi-plus" label="Adicionar" (click)="abrirDlg(false)"></button>         
                    <button *sTienePermiso="'ADM_PUT_USR'" class="p-button-raised p-button-success margin-right margin-left" pButton type="button" icon="bi bi-pencil" label="Modificar"
                        (click)="abrirDlg(true)" [disabled]="!usuarioSelect"></button>
                    <button *sTienePermiso="'ADM_DELETE_USR'" pButton type="button" icon="bi bi-trash" label="Eliminar" class="p-button-raised p-button-danger margin-right margin-left"
                        (click)="eliminar()" [disabled]="!usuarioSelect"></button>
                    <button *sTienePermiso="'ADM_GET_USER_CONS'" pButton type="button" icon="bi bi-download" label="Usuarios" title="Descarga consolidado de usuarios" (click)="descargarInvs()" class="p-button-raised p-button-secondary margin-left"></button>
                </div>
            </div>
        </ng-template>
    </p-table>

</p-panel>

<p-dialog header="Usuario" [(visible)]="visibleDlg" [responsive]="true" showEffect="fade" [modal]="true">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
            <div>
                <div>
                    <label>E-Mail</label>
                </div>
                <div>
                    <input type="email" pInputText formControlName="email" placeholder="correo" style="width: 60%;" required/>
                </div>
                <div>
                    <span style="color: red;font-size: .7rem;">Obligatorio</span>
                </div>
            </div>
            <div>
                <div>
                    <label>Perfiles</label>
                </div>
                <div>
                    <p-multiSelect [options]="perfilList" appendTo="body" formControlName="perfilesId" defaultLabel="--Perfiles--" required></p-multiSelect>
                </div>
                <div>
                    <span style="color: red;font-size: .7rem;">Obligatorio</span>
                </div>             
            </div>
            <div>
                <div>
                    <label>Requerir doble autenticación</label>
                </div>
                <div>
                    <p-checkbox inputId="dobleAuth" formControlName="mfa" [binary]="true"></p-checkbox>
                </div>
            </div>
            <div>
                <div>
                    <label for="ips">Número móvil</label>
                </div>
                <div>
                    <p-inputMask title="El número debe iniciar con el indicativo del pais seguido de los 10 numeros siguientes" mask="(99) 999 999 9999"
                    formControlName="numeroMovil" placeholder="(57) 000 000 0000" [required]="form.value.mfa"></p-inputMask>
                </div>
            </div>
            <div *ngIf="isUpdate && (usuarioSelect?.estado == 'ACTIVO' || usuarioSelect?.estado == 'INACTIVO')">
                <div>
                    <label class="form-label">Estado</label>
                </div>
                <div>
                    <p-radioButton class="form-control" name="estado" value="ACTIVO" label="ACTIVO" formControlName="estado" required></p-radioButton>
                    <p-radioButton class="form-control" name="estado" value="INACTIVO" label="INACTIVO" formControlName="estado" required></p-radioButton>
                </div>
            </div>
        </div>
        <div class="p-dialog-footer">
            <div style="margin-top:10px;float: right;">
                <button *ngIf="solicitando == false" pButton type="submit" icon="fa fa-floppy-o" [disabled]="!form.valid" label="Guardar"></button>
                <p-progressSpinner *ngIf="solicitando == true" strokeWidth="8" [style]="{width: '25px', height: '25px'}"></p-progressSpinner>
            </div>
        </div>
    </form>
</p-dialog>
<p-dialog [(visible)]="Dlg" modal="true">
    
    <div *ngIf="downloading == true">
        <p-progressSpinner strokeWidth="8" [style]="{width: '25px', height: '25px'}"></p-progressSpinner>
        <label style="position: relative;top: -7px;left:7px;">Descargando...</label>
    </div>

    <ng-container *ngIf="downloading != true">
        <button  pButton type="button" icon="fa fa-download" label="Descargar" title="Descarga consolidado de usuarios" (click)="descargarInvs()" ></button>
    </ng-container>
</p-dialog>
<a style="visibility: hidden" id="dwldLink"></a>