<button pButton pRipple label="Nuevo" icon="pi pi-plus" (click)="openNew()"></button>
<button pButton pRipple label="Borrar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
<p-messages [(value)]="msgs" [closable]="true"></p-messages>
<div >
    <div>
        <label for="tipoPeligro">Tipo de investigación</label>             
        <p-dropdown appendTo="body"[disabled]="dropdownDisabled" [options]="patologiasList" [(ngModel)]="peligro" (onChange)="onPeligroChange($event)"></p-dropdown>
      </div>
    <p-table #dt [value]="miembrosList" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
        [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
         [showCurrentPageReport]="false">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="doc">Número de Identificación<p-sortIcon field="doc"></p-sortIcon></th>
                <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="price">Cargo <p-sortIcon field="price"></p-sortIcon></th>
                <th pSortableColumn="category">División <p-sortIcon field="category"></p-sortIcon></th>
                <th pSortableColumn="rating">Localidad <p-sortIcon field="rating"></p-sortIcon></th>
                <th pSortableColumn="cargo">Miembro del equipo<p-sortIcon field="cargo"></p-sortIcon></th>
                <th pSortableColumn="peligro">Tipo de investigación<p-sortIcon field="peligro"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-miembro>
            <tr>
                <td>
                    <p-tableCheckbox [value]="miembro"></p-tableCheckbox>
                </td>
                <td>{{miembro.cedula}}</td>
                <td>{{miembro.nombre}}</td>
                <td>{{miembro.cargo}}</td>
                <td>{{miembro.division}}</td>
                <td>{{miembro.localidad}}</td>
                <td>{{miembro.profesionalEncargado}}</td>
                <td>{{miembro.peligro}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(miembro)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(miembro)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Agregar Miembro al Equipo" [modal]="true" styleClass="p-fluid">
        <div class="p-field">
            <label for="Cedula">Número de Identificación</label>
            <input type="number" required autofocus [(ngModel)]="cedula" />
        </div>
        <div class="p-field">
            <label for="Nombre">Nombre</label>
            <input type="text" required autofocus [(ngModel)]="nombre" />
            <small class="p-invalid" *ngIf="submitted && !nombre">Obligatorio</small>
        </div>
        <div class="p-field">
            <label for="Cargo">Cargo</label>
            <input type="text" required autofocus [(ngModel)]="cargo" />
        </div>
        <div class="p-field">
            <label for="Division">División</label>             
            <p-dropdown  appendTo="body"[options]="DivisionList" [(ngModel)]="division"></p-dropdown>
        </div>
        <div class="p-field">
            <label for="Localidad">Localidad</label>
            <input type="text" autofocus [(ngModel)]="localidad" />
        </div>
        <div>
            <label for="subPeligro">Equipo investigador</label>             
            <p-dropdown appendTo="body" [options]="cargosInvestigacionPatologiasList" [(ngModel)]="profesionalEncargado" [disabled]="!cargosInvestigacionPatologiasList.length"></p-dropdown>
          </div>

        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog();salida();"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveProduct();salida();"></button>
   
</p-dialog>

<!-- <p-toast></p-toast> -->