
    <div style="width: 100%;">
        <p-panel header="RESUMEN ACCIDENTALIDAD" style="text-align:center;">
            <div class="grid colorsitos colorfondo">
                <div class="col-12 ">
                    <div class="grid ">
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="card l-bg-blue1-dark">
                              <div style="text-align:left;">
                                  <h3>Número de ATs</h3>
                              </div>
                              <div style="text-align:right;">
                                  <span class="tamañotexto">{{this.NoEventos || 0}}</span>
                              </div>
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="card l-bg-blue2-dark">
                              <div style="text-align:left;">
                                  <h3>Dias perdidos</h3>
                              </div>
                              <div  style="text-align:right;">
                                  <span class="tamañotexto">{{this.diasPerdidos || 0}}</span>
                              </div>
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class={{colorIli}}>
                              <div style="text-align:left;">
                                  <h3>ILI</h3>
                              </div>
                              <div  style="text-align:right;">
                                  <span class="tamañotexto">{{ili || 0}}</span>
                              </div>
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-3">
                            <div class="card l-bg-blue3-dark">
                                <div style="text-align:left;">
                                    <ng-container *ngIf="!this.selectPais1"><h3>Meta ILI</h3></ng-container>
                                    <ng-container *ngIf="this.selectPais1 && !this.selectedDivisionResumen1"><h3>Meta ILI {{(this.selectPais1=='Corona Total')?'':' pais'}}</h3></ng-container>
                                    <ng-container *ngIf="this.selectedDivisionResumen1 && !this.PlantaSelect1"><h3>Meta ILI división</h3></ng-container>
                                    <ng-container *ngIf="this.PlantaSelect1"><h3>Meta ILI localidad</h3></ng-container>
                                </div>
                                <div style="text-align:right;">
                                    <span class="tamañotexto">{{metaIli || 0}}</span>
                                    <ng-container *ngIf="this.selectedDivisionResumen1"><br><span class="tamañotexto2">{{(this.selectPais1=='Corona Total')?'Corona total':' pais'}}: {{metaPais || 0}}</span></ng-container>
                                    <ng-container *ngIf="this.PlantaSelect1"><br><span class="tamañotexto2">División: {{metaDivision || 0}}</span></ng-container>
                                </div>                                     
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-10 grid mid-border p-justify-center" style="margin: auto;">
                  <div class="col-12 md:col-6 lg:col-4"  style="display: flex;"><p style="margin-right: 10px!important;">País:</p> 
                    <p-dropdown [style]="{'width':'100%'}" appendTo="body" [options]="paisesList" [(ngModel)]="selectPais1" placeholder="Seleccionar país" [showClear]="true" (onChange)="funcSelectPais($event,'resumen')">
                    </p-dropdown>
                  </div>
                  <div class="col-12 md:col-6 lg:col-4"  style="display: flex;"><p style="margin-right: 10px!important;">División:</p> 
                  
                    <p-dropdown [style]="{'width':'100%'}" appendTo="body" placeholder="Seleccione division" [options]="divisionList1"
                    [(ngModel)]="selectedDivisionResumen1" [style]="{'margin-bottom':'10px', 'margin-top':'-5px'}" (onChange)="funcSelectDivision($event,'resumen')"></p-dropdown>

                  </div>
                  <div class="col-12 md:col-6 lg:col-4"  style="display: flex;"><p style="margin-right: 10px!important;">Localidad:</p> 
                    <p-dropdown [style]="{'width':'100%'}" appendTo="body" placeholder="Seleccione la localidad" [options]="plantasList1"
                    [(ngModel)]="PlantaSelect1" [style]="{'margin-bottom':'10px', 'margin-top':'-5px'}" (onChange)="loadResumen()"></p-dropdown>
                  </div>
                  <div class="col-12 md:col-6 lg:col-3"  style="display: flex;">
                    <p style="margin: 10px!important;">Año:</p>
                    <p-dropdown [style]="{'width':'100%'}" [options]="yearRange"
                    placeholder="Seleccione un año"
                    [(ngModel)]="anioActualResumen"
                    (onChange)="loadResumen()">
                    </p-dropdown>
                  </div>
                  <div class="col-12 md:col-5 lg:col-4"  style="display: flex;">
                    <p style="margin-right: 10px!important;">Desde:</p>
                    <p-calendar [showIcon]="true" appendTo="body"  view="month"
                    dateFormat="MM" placeholder="Seleccione"  
                    [(ngModel)]="fechaInicioResumen" showButtonBar="true" 
                    (onSelect)="loadResumen()" (onClearClick)="loadResumen()"
                    (onTodayClick)="loadResumen()" >
                    </p-calendar>
                  </div>
                  <div class="col-12 md:col-5 lg:col-4" style="display: flex;">
                    <p style="margin-right: 10px!important;">Hasta:</p>
                      <p-calendar [showIcon]="true" appendTo="body"  view="month" dateFormat="MM" 
                      placeholder="Seleccione"  showButtonBar="true" 
                      [(ngModel)]="fechaFinalResumen" (onSelect)="loadResumen()"
                      (onClearClick)="loadResumen()" (onTodayClick)="loadResumen()">
                      </p-calendar>
                  </div>
                  <div class="col-12 md:col-2 lg:col-1" style="display: flex;">
                    <button pButton type="button" icon="pi pi-external-link" title="Indicadores Accidentalidad"
                    (click)="IndicadoresAccidentalidad()"></button>
                  </div>
                </div>
            </div>
        </p-panel>
      <br>
      <p-panel header="RESUMEN CARACTERIZACIÓN">
        <div class="grid colorsitos colorfondo">
            <div class="col-12" >
                <p-radioButton name="group1" [value]="0" [style]="{'margin-left':'15px'}" [(ngModel)]="radioGra0" (onClick)="CardsClasificacion()"></p-radioButton>
                <label for="">Total</label>
                <p-radioButton name="group1" [value]="1" [style]="{'margin-left':'15px'}" [(ngModel)]="radioGra0" (onClick)="CardsClasificacion()"></p-radioButton>
                <label for="">Temporales</label>
                <p-radioButton name="group1" [value]="2" [style]="{'margin-left':'15px'}" [(ngModel)]="radioGra0" (onClick)="CardsClasificacion()"></p-radioButton>
                <label for="">Directos</label>
            </div>
            <div class="col-12 ">
                <div class="grid ">
                    <div class="col-12 md:col-6 lg:col-3">
                        <div class="card l-bg-blue1-dark">
                            <div  style="text-align:left;">
                                <h3>Leve</h3>
                            </div>
                            <div  style="text-align:right;">
                                <span class="tamañotexto">{{this.ContLeve}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 lg:col-3">
                        <div class="card l-bg-blue2-dark">
                            <div  style="text-align:left;">
                                <h3>Grave</h3>
                            </div>
                            <div  style="text-align:right;">
                                <span class="tamañotexto">{{this.ContGrave}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 lg:col-3">
                        <div class="card l-bg-blue3-dark">
                            <div  style="text-align:left;">
                                <h3>Severo</h3>
                            </div>
                            <div  style="text-align:right;">
                                <span class="tamañotexto">{{this.ContSevero}}</span>
                            </div>                                     
                        </div>
                    </div>
                    <div class="col-12 md:col-6 lg:col-3">
                        <div class="card l-bg-blue4-dark">
                            <div  style="text-align:left;">
                                <h3>Mortal</h3>
                            </div>
                            <div  style="text-align:right;">
                                <span class="tamañotexto">{{this.ContMortal}}</span>
                            </div>                                     
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-10 grid mid-border p-justify-center" style="margin: auto; display: flex; justify-content: space-evenly;">
                <div class="col-12 md:col-6 lg:col-4"  style="display: flex;"><p style="margin-right: 10px!important;">
                    <p>Pais: </p>&nbsp;<p-dropdown [style]="{'width':'100%'}" appendTo="body" [options]="paisesList" placeholder="Seleccionar pais" (onChange)="funcSelectPais($event,'resumen2');" [(ngModel)]="selectPais2"></p-dropdown>
                </div>
                <div class="col-12 md:col-6 lg:col-4"  style="display: flex;"><p style="margin-right: 10px!important;">
                    <p>División: </p>&nbsp;<p-multiSelect appendTo="body" [options]="divisionList2" placeholder="Seleccionar división" (onChange)="funcSelectDivision2($event,'resumen2')" [(ngModel)]="selectedDivisionResumen2"></p-multiSelect>
                </div>
                <div class="col-12 md:col-6 lg:col-4"  style="display: flex;">
                    <p>Localidad: </p>&nbsp;<p-multiSelect [style]="{'width':'100%'}" appendTo="body" [options]="localidadesList1" placeholder="Seleccionar localidad" [(ngModel)]="LocalidadSelect1" defaultLabel="Seleccione localidad" (ngModelChange)="CardsClasificacion()"></p-multiSelect>
                </div>
                <div class="col-12 md:col-6 lg:col-4"  style="display: flex;">
                    <p style="margin-right: 10px!important;">Desde:</p>
                    <p-calendar  [showIcon]="true" view="month" dateFormat="mm/yy" placeholder="Desde" appendTo="body" [(ngModel)]="date1" (ngModelChange)="CardsClasificacion()" [showButtonBar]="true"> </p-calendar> 
                </div>
                <div class="col-12 md:col-6 lg:col-4" style="display: flex;">
                    <p style="margin-right: 10px!important;">Hasta:</p>
                    <p-calendar  [showIcon]="true" view="month" dateFormat="mm/yy" placeholder="Hasta" appendTo="body" [(ngModel)]="date2" (ngModelChange)="CardsClasificacion()" [showButtonBar]="true"> </p-calendar>
                </div>
                <div class="col-12 md:col-6 lg:col-4" style="display: flex;">
                    <button pButton type="button" icon="pi pi-external-link" title="Indicadores Caracterización"
                    (click)="IndicadoresCaracterizacion()"></button>
                </div>
            </div>
        </div>
        </p-panel>
      <br>
      <p-panel header="RESUMEN CASOS MEDICOS" style="text-align:center;">
        <div class="grid colorfondo" style="margin:0px auto;">
          <!-- <div class="col-md-1">&nbsp;</div> -->
            <div class="col-12" >
                <div class="grid">
                    <div class="col-12 md:col-6 lg:col-4">
                        <div class="card l-bg-blue1-dark">
                              <div style="text-align:left;">
                                  <h1 >Número de casos</h1>
                              </div>
                              <div style="text-align:right;">
                                  <span class="tamañotexto" >{{this.numCasos}}</span>
                              </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 lg:col-4">
                        <div class="card l-bg-blue2-dark">
                              <div style="text-align:left;">
                                  <h1 >Casos abiertos</h1>
                              </div>
                              <div style="text-align:right;">
                                  <span class="tamañotexto">{{this.casosAbiertos}}</span>
                              </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 lg:col-4">
                        <div class="card l-bg-blue3-dark">
                              <div style="text-align:left;">
                                  <h1>Casos cerrados</h1>
                              </div>
                              <div style="text-align:right;">
                                  <span class="tamañotexto">{{this.casosCerrados}}</span>
                              </div>                                     
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 grid">
                <div class="col-12 md:col-12 lg:col-2">&nbsp;</div>
                <div class="col-12 md:col-6 lg:col-3" style="display: flex;">
                    <p>Area:</p><p-dropdown [style]="{'width':'100%'}" appendTo="body" [options]="divisiones" placeholder="Seleccionar división" (onChange)="numeroCasos()" [(ngModel)]="selecDiv0"></p-dropdown>
                </div>
                &nbsp;
                <div class="col-12 md:col-6 lg:col-3" style="display: flex;"> 
                    <div><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="event"></mat-icon></div>
                    <p-calendar [showButtonBar]="true"  view="month" dateFormat="mm/yy" placeholder="Desde" [(ngModel)]="fechaDesde0" (ngModelChange)="numeroCasos()"> </p-calendar> 
                </div>
                &nbsp;
                <div class="col-12 md:col-6 lg:col-3" style="display: flex;">
                    <div><mat-icon aria-hidden="false" aria-label="event" fontIcon="event"></mat-icon></div>
                    <p-calendar [showButtonBar]="true"  view="month" dateFormat="mm/yy" placeholder="Hasta" [(ngModel)]="fechaHasta0" (ngModelChange)="numeroCasos()"> </p-calendar>
                    <div style="padding-left: 10px;">
                        <button pButton type="button" icon="pi pi-external-link" title="Indicadores Casos Medicos"
                        (click)="IndicadoresCasosMedicos()"></button>
                    </div>
                </div>
            </div>
        </div>
    </p-panel>
</div>