.accordionTab{ 
    margin: auto;
}

.gridcol{ 
    padding: 5px;;
}
.muyalto{
    background-color: red;
    font-weight: bold;
    color:white;
}
.alto{
    background-color: rgb(245, 125, 81);
    font-weight: bold;
    color:rgb(0, 0, 0);
}
.medio{
    background-color:yellow;
    font-weight: bold;
    color:rgb(0, 0, 0);
}
.bajo{
    background-color: rgb(30, 237, 30);
    font-weight: bold;
    color:rgb(0, 0, 0);
}

.th-style{
    display: flex;
    align-items: center;
}

p-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .left-button {
    margin-right: 10px; /* Espacio entre el botón y el texto */
  }

  /* Estilos para evitar que los eventos lleguen a los elementos subyacentes */
  .overlay-content * {
    pointer-events:none;//all
  }

  .overlay * {
    pointer-events:all;//all
  }

  :host ::ng-deep 
    .p-toast{
        margin-top: 50px;
    }

.calendar-icon-wrapper{
    position: relative;
}
      
.calendar-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Para evitar que el icono bloquee el input */
    color: gray;
}
:host ::ng-deep 
    .p-calendar{
        .p-button{
            background: white;
            color: gray;
            pointer-events: none;
        }
        
        .p-inputtext {
            background: white;
        }
        
    }

    .readonly-calendar {
        pointer-events: none; /* Evita que el usuario interactúe con el input */
      }
    .notreadonly-calendar{
        pointer-events:all;
    }
