.accordionTab{ 
    margin: auto;
}

.gridcol{ 
    padding: 5px;;
}

.muyalto{
    background-color: red;
}
.alto{
    background-color: rgb(245, 125, 81);
}
.medio{
    background-color:yellow;
}
.bajo{
    background-color: rgb(30, 237, 30);
}

.th-style{
    display: flex;
    align-items: center;
}

p-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .left-button {
    margin-right: 10px; /* Espacio entre el botón y el texto */
  }
.TexareaClass{
// background-color: #c8c8c8;
// width: 100%;
//   float: left
}