<p-messages [(value)]="msgs" [closable]="true"></p-messages>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<div class="shadow">
    <div  *ngIf="testing" style="width: 100%; display: flex; flex-direction: column-reverse;"> 
        <div class = "image"><img src="../../../../../../assets/gif/tenor.gif" alt="" class="loader" ></div>
    </div>
    <p-panel header="Empresas">
        <div class="p-d-flex p-jc-center" style="margin-bottom: 16px;">
            <span>
                Mostrando {{dt.first + 1}} a {{dt.first + dt.rows}} de {{totalRecords}} registros
            </span>
        </div>
        <p-table #dt [value]="empresasList" [(selection)]="empresaSelect" autoLayout="true" selectionMode="single"
            [rows]="10" [paginator]="true" dataKey="id" [lazy]="true" (onLazyLoad)="lazyLoad($event)"
            [totalRecords]="totalRecords" [loading]="loading" [rowsPerPageOptions]="[10, 20, 50, 100]">
            
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center">Logo</th>
                    <th class="text-center" pSortableColumn="razonSocial">Razón Social
                        <p-sortIcon field="razonSocial"></p-sortIcon>
                    </th>
                    <th class="text-center" pSortableColumn="nombreComercial">Nombre Comercial
                        <p-sortIcon field="nombreComercial"></p-sortIcon>
                    </th>
                    <th class="text-center" pSortableColumn="nit">Nit
                        <p-sortIcon field="nit"></p-sortIcon>
                    </th>
                    <th class="text-center" pSortableColumn="direccion">Dirección
                        <p-sortIcon field="direccion"></p-sortIcon>
                    </th>
                    <th class="text-center" pSortableColumn="telefono">Telefono
                        <p-sortIcon field="telefono"></p-sortIcon>
                    </th>
                    <th class="text-center" pSortableColumn="numeroSedes">Número de sedes
                        <p-sortIcon field="numeroSedes"></p-sortIcon>
                    </th>
                    <th class="text-center" pSortableColumn="email">Email
                        <p-sortIcon field="email"></p-sortIcon>
                    </th>
                    <th class="text-center" pSortableColumn="web">Pagina web
                        <p-sortIcon field="web"></p-sortIcon>
                    </th>
                    <th class="text-center" pSortableColumn="arl.nombre">ARL
                        <p-sortIcon field="arl.nombre"></p-sortIcon>
                    </th>
                    <th class="text-center" pSortableColumn="ciiu.codigo">Código CIIU
                        <p-sortIcon field="arl.nombre"></p-sortIcon>
                    </th>
                    <th class="text-center" pSortableColumn="ciiu.nombre">Nombre IIU
                        <p-sortIcon field="ciiu.nombre"></p-sortIcon>
                    </th>
                </tr>
                <tr>
                    <td class="text-center bg-light"></td>
                    <td class="text-center bg-light">
                        <input  pInputText type="text" (input)="dt.filter($event.target.value, 'razonSocial', 'contains')">
                    </td>
                    <td class="text-center bg-light">
                        <input pInputText type="text"
                            (input)="dt.filter($event.target.value, 'nombreComercial', 'contains')">
                    </td>
                    <td class="text-center bg-light">
                        <input pInputText  type="text" (input)="dt.filter($event.target.value, 'nit', 'contains')">
                    </td>
                    <td class="text-center bg-light">
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'direccion', 'contains')">
                    </td>
                    <td class="text-center bg-light">
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'telefono', 'contains')">
                    </td>
                    <td class="text-center bg-light">
                        <input pInputText type="number" min="0"
                            (input)="dt.filter($event.target.value, 'numeroSedes', 'equals')">
                    </td>
                    <td class="text-center bg-light">
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'email', 'contains')">
                    </td>
                    <td class="text-center bg-light">
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'web', 'contains')">
                    </td>
                    <td class="text-center bg-light">
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'arl.nombre', 'contains')">
                    </td>
                    <td class="text-center bg-light">
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'ciiu.codigo', 'contains')">
                    </td>
                    <td class="text-center bg-light">
                        <input pInputText type="text" (input)="dt.filter($event.target.value, 'ciiu.nombre', 'contains')">
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-empresa>
                <tr [pSelectableRow]="empresa">
                    <td class="td-avatar" st>
                        <i *ngIf="!empresa.logo" class="pi pi-box" aria-hidden="true" style="font-size: 100px;"></i>
                        <img *ngIf="empresa.logo" [src]="empresa.logo" class="img-logo" />
                    </td>
                    <td>{{empresa.razonSocial}}</td>
                    <td>{{empresa.nombreComercial}}</td>
                    <td>{{empresa.nit}}</td>
                    <td>{{empresa.direccion}}</td>
                    <td>{{empresa.telefono}}</td>
                    <td>{{empresa.numeroSedes}}</td>
                    <td>{{empresa.email}}</td>
                    <td>{{empresa.web}}</td>
                    <td>{{empresa.arl?.nombre}}</td>
                    <td>{{empresa.ciiu?.codigo}}</td>
                    <td>{{empresa.ciiu?.nombre}}</td>
                </tr>
            </ng-template>

            <ng-template pTemplate="summary" let-rowData>
                <div class="justify-content-center" style="align-items: center; text-align: center; margin-bottom: 16px;">
                    <span>
                        Mostrando {{dt.first + 1}} a {{dt.first + dt.rows}} de {{totalRecords}} registros
                    </span>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="btn-group" role="group">
                        <button *sTienePermiso="'EMP_POST_EMPS'" 
                            pButton type="button" 
                            icon="bi bi-plus" 
                            label="Adicionar"
                            class="p-button-raised p-button-primary margin-right"
                            (click)="showAddForm()"></button>
                        <button *sTienePermiso="'EMP_PUT_EMPS'" 
                            pButton type="button" 
                            icon="bi bi-pencil"
                            class="p-button-raised p-button-success margin-right margin-left"
                            label="Modificar" 
                            (click)="showUpdateForm()"
                            [disabled]="!empresaSelect"></button>
                        <button *sTienePermiso="'EMP_DELETE_EMPS'" 
                            pButton type="button" 
                            icon="bi bi-trash" 
                            class="p-button-raised p-button-danger margin-right margin-left"
                            label="Eliminar" 
                            (click)="onDelete()" 
                            [disabled]="!empresaSelect"></button>
                    </div>
                </div>
            </ng-template>
            <!-- <ng-template pTemplate="paginatorleft" class="pruebaPaginador">
                <div class="p-d-flex p-jc-center">
                    <span>
                        Mostrando {{dt.first + 1}} a {{dt.first + dt.rows}} de {{totalRecords}} registros
                    </span>
                </div>
            </ng-template> -->
        </p-table>

    </p-panel>
</div>

<p-dialog [(visible)]="visibleForm" width="380" modal="true" responsive="true" header="Datos de empresa">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="flex-container">
            <div>
                <i *ngIf="!empresaSelect?.logo" class="bi bi-user-circle" style="font-size: 128px;color:#3ba2dc;"
                    aria-hidden="true"></i>
                <img *ngIf="empresaSelect?.logo" [src]="empresaSelect?.logo"
                    style="border-radius: 50%; max-width: 128px; height: 128px;" #imgAvatar />
                <div class="img-select" (click)="abrirDlg()">
                    <div>
                        <i class="bi bi-camera" style="font-size: 32px; color:#aaa;" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid">

            <div class="col-12 md:col-3 lg:col-3">
                Razón social
            </div>
            <div class="col-12 md:col-9 lg:col-9">
                <input type="text" pInputText formControlName="razonSocial" required maxlength="100" />
            </div>

            <div class="col-12 md:col-3 lg:col-3">
                Nombre comercial
            </div>
            <div class="col-12 md:col-9 lg:col-9">
                <input type="text" pInputText formControlName="nombreComercial" required maxlength="100" />
            </div>

            <div class="col-12 md:col-3 lg:col-3">
                Nit
            </div>
            <div class="col-12 md:col-9 lg:col-9">
                <input type="text" pInputText formControlName="nit" required maxlength="45" />
            </div>
            <div class="col-12 md:col-3 lg:col-3">
                Direccion
            </div>
            <div class="col-12 md:col-9 lg:col-9">
                <input type="text" pInputText formControlName="direccion" required maxlength="45" />
            </div>
            <div class="col-12 md:col-3 lg:col-3">
                Telefono
            </div>
            <div class="col-12 md:col-9 lg:col-9">
                <input type="text" pInputText formControlName="telefono" required maxlength="45" />
            </div>
            <div class="col-12 md:col-3 lg:col-3">
                Número de sedes
            </div>
            <div class="col-12 md:col-9 lg:col-9">
                <input type="number" pInputText formControlName="numeroSedes" required maxlength="45" />
            </div>
            <div class="col-12 md:col-3 lg:col-3">
                Email
            </div>
            <div class="col-12 md:col-9 lg:col-9">
                <input type="text" pInputText formControlName="email" required maxlength="45" />
            </div>
            <div class="col-12 md:col-3 lg:col-3">
                Web
            </div>
            <div class="col-12 md:col-9 lg:col-9">
                <input type="text" pInputText formControlName="web" required maxlength="45" />
            </div>


            <div class="col-12 md:col-3 lg:col-3">
                ARL
            </div>
            <div class="col-12 md:col-9 lg:col-9">
                <p-dropdown [options]="arlList" formControlName="arlId" appendTo="body"></p-dropdown>
            </div>

            <div class="col-12 md:col-3 lg:col-3">
                CIIU
            </div>
            <div class="col-12 md:col-9 lg:col-9">
                <p-dropdown [options]="ciiuList" formControlName="ciiuId" appendTo="body" filter="true">
                    <ng-template let-item pTemplate="selectedItem">
                        <div style="max-width: 200px;" [title]="item.label">{{item?.label}}</div>
                    </ng-template>
                    <ng-template let-ciiu pTemplate="item">
                        <div style="max-width: 200px;">{{ciiu?.label}}</div>
                    </ng-template>
                </p-dropdown>
            </div>

        </div>
        <footer>
            <button pButton type="submit" icon="bi bi-floppy-o" label="Guardar" [disabled]="!form?.valid"></button>
            <button pButton type="button" icon="bi bi-ban" class="ui-button-secondary" label="Cancelar"
                (click)="closeForm()"></button>
        </footer>
    </form>
</p-dialog>
<p-dialog [(visible)]="visibleDlg" modal="true">
    <p-header>
        <button (click)="inputFile.click()" pButton label="Subir foto" icon="bi bi-upload"
            class="ui-button-secondary"></button>
        <button (click)="aceptarImg()" icon="pi pi-check" pButton label="Aceptar"></button>
        <input type="file" #inputFile style="visibility: hidden;width: 0px;height: 0px;"
            (change)="fileChangeEvent($event)" />
    </p-header>
    <div style="width: 600px;height: 600px">
        <div class="previsual-crop">
            <img [src]="croppedImage" />
        </div>
        <image-cropper 
            [imageChangedEvent]="imageChangedEvent" 
            [maintainAspectRatio]="true" 
            [aspectRatio]="45/17"
            [resizeToWidth]="256" 
            format="png" 
            (imageCropped)="imageCropped($event)" 
            ></image-cropper>
    </div>
</p-dialog>