
<div style="margin-left: 3px;">

    <p-panel header="GRAFICO RANGOS" >
    <div class="grid" *ngIf="flag1">
    <!-- Primera grafica -->
    <div class="col-12">
        <p> <b> {{nameGraf1}} </b></p>
    </div>
        <div  class="col-8 grid">
        <div class="col-11 grafic">
            <ngx-charts-bar-vertical-2d 
            [scheme]="colorScheme"
            [results]="datosGraf1Print"
            [gradient]="true"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="true"
            [legendTitle]="'Leyenda'"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxisLabel]="nameX"
            [yAxisLabel]="'No. Casos'"
            [barPadding]=0
            [groupPadding]=4
            [showDataLabel]="true"
            [tooltipDisabled]="false">
            </ngx-charts-bar-vertical-2d>
        </div>
        <div class="col-1">&nbsp;</div>
        <div class="col-2">&nbsp;</div>
        <div class="col-8 grid">
            <div class="col-6">  
            <mat-icon aria-hidden="false" aria-label="event" fontIcon="event"></mat-icon>    
            <p-calendar appendTo="body" [showButtonBar]="true"  view="month" dateFormat="mm/yy" placeholder="Desde"  [(ngModel)]="fechaDesde1" (ngModelChange)="DatosGrafica1()"> </p-calendar> 
            </div>
            <div class="col-6"> 
            <mat-icon aria-hidden="false" aria-label="event" fontIcon="event"></mat-icon>  
            <p-calendar appendTo="body" [showButtonBar]="true"  view="month" dateFormat="mm/yy" placeholder="Hasta"  [(ngModel)]="fechaHasta1" (ngModelChange)="DatosGrafica1()"> </p-calendar>
            </div>
        </div>
        </div>

        <div class="col-12 md:col-4 lg:col-4 filter">
        <h3>{{nameX}}</h3>
        <div *ngFor="let category of divisiones0" class="p-field-checkbox">
            <p-checkbox name="group1" value="category" [value]="category"  [(ngModel)]="selectDivisiones1" [inputId]="category.value" (click)="DatosGrafica1()"></p-checkbox>
            <label>{{category.label}}</label>
        </div>
        <h3>Filtro rangos</h3>
        <div>
            <p-radioButton name="group2" [value]="0" [style]="{'margin-left':'15px'}" [(ngModel)]="radioButon1" (onClick)="returnDatos1()"></p-radioButton>
            <label for="">Antiguedad</label><br><br>
            <p-radioButton name="group2"  [value]="1" [style]="{'margin-left':'15px'}" [(ngModel)]="radioButon1" (onClick)="returnDatos1()"></p-radioButton>
            <label for="">Edad</label><br><br>
            <p-radioButton name="group2"  [value]="2" [style]="{'margin-left':'15px'}" [(ngModel)]="radioButon1" (onClick)="returnDatos1()"></p-radioButton>
            <label for="">Fecha creación &#916; cierre</label><br><br>
            <p-radioButton name="group2"  [value]="3" [style]="{'margin-left':'15px'}" [(ngModel)]="radioButon1" (onClick)="returnDatos1()"></p-radioButton>
            <label for="">Fecha diagnostico &#916; PCL</label><br><br>
            <p-radioButton name="group2"  [value]="4" [style]="{'margin-left':'15px'}" [(ngModel)]="radioButon1" (onClick)="returnDatos1()"></p-radioButton>
            <label for="">Fecha diagnostico &#916; origen</label>
        </div>
        
        <p-multiSelect [style]="{'width':'100%'}" defaultLabel="Seleccione" [options]="opcion1" optionLabel="label" [(ngModel)]="selectEvento1" (onChange)="DatosGrafica1()"></p-multiSelect>
        </div>
    </div>
    </p-panel>
    <br/>

    <p-panel header={{nameGraf2}}>
    <div class="grid" *ngIf="flag2">
        <div class="col-12">
    <p><b>
        <ng-container *ngIf="selectEvento2.length>0">
            <ng-container *ngFor="let ret of selectEvento2;first as f;last as l">
            <ng-container *ngIf="f ;else otro1">
                {{ret.label}}
            </ng-container>
            <ng-template #otro1>
                /{{ret.label}}
            </ng-template>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="selectEvento2.length==0">
            <ng-container *ngFor="let ret of opcion2;first as f;last as l">
            <ng-container *ngIf="f ;else otro1">
                {{ret.label}}
            </ng-container>
            <ng-template #otro1>
                /{{ret.label}}
            </ng-template>
            </ng-container>
        </ng-container>
    </b></p>
   </div>
        

        <div  class="col-8 grid">
        <div class="col-11 grafic">
            <ngx-charts-bar-vertical-2d
            class="align-items-center"
            [scheme]="colorScheme"
            [results]="datosGraf2Print"
            [gradient]="true"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="true"
            [legendTitle]="'Leyenda'"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxisLabel]="nameX"
            [yAxisLabel]="'No. Casos'"
            [showDataLabel]="true"
            [barPadding]=0
            [groupPadding]=4
            [tooltipDisabled]="false">
            </ngx-charts-bar-vertical-2d>
        </div>
        <div class="col-1">&nbsp;</div>
        <div class="col-2">&nbsp;</div>
        <div class="col-8 grid">
            <div class="col-6">  
                <mat-icon aria-hidden="false" aria-label="event" fontIcon="event"></mat-icon>    
                <p-calendar appendTo="body" [showButtonBar]="true"  view="month" dateFormat="mm/yy" placeholder="Desde"  [(ngModel)]="fechaDesde2" (ngModelChange)="DatosGrafica2()"> </p-calendar> 
            </div>
            <div class="col-6"> 
                <mat-icon aria-hidden="false" aria-label="event" fontIcon="event"></mat-icon>  
                <p-calendar appendTo="body" [showButtonBar]="true"  view="month" dateFormat="mm/yy" placeholder="Hasta" > [(ngModel)]="fechaHasta2" (ngModelChange)="DatosGrafica2()"</p-calendar>
            </div>
        </div>
        </div>


        <div class="col-12 md:col-4 lg:col-4 filter">
        <h3>{{nameX}}</h3>
        <div *ngFor="let category of divisiones0" class="p-field-checkbox">
            <p-checkbox name="group3" value="category" [value]="category"  [(ngModel)]="selectDivisiones2" [inputId]="category.value" (click)="DatosGrafica2()"></p-checkbox>
            <label>{{category.label}}</label>
        </div>
        <h3>Filtro casos</h3>
        <div class="col-md-10">
            <p-radioButton name="group4"  [value]="0" [style]="{'margin-left':'15px'}" [(ngModel)]="radioButon2" (onClick)="returnDatos2()"></p-radioButton>
            <label for="">Rehabilitación</label><br><br>
            <p-radioButton name="group4"  [value]="1" [style]="{'margin-left':'15px'}" [(ngModel)]="radioButon2" (onClick)="returnDatos2()"></p-radioButton>
            <label for="">PCL</label><br><br>
            <p-radioButton name="group4"  [value]="2" [style]="{'margin-left':'15px'}" [(ngModel)]="radioButon2" (onClick)="returnDatos2()"></p-radioButton>
            <label for="">Origen</label><br><br>
            <p-radioButton name="group4"  [value]="3" [style]="{'margin-left':'15px'}" [(ngModel)]="radioButon2" (onClick)="returnDatos2()"></p-radioButton>
            <label for="">Todos</label>
        </div>
        <br>
        <p-multiSelect [style]="{'width':'100%'}" defaultLabel="Seleccione" [options]="opcion2" optionLabel="label" [(ngModel)]="selectEvento2" (onChange)="DatosGrafica2()"></p-multiSelect>
        </div>
    </div>
    </p-panel>
    <br/>
    <p-panel header="GRAFICO EVENTOS" >
    <div class="grid" *ngIf="flag3">
    <!-- Tercera grafica -->
    <div class="col-12">
        <p><b>
            <ng-container *ngIf="selectEvento3.length>0">
                <ng-container *ngFor="let ret of selectEvento3;first as f;last as l">
                <ng-container *ngIf="f ;else otro1">
                    {{ret.label}}
                </ng-container>
                <ng-template #otro1>
                    /{{ret.label}}
                </ng-template>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="selectEvento3.length==0">
                <ng-container *ngFor="let ret of opcion3;first as f;last as l">
                <ng-container *ngIf="f ;else otro1">
                    {{ret.label}}
                </ng-container>
                <ng-template #otro1>
                    /{{ret.label}}
                </ng-template>
                </ng-container>
            </ng-container>
        </b></p>
    </div>
        
        <div  class="col-8 grid">
        <div class="col-11  grafic">
            <ngx-charts-bar-vertical-2d 
            [scheme]="colorScheme"
            [results]="datosGraf3Print"
            [gradient]="true"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="true"
            [legendTitle]="'Leyenda'"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxisLabel]="nameX"
            [yAxisLabel]="'No. Casos'"
            [barPadding]=0
            [groupPadding]=4
            [showDataLabel]="true"
            [tooltipDisabled]="false">
            </ngx-charts-bar-vertical-2d>
        </div>
        <div class="col-1">&nbsp;</div>
        <div class="col-2">&nbsp;</div>
        <div class="col-8 grid">
            <div class="col-6">  
            <mat-icon aria-hidden="false" aria-label="event" fontIcon="event"></mat-icon>    
            <p-calendar appendTo="body" [showButtonBar]="true"  view="month" dateFormat="mm/yy" placeholder="Desde"  [(ngModel)]="fechaDesde3" (ngModelChange)="DatosGrafica3()"> </p-calendar> 
            </div>
            <div class="col-6"> 
            <mat-icon aria-hidden="false" aria-label="event" fontIcon="event"></mat-icon>  
            <p-calendar appendTo="body" [showButtonBar]="true"  view="month" dateFormat="mm/yy" placeholder="Hasta"  [(ngModel)]="fechaHasta3" (ngModelChange)="DatosGrafica3()"> </p-calendar>
            </div>
        </div>
        </div>

        <div class="col-12 md:col-4 lg:col-4 filter">
        <h3>{{nameX}}</h3>
        <div *ngFor="let category of divisiones0" class="p-field-checkbox">
            <p-checkbox name="group5" value="category" [value]="category"  [(ngModel)]="selectDivisiones3" [inputId]="category.value" (click)="DatosGrafica3()"></p-checkbox>
            <label>{{category.label}}</label>
        </div>
        <h3>Filtro</h3>
        <p-multiSelect [style]="{'width':'100%'}" defaultLabel="Seleccione" [options]="opcion3" optionLabel="label" [(ngModel)]="selectEvento3" (onChange)="DatosGrafica3()"></p-multiSelect>
        </div>
    </div>
    <hr>
    <div class="grid" *ngIf="flag4">
    <!-- Tercera grafica -->
    <div class="col-12">
        <p><b>
            <ng-container *ngIf="selectEvento4.length>0">
                <ng-container *ngFor="let ret of selectEvento4;first as f;last as l">
                <ng-container *ngIf="f ;else otro1">
                    {{ret.label}}
                </ng-container>
                <ng-template #otro1>
                    /{{ret.label}}
                </ng-template>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="selectEvento4.length==0">
                <ng-container *ngFor="let ret of conteo;first as f;last as l">
                <ng-container *ngIf="f ;else otro1">
                    {{ret.label}}
                </ng-container>
                <ng-template #otro1>
                    /{{ret.label}}
                </ng-template>
                </ng-container>
            </ng-container>
        </b></p>
    </div>
        
        <div  class="col-8 grid">
        <div class="col-11 grafic" *ngIf="flagReturnDatos4">
            <ngx-charts-bar-vertical-2d 
            [scheme]="colorScheme"
            [results]="datosGraf4Print"
            [gradient]="true"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="true"
            [legendTitle]="'Leyenda'"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxisLabel]="'Ubicación'"
            [yAxisLabel]="'No. Casos'"
            [barPadding]=0
            [groupPadding]=4
            [showDataLabel]="true"
            [tooltipDisabled]="false">
            </ngx-charts-bar-vertical-2d>
        </div>
        <ng-container *ngIf="!flagReturnDatos4">
            <div class="col-11 ui-sm-11 ui-md-11 col-nopad">
                <s-dataNotFound [message]="'Selecione una división'"></s-dataNotFound>
            </div>
        </ng-container>
        <div class="col-1">&nbsp;</div>
        <div class="col-2">&nbsp;</div>
        <div class="col-8 grid">
            <div class="col-6" *ngIf="flagReturnDatos4">  
            <mat-icon aria-hidden="false" aria-label="event" fontIcon="event"></mat-icon>    
            <p-calendar appendTo="body" [showButtonBar]="true"  view="month" dateFormat="mm/yy" placeholder="Desde"  [(ngModel)]="fechaDesde4" (ngModelChange)="DatosGrafica4()"> </p-calendar> 
            </div>
            <div class="col-6" *ngIf="flagReturnDatos4"> 
            <mat-icon aria-hidden="false" aria-label="event" fontIcon="event"></mat-icon>  
            <p-calendar appendTo="body" [showButtonBar]="true"  view="month" dateFormat="mm/yy" placeholder="Hasta"  [(ngModel)]="fechaHasta4" (ngModelChange)="DatosGrafica4()"> </p-calendar>
            </div>
        </div>
        </div>

        <div class="col-12 md:col-4 lg:col-4 filter">
            <h3>{{nameX}}</h3>

            <p-dropdown [style]="{'width':'100%'}" appendTo="body" [options]="divisiones0" [(ngModel)]="selectDivisiones4" placeholder="{{idEmpresa=='22'?'Seleccionar división':'Seleccionar región'}}" (onChange)="cargarArea4()"></p-dropdown>
   
            <ng-container *ngIf="selectDivisiones4.length>0">
                &nbsp;
                <h3>Estructura</h3>
                <button style="display:flex" pButton type="button" icon="bi bi-pencil-square" class="p-button-success" (click)="abrirDialogo4()" label="Seleccionar Ubicación"></button>
            </ng-container>
            &nbsp;
            <h3 *ngIf="flagReturnDatos4">Filtro casos</h3>
            <p-multiSelect [style]="{'width':'100%'}" *ngIf="flagReturnDatos4" defaultLabel="Seleccione" [options]="opcion4" optionLabel="label" [(ngModel)]="selectEvento4" (onChange)="DatosGrafica4()"></p-multiSelect>
        </div>
    </div>
    </p-panel>
</div>

<!-- grafica 3 -->
<p-dialog header="Estructura" [(visible)]="visibleDlg4" [contentStyle]="{'max-height':'95%'}" [style]="{width: '80%', height: '70%'}">
    
    <div >
        <label for="" class="active">Seleccionar ubicacion</label>
    </div>
  
    <div >
        <p-tree #tree [filter]="true" [value]="areasNodesMemory4" selectionMode="checkbox" [(selection)]="selectUbicacion4" layout="vertical"></p-tree>
    </div>
  
    <p-footer>
        <button pButton type="button" (click)="DatosGrafica4()" label="Aceptar"></button>
        <button pButton type="button" (click)="cerrarDialogo4()" class="ui-button-secondary" label="Cancelar"></button>
    </p-footer>
    
  </p-dialog>