<p-toast></p-toast>
<p-dialog header="Subir archivo" [visible]="visibleDlg" (visibleChange)="onVisibleChange($event)" modal="true" appendTo="body">
    <p-fileUpload
        name="file"
        maxFileSize="20000000"
        [style]="{ width: '480px' }"
        chooseLabel="Seleccionar"
        uploadLabel="Subir"
        cancelLabel="Cancelar"
        customUpload="true"
        (uploadHandler)="upload($event)"
        [files]="myfiles"
        
    >
    </p-fileUpload>

    <div class="row g-2m b-3">
        <div class="col-lg" [formGroup]="form">
            <div class="col-12">
                <label for="">Descripción</label>
            </div>
            <div class="col-12" *ngIf="!contratistasFlag && !temporalesFlag">
                <input formControlName="descripcion" class="form-control" type="text" >
                <h6 *ngIf="form.invalid" id="username2-help" class="p-invalid row">Obligatorio</h6>
            </div>
            <div class="col-12" *ngIf="contratistasFlag">
                <p-dropdown appendTo="body" [options]="doContratista" formControlName="descripcion" ></p-dropdown>
                <h6 *ngIf="form.invalid" id="username2-help" class="p-invalid row">Obligatorio</h6>
            </div>
            <div class="col-12" *ngIf="temporalesFlag">
                <p-dropdown appendTo="body" [options]="doTemporales" formControlName="descripcion" ></p-dropdown>
                <h6 *ngIf="form.invalid" id="username2-help" class="p-invalid row">Obligatorio</h6>
            </div>
        </div>
    </div>
    <br>
    <div class="row bm-3 g-2" [formGroup]="myGroup" *ngIf="!temporalesFlag && privadoCheck && !scmDoc && flagPrivado">
        <div class="col-12">
            <p-checkbox #nivelAccesoH name="cbxAccessLevelH" id="nivelAccesoH" class="form-check-input" (click)="this.setNivelAcceso(true)" binary="true" label="Privado"></p-checkbox>
        </div>
    </div>

    <div *ngIf="scmDoc">
        <p-checkbox #scmnivelAccesoH name="scmcbxAccessLevelH" id="scmnivelAccesoH" class="form-check-input" (click)="this.setNivelAccesoScm(true)" binary="true" label="Privado"></p-checkbox>
        <ng-container *ngIf="flagSCMPPrivado && flagPrivado">
            <br><br>
            <label class="s-float-label">Perfiles</label><br>
            <p-multiSelect appendTo="body" [options]="perfilList" [(ngModel)]="perfiles" [ngModelOptions]="{standalone: true}" defaultLabel="--Perfiles--"></p-multiSelect>
            <h6 *ngIf="perfiles.length==0" id="username2-help" class="p-invalid row">Obligatorio</h6>
        </ng-container>
    </div>
</p-dialog>
