<div style="margin-left: 3px;">
    <p-panel header="Clasificación eventos">
    <div class="grid colorsitos colorfondo">
        <div class="col-12 ">
            <div class="grid ">
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="card color1">
                        <div  style="text-align:left;">
                            <h3>Almacenes Corona</h3>
                        </div>
                        <!-- <div  style="text-align:right;">
                            <span class="tamañotexto">{{this.ContLeve}}</span>
                        </div> -->
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="card color2">
                        <div  style="text-align:left;">
                            <h3>Bathrooms and kitchen</h3>
                        </div>
                        <!-- <div  style="text-align:right;">
                            <span class="tamañotexto">{{this.ContGrave}}</span>
                        </div> -->
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="card color3">
                        <div  style="text-align:left;">
                            <h3>Comercial Corona</h3>
                        </div>
                        <!-- <div  style="text-align:right;">
                            <span class="tamañotexto">{{this.ContSevero}}</span>
                        </div>                                      -->
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="card color4">
                        <div  style="text-align:left;">
                            <h3>Funciones transversales</h3>
                        </div>
                        <!-- <div  style="text-align:right;">
                            <span class="tamañotexto">{{this.ContMortal}}</span>
                        </div>                                      -->
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="card color5">
                        <div  style="text-align:left;">
                            <h3>Insumos industriales y energias</h3>
                        </div>
                        <!-- <div  style="text-align:right;">
                            <span class="tamañotexto">{{this.ContMortal}}</span>
                        </div>                                      -->
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="card color6">
                        <div  style="text-align:left;">
                            <h3>Mesa servida</h3>
                        </div>
                        <!-- <div  style="text-align:right;">
                            <span class="tamañotexto">{{this.ContMortal}}</span>
                        </div>                                      -->
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-3">
                    <div class="card color7">
                        <div  style="text-align:left;">
                            <h3>Superficies, materiales y pinturas</h3>
                        </div>
                        <!-- <div  style="text-align:right;">
                            <span class="tamañotexto">{{this.ContMortal}}</span>
                        </div>                                      -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </p-panel>
</div>