.main{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    
    padding: 2em;
    padding-top: 0.9em;
    background-color: #fff;
    box-sizing: border-box;
  }
  h1{
    color: #ffffff;
  }
  h3{
    margin-bottom: 0.3em;
    text-align: left;
    font-weight: bold;
    font-size: large;
  }
  h4{
    margin-bottom: 1em;
    text-align: center;
  }
  
  .tbl{
    font-size: 12px;
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
  }
  
  .tbl thead th, th, td{
    padding: 5px;
    border: solid thin #ccc;
  }
  
  .fila-oscura{
    background: #efefef;
  }
  
  .tbl th{
    background: #efefef;
  }
  
  .toolbar{
    width: 100%;
    background-color: #efefef;
    height: 35px;
    border-top: solid thin #ccc;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  }
  .toolbar button{
    background-color: transparent;
    border: none;
    color: #555;
    padding: 10px;
    margin: 0px;
    width: 40px;
    height: inherit;
    box-shadow: none;
    border-radius: 0px;
  }
  
  .na-class{
    color: #ccc;
    font-weight: bold;
  }
  
  
  
  .fa{
    font-size: 30px;
  }
  
  .fa-check-circle{
    color: green;
  }
  
  .mid-border{
      padding-top: 3px;
      padding-bottom: 5px;
  
  // border-top: 0.1px solid #ffffff;
  }
  .fa-times-circle{
    color:rgb(200, 0, 0);
  }
  .info-card {
      display: grid;
      grid-template-columns: auto 80%;
      min-height: 5rem;
       
  }
  
      .p-card{ 
      background: linear-gradient(256deg, #65afc4 0%, #88c0d0 100%);
          }
  
  .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      .fa{
          font-size: 3rem;
      }
  }
  .icon-adm{
    background-image: url('/assets/images/icons-invert/adm.svg');
  }
  
  .info {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .info .percent {
      font-size: 2rem;
  
  }
  p label{
    font-weight: bold;
  }
  .p-mt-6 {
    margin-top: 5px !important;
  }
  
  .center {
    margin: auto;
    width: 60%; 
    padding: 10px;
    }
  
    .btn-wsp{
      size: 50px;
      position: fixed;
      width: 40px;
      height: 40px;
      line-height: 40px;
      bottom: 30px;
      right: 20px;
      background: #00943e;
      color: #fff;
      border-radius: 40px;
      text-align: center;
      font-size: 30px;
      box-shadow: 0px 1px 10px  rgba(0,0,0,0.5);
      z-index: 100;
      
  }
  
  .btn-wsp:hover{
      
     text-decoration: none;
      //color: #0df053;
      //background: #fff;
      background: #00943e;
      color: #fff;
      right: 20px;
      transition: 100ms;
      width: 290px;
      text-align: left;
      padding-left: 10px;
  }
  
  
  .ocultar{
      
    display: inline-flex;
    font-size: x-large;
    position: fixed;
    color: rgba(0, 0, 0, 0);
  }
  
  .ocultar:hover{
      
    display: inline;
     font-size: medium;
     text-align: right;
     padding-left: 5px;
     color: #fff !important;
     position: fixed;
  }
  
  body{
    margin-top:20px;
    background:#FAFAFA;
  }
  .order-card {
    color: #fff;
  }
  
  .bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
  }
  
  .bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
  }
  
  .bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
  }
  
  .bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
  }
  
  
  .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    padding: 5% 3% 2% 3%;
    height: 100%;
  }


  .aspect-ratio-square {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* Relación de aspecto 1:1 (cuadrado) */
    overflow: hidden;
}
  
  .card .card-block {
    padding: 25px;
  }
  
  .order-card i {
    font-size: 26px;
  }
  
  .f-left {
    float: left;
  }
  
  .f-right {
    float: right;
  }
  

  .l-bg-cherry {
  background: linear-gradient(to right, #493240, #f09) !important;
  color: #fff;
  }
  
  
  
  .l-bg-green-dark {
  background: linear-gradient(to right, #0a504a, #38ef7d) !important;
  color: #fff;
  }
  .l-bg-red-dark {
  background: linear-gradient(to right, #a80808, #ff5656) !important;
  color: #fff;
  }
  
  .l-bg-blue1-dark {
  background: linear-gradient(to right, #90b0e5, #1a72ff) !important;
  color: #fff;
  }
  .l-bg-blue2-dark {
  background: linear-gradient(to right, #006082, #00B0F0) !important;
  color: #fff;
  }
.l-bg-blue3-dark {
background: linear-gradient(to right, #373b44, #4286f4) !important;
color: #fff;
}
.l-bg-blue4-dark {
    background: linear-gradient(to right, #24262a, #064ec2) !important;
    color: #fff;
    }
  
  
  .card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
  font-size: 110px;
  }
  
  .tamañotexto {
    font-size: 25px;
  }
  .tamañotexto2 {
    font-size: 15px;
  }
  .tamañotexto_2 {
    font-size: 25px;
    // line-height: 1;
  }
  .tamañotexto2_2 {
    font-size: 15px;
    // line-height: 1;
  }
  
  ::ng-deep .col-4 {
  width: 100%!important;
  text-align:right;
  }
  ::ng-deep a:hover {
  background-color: orange !important;
  }
  .grafic {
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  margin-bottom: 30px;
  height: 11.5cm;
  // width: 98%;
  }
  .filter {
  background-color: lightgrey;
  border-radius: 20px;
  position: relative;
  margin-bottom: 30px;
  height: 17cm;
  }

  div{
    font-size: large;
    padding-bottom: 5px;
  }

  label{
    font-size: large;
  }

  :host ::ng-deep .p-panel .p-panel-content {
    background-color: #ebe9e5;
    }
    :host ::ng-deep .p-panel {
    font-size:large;
    }
  
  .colorfondo{
  background: #ebe9e5;
  }

  :host ::ng-deep .h4{
  font-size:small;
  }
  

  
  :host ::ng-deep 
    .p-calendar{
        .p-button{
            background: white;
            color: gray;
            pointer-events: none;
        }
        
        .p-inputtext {
            background: white;
        }
        
    }


    .contenedor {
      position: absolute; /* Asegura que el panel se posicione en relación a este contenedor */
      /* Asegúrate de definir el ancho y altura según necesites */
      width: 25%;
      z-index: 1000;
      right: 51%;
    }

    .contenedor2 {
      position: absolute; /* Asegura que el panel se posicione en relación a este contenedor */
      /* Asegúrate de definir el ancho y altura según necesites */
      width: 25%;
      z-index: 1000;
      right: 6%;
    }
    
    .panel-lateral {
      background-color: lightgrey;
      border-radius: 20px;
      right: 0;
      position: absolute; /* Cambiado de 'relative' a 'absolute' */
      top: 0; /* Asegura que el panel inicie en la parte superior del contenedor */
      margin-bottom: 30px;
      height: 16cm;
      transition: width 0.2s ease-in-out; /* Transición suave del ancho */
      overflow: hidden; /* Esconde el contenido que exceda el tamaño del panel */
      width: 0; /* Inicia con el panel cerrado */
      padding: 0; /* Inicia sin padding */
    }
    
    .abierto {
      width: 100%; /* O el ancho deseado cuando está abierto */
      padding: 20px; /* Restablece el padding cuando está abierto */
    }
    
    .cerrado {
      width: 0; /* O el mínimo ancho para "ocultarlo" */
      padding: 0px; /* Elimina el padding cuando está cerrado */
    }
    .buttonFilter{
      z-index: 1001;
    }

  
  .color1I{
    color:white;
    text-shadow: 1px 1px 2px black; /* Esto agrega un bordeado al texto */
    background: linear-gradient(
        to left,
        red 0%,
        red 17%,
        orange 17%,
        orange 33%,
        yellow  33%,
        yellow  50%,
        green 50%,
      );
  }
  
  .color2I{
    color:white;
    text-shadow: 1px 1px 2px black; /* Esto agrega un bordeado al texto */
      background: linear-gradient(
          to left,
          red 0%,
          red 40%,
          orange 40%,
          orange 80%,
          yellow  80%,
          yellow  100%,
          green 100%,
        );
  }

  .color3I{
    color:white;
    text-shadow: 1px 1px 2px black; /* Esto agrega un bordeado al texto */
    background: linear-gradient(
        to left,
        red 0%,
        red 20%,
        orange 20%,
        orange 20%,
        yellow 20%,
        yellow 50%,
        green 50%,
      );
  }
  .color4I{
      color:white;
      text-shadow: 1px 1px 2px black; /* Esto agrega un bordeado al texto */
      background: linear-gradient(
          to left,
          red 0%,            
          red 10%,            
          orange 10%,
          orange 37%,
          yellow 37%,
          yellow 90%,
          green 90%,
          );
  }
  .color5I{
    color:white;
    text-shadow: 1px 1px 2px black; /* Esto agrega un bordeado al texto */
    background: linear-gradient(
        to left,
        red 0%,
        red 17%,
        orange 17%,
        orange 33%,
        yellow  33%,
        yellow  50%,
        green 50%,
      );
  }
  
  .color6I{
    color:white;
    text-shadow: 1px 1px 2px black; /* Esto agrega un bordeado al texto */
      background: linear-gradient(
          to left,
          red 0%,
          red 40%,
          orange 40%,
          orange 80%,
          yellow  80%,
          yellow  100%,
          green 100%,
        );
  }

  .color7I{
    color:white;
    text-shadow: 1px 1px 2px black; /* Esto agrega un bordeado al texto */
    background: linear-gradient(
        to left,
        red 0%,
        red 20%,
        orange 20%,
        orange 20%,
        yellow 20%,
        yellow 50%,
        green 50%,
      );
  }
  .color8I{
      color:white;
      text-shadow: 1px 1px 2px black; /* Esto agrega un bordeado al texto */
      background: linear-gradient(
         to left,
          red 0%,            
          red 10%,            
          orange 10%,
          orange 37%,
          yellow 37%,
          yellow 90%,
          green 90%,
          );
  }
  
  .color1R{
    color:white;
    text-shadow: 1px 1px 2px black; /* Esto agrega un bordeado al texto */
    background: linear-gradient(
        to left,
      red 0%,
      red 15%,
      orange 15%,
      orange 33%,
      yellow  33%,
      yellow  50%,
      green 50%,
      );
  }
  
  .color2R{
    color:white;
    text-shadow: 1px 1px 2px black; /* Esto agrega un bordeado al texto */
      background: linear-gradient(
          to left,
          red 0%,
          red 40%,
          orange 40%,
          orange 80%,
          yellow  80%,
          yellow  100%,
          green 100%,
        );
  }

  .color3R{
    color:white;
    text-shadow: 1px 1px 2px black; /* Esto agrega un bordeado al texto */
    background: linear-gradient(
        to left,
        red 0%,
        red 20%,
        orange 20%,
        orange 20%,
        yellow 20%,
        yellow 50%,
        green 50%,
      );
  }
  .color4R{
      color:white;
      text-shadow: 1px 1px 2px black; /* Esto agrega un bordeado al texto */
      background: linear-gradient(
          to left,
          red 0%,            
          red 10%,            
          orange 10%,
          orange 37%,
          yellow 37%,
          yellow 90%,
          green 90%,
          );
  }
  .color5R{
    color:white;
    text-shadow: 1px 1px 2px black; /* Esto agrega un bordeado al texto */
    background: linear-gradient(
        to left,
        red 0%,
        red 15%,
        orange 19%,
        orange 31%,
        yellow  35%,
        yellow  48%,
        green 52%,
      );
  }
  
  .color6R{
    color:white;
    text-shadow: 1px 1px 2px black; /* Esto agrega un bordeado al texto */
      background: linear-gradient(
          to left,
          red 0%,
          red 38%,
          orange 42%,
          orange 78%,
          yellow  82%,
          yellow  100%,
          green 100%,
        );
  }

  .color7R{
    color:white;
    text-shadow: 1px 1px 2px black; /* Esto agrega un bordeado al texto */
    background: linear-gradient(
        to left,
        red 0%,
        red 18%,
        orange 20%,
        orange 20%,
        yellow 22%,
        yellow 48%,
        green 52%,
      );
  }
  .color8R{
      color:white;
      text-shadow: 1px 1px 2px black; /* Esto agrega un bordeado al texto */
      background: linear-gradient(
          to left,
          red 0%,            
          red 8%,            
          orange 12%,
          orange 35%,
          yellow 39%,
          yellow 88%,
          green 92%,
          );
  }

  .cardGrid1{
    padding: 2px;
    padding-bottom: 2px;
    padding-inline: 20px;
  }
  .cardGrid2{
    padding: 2px;
    padding-bottom: 20px;
    padding-inline: 15px;
    height: 4.7cm;
  }
  .cardGrid3{
    padding: 2px;
    padding-bottom: 10px;
    padding-inline: 10px;
    // height: 4.7cm;
  }

  // .grid {
  //   justify-content: space-around;

  // }
  
  
  