<form [formGroup]="form">
  <p-dialog [style]="{width: '50%'}" [(visible)]="visible"  [modal]="true" [maximizable]="true" appendTo="body" (onHide)="hideDialog()">
    <p-header>
      Evento {{!esNueva ? (this.form?.value.fechaInicio | date:'dd/MM/yyyy') : ''}}
    </p-header>
    <p-toast key="progEvento" appendTo="body" [position]="'center'"></p-toast>
    <!-- Formulario ciclo corto -->
    <div *ngIf="loading" style="width: 100%;margin-bottom: 5px;">
      <p-progressBar mode="indeterminate" [style]="{height: '5px'}"></p-progressBar>
    </div>
    <div class="grid" *ngIf="modulo==='INPCC'">
      <div class="col-12 md:col-4 lg:col-4">
        <label for="numeroInspecciones">Número de inspecciones</label>
      </div>
      <div class="col-12 md:col-8 lg:col-8">
        <input pInputText id="numeroInspecciones" formControlName="numeroInspecciones" required />
      </div>
      <div class="col-12 md:col-4 lg:col-4">
        <label for="listaInsp">Inspección a realizar</label>
      </div>
      <div class="col-12 md:col-8 lg:col-8">
        <p-dropdown id="listaInsp" [options]="listasInspeccionList" placeholder="-- Seleccione --" [filter]="true" formControlName="listaInspeccionPK"
          appendTo="body" required (onChange)="onChangeListaInspeccion($event)"></p-dropdown>
      </div>
      <div class="col-12 md:col-4 lg:col-4" *ngIf="esListaInactiva"></div>
      <div class="col-12 md:col-8 lg:col-8" *ngIf="esListaInactiva">
        <label style="color: red;">*Se recomienda usar la versión mas reciente de esta lista de inspeccion.</label>
      </div>
      <div class="col-12 md:col-4 lg:col-4">
        <label for="empresa">Empresa Aliada</label>
      </div>
      <div class="col-12 md:col-8 lg:col-8">
        <p-dropdown formControlName="empresaAliada" [options]="empresasAliadasOption" placeholder="-- Seleccione --" appendTo="body" [filter]="true" required></p-dropdown>
      </div>
      <div class="col-12 md:col-4 lg:col-4">
        <label for="areaResponsable">Localidad</label>
      </div>
      <div class="col-12 md:col-8 lg:col-8">
        <p-dropdown formControlName="localidad" [options]="localidadesOption" placeholder="-- Seleccione --" appendTo="body" [filter]="true" required></p-dropdown>
      </div>
      <div class="col-12 md:col-4 lg:col-4">
        <label>Gestor</label>
      </div>
      <div class="col-12 md:col-8 lg:col-8">
        <s-empleadoBasicSelector [(ngModel)]="this.form?.value.empleadoBasic" (onSelect)="onReceiveEmpleadoBasic($event)" [ngModelOptions]="{standalone: true}" required autofocus></s-empleadoBasicSelector>
      </div>
      <div class="col-12 md:col-4 lg:col-4" *ngIf="!esNueva">
        <label for="fecha">Fecha</label>
      </div>
      <div class="col-12 md:col-8 lg:col-8" *ngIf="!esNueva">
        <p-calendar appendTo="body" id="fecha" formControlName="fechaInicio" placeholder="dd/mm/yyyy" dateFormat="dd/mm/yy" firstDayOfWeek="0" required></p-calendar>
      </div>
    </div>
    <!-- Fin formulario ciclo corto -->
    <!-- Formulario Inspecciones -->
    <div class="grid" *ngIf="modulo==='INP'">
      <div class="col-12 md:col-4 lg:col-4">
        <label for="numeroInspecciones">Número de inspecciones</label>
      </div>
      <div class="col-12 md:col-8 lg:col-8">
        <input pInputText id="numeroInspecciones" formControlName="numeroInspecciones" required />
      </div>
      <div class="col-12 md:col-4 lg:col-4">
        <label for="listaInsp">Lista de inspección</label>
      </div>
      <div class="col-12 md:col-8 lg:col-8">
        <p-dropdown id="listaInsp" [options]="listasInspeccionList" [filter]="true" formControlName="listaInspeccionPK"
          appendTo="body" required></p-dropdown>
      </div>
      <div class="col-12 md:col-4 lg:col-4" *ngIf="esListaInactiva"></div>
      <div class="col-12 md:col-8 lg:col-8" *ngIf="esListaInactiva">
        <label style="color: red;">*Se recomienda usar la versión mas reciente de esta lista de inspeccion.</label>
      </div>
      <div class="col-12 md:col-4 lg:col-4">
        <label for="areaResponsable">Ubicación responsable</label>
      </div>
      <div class="col-12 md:col-8 lg:col-8">
        <area-selector formControlName="area" required></area-selector>
      </div>
      <div class="col-12 md:col-4 lg:col-4" *ngIf="!esNueva">
        <label for="fecha">Fecha</label>
      </div>
      <div class="col-12 md:col-8 lg:col-8" *ngIf="!esNueva">
        <p-calendar appendTo="body" id="fecha" formControlName="fechaInicio" placeholder="dd/mm/yyyy" dateFormat="dd/mm/yy" firstDayOfWeek="0" required></p-calendar>
      </div>
    </div>
    <!-- Fin formulario inspecciones -->

    <!--Formulario de Signos vitales-->
    <div class="grid" *ngIf="modulo==='ISV'">
      <div class="col-12 md:col-4 lg:col-4">
        <label for="numeroInspecciones">Número de inspecciones</label>
      </div>
      <div class="col-12 md:col-8 lg:col-8">
        <input pInputText id="numeroInspecciones" formControlName="numeroInspecciones" required />
      </div>
      <div class="col-12 md:col-4 lg:col-4">
        <label for="listaInsp">Lista de inspección uwu</label>
      </div>
      <div class="col-12 md:col-8 lg:col-8">
        <p-dropdown id="listaInsp" [options]="listasInspeccionList" [filter]="true" formControlName="listaInspeccionPK"
          appendTo="body" required></p-dropdown>
      </div>
      <div class="col-12 md:col-4 lg:col-4" *ngIf="esListaInactiva"></div>
      <div class="col-12 md:col-8 lg:col-8" *ngIf="esListaInactiva">
        <label style="color: red;">*Se recomienda usar la versión mas reciente de esta lista de inspeccion.</label>
      </div>
      <div class="col-12 md:col-4 lg:col-4">
        <label for="areaResponsable">Ubicación responsable</label>
      </div>
      <div class="col-12 md:col-8 lg:col-8">
        <!-- <area-selector formControlName="area" required></area-selector> -->
        <!-- <p-multiSelect id="Division" [options]="areasOption" formControlName="area" [filter]="true" appendTo="body" [style]="{'width': '-webkit-fill-available'}"></p-multiSelect> -->
        <div class="row mt-3">
          <div class="col">
            <div>
              <label for="" class="active">División origen</label>
              <p-dropdown
                formControlName="area"
                [filter]="true"
                placeholder="Seleccione una división"
                [options]="listDivision"
                appendTo="body"
                required
                (onChange)="cargarPlantaLocalidad($event.value, 'Origen')"
              ></p-dropdown>
            </div>
          </div>
          <div class="col">
            <div>
              <label for="" class="active">Localidad origen</label>
              <p-dropdown
                formControlName="localidadSv"
                [filter]="true"
                [options]="localidadesList"
                class="select-material"
                styleClass="select-material"
                placeholder="Seleccione localidad"
                required
                (onChange)="cargarArea($event.value, 'Origen')"
              >
              </p-dropdown>
            </div>
          </div>
          <div class="col">
            <div>
              <label for="" class="active">Área origen</label>
            </div>
            <div>
              <p-dropdown
                formControlName="areaSv"
                [filter]="true"
                placeholder="Seleccione una área"
                [options]="areaList"
                optionLabel="name"
                appendTo="body"
                required
                (onChange)="cargarProceso($event.value, 'Origen')"
              ></p-dropdown>
            </div>
          </div>
          <div class="col">
            <div>
              <div>
                <label for="" class="active">Proceso origen</label>
              </div>
              <div>
                <p-dropdown
                  formControlName="procesoSv"
                  [filter]="true"
                  placeholder="Seleccione una proceso"
                  [options]="procesoList"
                  optionLabel="label"
                  required
                  appendTo="body"
                ></p-dropdown>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-4 lg:col-4" *ngIf="!esNueva">
        <label for="fecha">Fecha</label>
      </div>
      <div class="col-12 md:col-8 lg:col-8" *ngIf="!esNueva">
        <p-calendar appendTo="body" id="fecha" formControlName="fechaInicio" placeholder="dd/mm/yyyy" dateFormat="dd/mm/yy" firstDayOfWeek="0" required></p-calendar>
      </div>
    </div>
    <!--Fin de signos vitales-->
    <p-panel header="Periodicidad" *ngIf="esNueva">
      <div class="grid">
        <div class="col-12 md:col-3 lg:col-3">
          <label for="fecha">Fecha</label>
        </div>
        <div class="col-12 md:col-9 lg:col-9">
          <p-calendar appendTo="body" id="fecha" formControlName="fechaInicio" placeholder="dd/mm/yyyy" dateFormat="dd/mm/yy" firstDayOfWeek="0" required></p-calendar>
        </div>
        <!-- Repetir -->
        <div class="col-12 md:col-3 lg:col-3">
          <label for="repetir">Repetir</label>
        </div>
        <div class="col-12 md:col-9 lg:col-9">
          <p-inputSwitch id="repetir" [(ngModel)]="programacionSwitch" [ngModelOptions]="{standalone: true}"></p-inputSwitch>
        </div>
        <!-- Periodicidad -->
        <div class="col-12 md:col-3 lg:col-3" *ngIf="programacionSwitch">
          <label for="periodicidad">Repetir cada</label>
        </div>
        <div class="col-12 md:col-4 lg:col-4" *ngIf="programacionSwitch">
          <input pInputText type="number" formControlName="valorFrecuencia" placeholder="Valor">
        </div>
        <div class="col-12 md:col-5 lg:col-5" *ngIf="programacionSwitch">
          <p-dropdown id="periodicidad" appendTo="body" [options]="periodicidadList" formControlName="unidadFrecuencia" placeholder="Frecuencia" (onChange)="onChangeUnidadDeFrecuencia($event)"></p-dropdown>
        </div>
        <!-- Periodicidad semanal -->
        <div class="col-12 grid" *ngIf="programacionSwitch && getUnidadFrecuencia() && getUnidadFrecuencia() === 'semana'">
          <div class="col-12 md:col-3 lg:col-3">
            <label for="diasSemana">Días</label>
          </div>
          <div class="col-12 md:col-9 lg:col-9">
            <p-selectButton [options]="diasList" id="diasSemana" [multiple]="true" [(ngModel)]="diasSemanaSelected" [ngModelOptions]="{standalone: true}"></p-selectButton>
          </div>
        </div>
        <!-- Periodicidad mensual -->
        <div class="col-12 grid" *ngIf="programacionSwitch && getUnidadFrecuencia() && getUnidadFrecuencia() === 'mes'">
          <div class="col-12 md:col-3 lg:col-3"></div>
          <div class="col-12 md:col-9 lg:col-9 grid">
            <p-radioButton name="radioB" inputId="repMes" value="dia" [className]="'ml-2'" [(ngModel)]="radioBSelected" [ngModelOptions]="{standalone: true}"></p-radioButton>
            <label for="repMes" class="ml-2" style="align-self: center;">El día</label>
            <input type="number" pInputText name="dia" id="dia" class="col-4 ml-2" [disabled]="radioBSelected=='diaSemana'" max="31" min="1" [(ngModel)]="inputDia" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col-12 md:col-3 lg:col-3"></div>
          <div class="col-12 md:col-9 lg:col-9 grid">
            <p-radioButton name="radioB" inputId="respMes2" value="diaSemana" [className]="'ml-2'" [(ngModel)]="radioBSelected" [ngModelOptions]="{standalone: true}"></p-radioButton>
            <label for="repMes2" class="ml-2" style="align-self: center;">El</label>
            <p-dropdown [options]="numerosOrdinales" [(ngModel)]="numeroOrdinalSelected" [ngModelOptions]="{standalone: true}" class="ml-2" placeholder="-- seleccione --" appendTo="body"
            [disabled]="radioBSelected=='dia'"></p-dropdown>
            <p-dropdown [options]="diasList" optionLabel="title" optionValue="value" [(ngModel)]="diaSelected" [ngModelOptions]="{standalone: true}" class="ml-2" placeholder="-- seleccione --" appendTo="body"
            [disabled]="radioBSelected=='dia'"></p-dropdown>
          </div>
        </div>
        <!-- Fecha fin -->
        <div class="col-12 md:col-3 lg:col-3" *ngIf="programacionSwitch">
          <label for="fin">Fin</label>
        </div>
        <div class="col-12 md:col-9 lg:col-9" *ngIf="programacionSwitch">
          <p-calendar appendTo="body" id="fin" formControlName="fechaFin" placeholder="dd/mm/yyyy" dateFormat="dd/mm/yy" firstDayOfWeek="0"></p-calendar>
        </div>
      </div>
    </p-panel>
    <p-footer *ngIf="!deshabilitar">
      <div style="text-align: center" *ngIf="loading == true">
        <p-progressSpinner strokeWidth="8" [style]="{width: '25px', height: '25px'}"></p-progressSpinner>
      </div>
      <ng-container *ngIf="esNueva && loading == false">
        <button *sTienePermiso="'INP_POST_PROG'" type="submit" pButton icon="pi pi-save" label="Guardar" 
        [disabled]="!form.valid" (click)="onSubmit()"></button>
      </ng-container>
      <ng-container *ngIf="!esNueva && loading == false && !(form.value.numeroRealizadas && form.value.numeroRealizadas > 0)">
        <button *sTienePermiso="'INP_PUT_PROG'" type="submit" pButton icon="pi pi-pencil"
           label="Modificar" (click)="onSubmit()" [disabled]="!form.valid"></button>
      </ng-container>
      <ng-container *ngIf="!esNueva && loading == false">
        <button *sTienePermiso="'INP_POST_INP'" type="button" pButton icon="pi pi-list" class="p-button-success"
          label="Inspección" (click)="irInspeccion()" [disabled]="btnInspDisable">
        </button>
      </ng-container>
      <ng-container *ngIf="!esNueva && loading == false && !(form.value.numeroRealizadas && form.value.numeroRealizadas > 0)">
        <button *sTienePermiso="'INP_DELETE_PROG'" type="button" pButton icon="pi pi-trash" class="p-button-danger"
          label="Eliminar" (click)="eliminarProgramacion()" [disabled]="!form.valid"></button>
      </ng-container>
    </p-footer>
  </p-dialog>
</form>