.link-doc{
    margin-top:6px;
    margin-bottom:6px;
}

.flex-content{
    display: flex;
    flex-wrap: wrap,
}

a{
    margin-left: 10px;
}
a:hover{
    text-decoration: underline;
}

.pointer-cursor {
    cursor: pointer;
}

.image{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 10%;
    height: auto;
}