<s-dataNotFound *ngIf="!actividadesList || actividadesList!.length <= 0" icon="fa-handshake-o" message="No se encontraron registros de Divisiones">
    <button [disabled]="!edit || flagConsult" pButton type="button" (click)="abrirDialogo('crear')" icon="fa fa-plus" label="Agregar División"></button>
    <br><small class="p-invalid" style="
    font-weight: bold;" *ngIf="!flagConsult">Campo obligatorio.</small>
</s-dataNotFound>

<div class="shadow">
    <p-panel header="Lista de División" *ngIf="actividadesList!.length > 0">
        <p-tabView>
            <p-table [value]="actividadesList" responsiveLayout="scroll" (onRowUnselect)="onRowSelect($event)" [(selection)]="selectedList">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 3rem">
                            #
                        </th>
                        <th>
                            Nombre División
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData  let-i="rowIndex">
                    <tr>
                        <td>
                            {{i+1}}
                        </td>
                        <td class="my-center-text">
                            {{rowData}}
                        </td> 
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary" let-rowData>
                    <button [disabled]="!edit || flagConsult" pButton type="button" icon="bi bi-pencil-square" class="p-button-success" (click)="abrirDialogo()" label="Modificar División"></button>    
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="9" class="p-text-center">No hay registro con los términos de filtro usados
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabView>
    </p-panel>
</div>


<s-dataNotFound *ngIf="!locadidadesList || locadidadesList!.length <= 0" icon="fa-handshake-o" message="No se encontraron registros de Localidades">
    <button [disabled]="!edit || flagConsult" pButton type="button" (click)="abrirDialogoLocalidades('crear')" icon="fa fa-plus" label="Agregar Localidad"></button>
    <br><small class="p-invalid" style="
    font-weight: bold;" *ngIf="!flagConsult">Campo obligatorio.</small>
</s-dataNotFound>

<div class="shadow">
    <p-panel header="Localidades" *ngIf="locadidadesList.length > 0">
        <p-tabView>
            <p-table [value]="locadidadesList" responsiveLayout="scroll">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 3rem">
                            #
                        </th>
                        <th>
                            Nombre Localidad
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData  let-i="rowIndex">
                    <tr>
                        <td>
                            {{i+1}}
                        </td>
                        <td class="my-center-text">
                            {{rowData}}
                        </td> 
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary" let-rowData>
                    <button [disabled]="!edit || flagConsult" pButton type="button" icon="bi bi-pencil-square" class="p-button-success" (click)="abrirDialogoLocalidades()" label="Modificar localidad"></button>    
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="9" class="p-text-center">No hay registro con los términos de filtro usados
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabView>
    </p-panel>
</div>


<p-dialog header="Lista de Divisiones" [(visible)]="visibleDlg" [style]="{width: '20vw'}" appendTo="body">
    
    <div class="input-field">
        <label for="">Divisiones</label>
    </div>

    <div class="grid" style="width:250px;margin-bottom:10px" *ngFor="let data of divisionList">
        <div class="col-12">
            <p-checkbox name="group1" [value]="data.label" [label]="data.label" [(ngModel)]="selectActividad"></p-checkbox>
        </div>
    </div>
    
    <p-footer>
        <button pButton type="button" (click)="agregarActividad()" label="Aceptar"></button>
        <button pButton type="button" (click)="cerrarDialogo()" class="ui-button-secondary" label="Cancelar"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Lista de Localidades" [(visible)]="visibleDlgLocalidades" [style]="{width: '30vw'}" appendTo="body" modal="true">
    
    <div class="input-field">
        <h1 for="">Localidades</h1>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">
            <em class="bi bi-search"></em>
        </span>
        <input type="text" pInputText class="form-control" [(ngModel)]="filtroLocalidades">
        <button pButton class="p-button-rounded p-button-danger" icon="pi pi-times" (click)="filtroLocalidades=null;"></button>
    </div>

    <div class="grid">
        <div class="col-12" style="margin-bottom: 10px; border-bottom: 1px dotted; border-bottom-color: gray;">
            <p-checkbox name="group1" [value]="selectAllLocalidades.value" [label]="selectAllLocalidades.label" (onChange)="onSelectAllLocalidades($event)" [(ngModel)]="selectedAllLocalidades"></p-checkbox>
        </div>
    </div>
    <ng-container *ngFor="let data of locadidadList">
        <div class="grid" style="width:350px;margin-bottom:10px" *ngIf="filtrarLocalidad(data)">
            <div class="col-12">
                <p-checkbox name="group1" [value]="data.label" [label]="data.label" [(ngModel)]="selectLocalidades" (onChange)="onSelectLocalidad($event)"></p-checkbox>
            </div>
        </div>
    </ng-container>
    
    <p-footer>
        <button pButton type="button" (click)="agregarLocalidad()" label="Aceptar"></button>
        <button pButton type="button" (click)="cerrarLocalidad()" class="ui-button-secondary" label="Cancelar"></button>
    </p-footer>
</p-dialog>