.floating-button {
    position: fixed;
    right: 20px; /* Ajusta la posición derecha según sea necesario */
    bottom: 20px; /* Ajusta la posición inferior según sea necesario */
    background-color: #007bff; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
    border: none; /* Sin borde */
    border-radius: 50%; /* Borde redondo */
    padding: 15px; /* Espaciado interno */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.floating-button i {
    margin-right: 5px; /* Espaciado entre el icono y el texto */
}

.floating-button[disabled] {
    background-color: #ccc; /* Cambia el color de fondo */
    color: #666; /* Cambia el color del texto */
    border: 1px solid #ccc; /* Agrega un borde */
    cursor: not-allowed; /* Cambia el cursor */
  }

  .autocomplete-input {
    position: relative; /* Asegura que la posición absoluta sea relativa a este elemento */
    width: 100%;
    padding: 8px;
    font-size: 16px;
  }
  
  .autocomplete-list {
    position: absolute; /* Posición absoluta para que esté fuera del flujo normal */
    top: calc(50% + 55px); /* Coloca la lista justo debajo del input */
    left: 15px; /* Alinea la lista con el borde izquierdo del input */
    list-style-type: none;
    padding: 0;
    margin: 0; /* Agrega margen cero para evitar desplazamiento adicional */
    z-index: 1; /* Un valor inferior al del input */
    background-color: #fff; /* Ajusta el color de fondo según sea necesario */
    border: 1px solid #d4d4d4; /* Agrega un borde para mayor claridad */
    border-radius: 5px; /* Añade esquinas redondeadas */
    max-height: 150px; /* Define una altura máxima para la lista desplegable */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
  }
  
  .autocomplete-item {
    cursor: pointer;
    padding: 8px;
  }
  
  .autocomplete-item:hover {
    background-color: #f0f0f0;
  }

  .toast {
    position: fixed;
    top: 70px; /* Ajusta esta distancia según lo necesites */
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .toast.show {
    opacity: 1;
  }
  
  .toast-message {
    font-size: 16px;
    font-weight: bold;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 15px;
  }
  .empleado-info {
    margin-left: 20px;
  }

  .container-fluid {
    padding: 20px;
  }
  
  .form-row {
    margin-bottom: 15px;
  }
  
  .mt-3 {
    margin-top: 15px;
  }
  
  .mt-4 {
    margin-top: 20px;
  }
  
  .btn {
    margin-top: 10px;
  }
  
  h5 {
    margin-top: 20px;
  }
  ::ng-deep .p-dropdown-panel .p-dropdown-item {
    max-width: 100%; /* Ajusta el valor según sea necesario */
    white-space: normal; /* Permite que el texto envuelva a la siguiente línea */
    overflow: hidden; /* Opcional: oculta cualquier contenido que desborde */
    word-wrap: break-word; /* Permite que las palabras largas se dividan */
}

/* Opcional: Para el ancho del contenedor del dropdown */
::ng-deep .p-dropdown {
    max-width: 100%; /* Ajusta este valor según sea necesario */
}
  .saved-item {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
  }
  
  .saved-item-content {
    margin-bottom: 15px;
  }
  
  .divider {
    border: 0;
    height: 1px;
    background: #007bff; /* Blue line color */
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .document-name {
    background-color: #007bff; /* Color de fondo similar al botón primario */
    color: white; /* Color del texto */
    padding: 5px 10px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
    display: inline-block; /* Para que el elemento se ajuste al contenido */
    text-align: center; /* Alineación centrada del texto */
    font-weight: bold; /* Negrita para el texto */
}
.fechaProxima {
  color: red;
}
.mensaje-proximo {
  color: red; /* Color rojo para destacar el mensaje */
  font-weight: bold; /* Texto en negrita para mayor énfasis */
}

.info-container {
  display: flex;
  justify-content: flex-end; /* Alinea los elementos al final del contenedor */
  margin: 3px; /* Espacio alrededor del contenedor */
}

.info-item {
  margin-left: 20px; /* Espacio entre los elementos */
}

.label {
  font-weight: bold; /* Texto en negrilla */
}

.select-material {
  width: 100%; /* Asegura que el dropdown ocupe todo el ancho disponible */
}

.d-flex {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos en el centro */
}

.flex-grow-1 {
  flex-grow: 1; /* Hace que el dropdown ocupe el espacio restante */
}

.ml-2 {
  margin-left: 8px; /* Espacio entre el dropdown y el botón */
}


  