
<p-messages [(value)]="msgs" [closable]="true"></p-messages>
<ng-container>
    <button
      pButton
      type="button"
      icon="bi bi-upload"
      label="Adjuntar Soporte"
      title="Subir documento"
      [value]="documentacionSubirSelect"
      class="p-button-info margin-left margin-right"
      (click)="openUploadDialogCaseDT(idSl, documentosDT)"
    ></button>
  </ng-container>
  <s-documentoUpload
    [privadoCheck]="false"
    [(visible)]="flagDocDT"
    [modParam]="selectedDocIDDT"
    [modulo]="modulo"
    [tipoEvidencia]="'cargaDocumentosDT' + selectedDocIDDT"
    (onUpload)="onUploadCaseDT($event)"
  >
  </s-documentoUpload>
  <div class="ui-g" style="margin-top: 10px">
    <div class="ui-g-12 ui-sm-12 ui-md-10">
      <div *ngFor="let doc of directoriosSendocs">
        <ng-container *ngIf="doc?.documento">
          <table
            class="caption-top"
            *ngIf="
              doc.documento.proceso === 'cargaDocumentosDT' + idSl
            "
          >
            <p>Soportes:</p>
            <thead>
              <tr>
                <th scope="col">Descripción</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a
                    type="button"
                    class="btn btn-outline-primary"
                    (click)="descargarDocumento(doc.documento)"
                    >{{ doc.documento.descripcion }}</a
                  >
                </td>
                <td>
                  <a>&nbsp;</a>
                  <button
                  type="button"
                  class="btn btn-outline-danger"
                  title="Eliminar documento"
                  (click)="eliminarDocumentCaseDT(doc)"
                  [disabled]="stateDownload"
                >
                  <span class="pi pi-trash"></span>
                </button>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>
  </div>