<!-- <p-messages [(value)]="msgs" [closable]="true"></p-messages> -->
<p-toast key="mnsgMatrizPeligros"></p-toast>

<a style="visibility: hidden" id="dwldLink"></a>
<div class="shadow">
    <p-panel styleClass="material-panel" header="Peligros registrados de la matriz">
        <form [formGroup]="formCreacionMatriz">
            <div class="grid">
                <div class="col-6 col-sm-12">
                    <strong>División:</strong>
                    <p-dropdown  required [filter]="true" placeholder="Seleccione una división"[options]="listDivision" appendTo="body" formControlName="ubicacion" (onChange)="cargarPlanta($event.value)"></p-dropdown>
                </div>
                <div class="col-6 col-sm-12">
                    <strong>Planta:</strong>
                    <br/>
                    <p-dropdown required [filter]="true" placeholder="Seleccione una planta"[options]="planta" appendTo="body" formControlName="planta"  (onChange)="cargarArea($event.value)"></p-dropdown>
                </div>
                <div class="col-6 col-sm-12">
                    <strong>Área:</strong>
                    <br/>
                    <!-- <p-dropdown required [filter]="true" placeholder="Seleccione una área"[options]="area" appendTo="body" formControlName="area" (onChange)="cargarRegistrosMatriz($event.value)"></p-dropdown> -->
                    <p-multiSelect placeholder="Seleccione un área" formControlName="area" [style]="{'width':'100%'}" appendTo="body" [filter]="true" required [options]="areaMatrizItemList" (onChange)="cargarRegistrosMatriz()" ></p-multiSelect>
                </div>
                <div class="col-6 col-sm-12" *ngIf="this.lastFecha">
                    <br>
                    <span>Última edición: {{this.lastFecha | date:'dd/MM/yyyy' }}</span>
                </div>
            </div>
        </form>

        <!-- <br>
        <ng-container *ngIf="flagPlantaSelect">
            <div class="grid">
                <div class="col-3">
                    <button pButton style="width: 100%;" type="button" (click)="exportexcelConsolidado()" title="Generar consolidado" icon="pi pi-file-excel" class="p-button-primary" label="Generar consolidado" [disabled]="flagGConsolidado"></button>
                </div>
                <div class="col-3" *ngIf="flagGConsolidado">
                    <p-progressSpinner strokeWidth="8" [style]="{width: '25px', height: '25px'}"></p-progressSpinner>
                    <span>&nbsp;Creando consolidado...</span>
                </div>
                <div class="col-3" *ngIf="flagDConsolidado">
                    <button pButton style="width: 100%;" type="button" (click)="descargarexcelConsolidado()" title="Descargar Consolidado" icon="pi pi-download" class="p-button-success" label="Descargar consolidado"></button>
                </div>
                <div class="col-3" *ngIf="flagDConsolidado">
                    Generado el: {{fechaConsolidado | date:'dd/MM/yyyy HH:mm:ss'}}
                </div>
            </div>

            <div class="grid">
                <div class="col-3">
                    <button pButton style="width: 100%;" type="button" (click)="exportexcelHistorico()" title="Generar historico" icon="pi pi-file-excel" class="p-button-primary" label="Generar historico" [disabled]="flagGHistorico"></button>
                </div>
                <div class="col-3" *ngIf="flagGHistorico">
                    <p-progressSpinner strokeWidth="8" [style]="{width: '25px', height: '25px'}"></p-progressSpinner>
                    <span>&nbsp;Creando historico...</span>
                </div>
                <div class="col-3" *ngIf="flagDHistorico">
                    <button pButton style="width: 100%;"type="button" (click)="descargarexcelHistorico()" title="Descargar historico" icon="pi pi-download" class="p-button-success" label="Descargar historico"></button>
                </div>
                <div class="col-3" *ngIf="flagDHistorico">
                    Generado el: {{fechaHistorico | date:'dd/MM/yyyy HH:mm:ss'}}
                </div>
            </div>

        </ng-container>
        <br/> -->
        <br/>
        <p-tabView *ngIf="formCreacionMatriz.valid || flagPlantaSelect" [(activeIndex)]="activeTab">
            <p-tabPanel header="Consolidado" *ngIf="formCreacionMatriz.valid">
                <div  *ngIf="formCreacionMatriz.valid">
                    <h1>Registro individual</h1>
                </div>
                <br>
                <div style="display: flex;" *ngIf="flagICR">
                    <div>GPI:  {{GPI}}</div>&nbsp;
                    <div>GPF:  {{GPF}}</div>&nbsp;
                    <div>ICR:  {{ICR.toFixed(2)}}%</div>
                </div>
                <p-table #dt styleClass="material-table" autoLayout="true" selectionMode="single" [(selection)]="matrizSelect" [value]="matrizPList" [paginator]="true" [rows]="10" *ngIf="formCreacionMatriz.valid" >
                    <!-- dataKey="id" sortField="id" sortOrder="-1" -->
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th pSortableColumn="id">Id Matriz
                                <p-sortIcon field="id"></p-sortIcon>
                            </th>
                            <th pSortableColumn="fechaCreacion">Fecha de creación
                                <p-sortIcon field="fechaCreacion"></p-sortIcon>
                            </th>
                            <th pSortableColumn="area.nombre">Área
                                <p-sortIcon field="area.nombre"></p-sortIcon>
                            </th>
                            <th pSortableColumn="proceso.nombre">Proceso
                                <p-sortIcon field="proceso.nombre"></p-sortIcon>
                            </th>
                            <th pSortableColumn="subProceso.nombre">Subproceso
                                <p-sortIcon field="subProceso.nombre"></p-sortIcon>
                            </th>
                            <th pSortableColumn="peligro.Peligro.nombre">Peligro
                                <p-sortIcon field="peligro.Peligro.nombre"></p-sortIcon>
                            </th>
                            <th pSortableColumn="peligro.DescripcionPeligro.nombre"> Descripción del peligro
                                <p-sortIcon field="peligro.DescripcionPeligro.nombre"></p-sortIcon>
                            </th>
                            <th pSortableColumn="valoracionRiesgoInicial.NRCualitativo"> Nivel de riesgo inicial
                                <p-sortIcon field="valoracionRiesgoInicial.NRCualitativo"></p-sortIcon>
                            </th>
                            <th pSortableColumn="valoracionRiesgoResidual.NRCualitativo"> Nivel de riesgo residual
                                <p-sortIcon field="valoracionRiesgoResidual.NRCualitativo"></p-sortIcon>
                            </th>
                            <th> Plan de acción
                            </th>
                            <th> Estado
                            </th>
                        </tr>
                        <tr class="filters">
                            <td class="text-center bg-light">
                                <div class="ui-inputgroup">
                                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'id', 'contains')">
                                </div>
                            </td>
                            <td class="text-center bg-light">
                                <div class="ui-inputgroup">
                                                            
                                    <s-rangoFechaSelector (onSelect)="dt.filter($event, 'fechaCreacion', 'bt')">
                                    </s-rangoFechaSelector>                      
            
                                </div>
                            </td>
                            <td class="text-center bg-light">
                                <div class="ui-inputgroup">    
                                    <input pInputText type="text" (input)="dt.filter($event.target.value,'area.nombre')">
                                </div>
                            </td>
                            <td class="text-center bg-light">
                                <div class="ui-inputgroup">    
                                    <input pInputText type="text" (input)="dt.filter($event.target.value,'proceso.nombre')">
                                </div>
                            </td>
                            <td class="text-center bg-light">
                                <div class="ui-inputgroup">    
                                    <input pInputText type="text" (input)="dt.filter($event.target.value,'subProceso.nombre')">
                                </div>
                            </td>
                            <td class="text-center bg-light">
                                <div class="ui-inputgroup">
                                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'peligro.Peligro.nombre', 'contains')">
                                </div>
                            </td>
                            <td class="text-center bg-light">
                                <div class="ui-inputgroup">    
                                    <input pInputText type="text" (input)="dt.filter($event.target.value,'peligro.DescripcionPeligro.nombre')">
                                </div>
                            </td>
                            <td class="text-center bg-light">
                                <div class="ui-inputgroup">    
                                    <input pInputText type="text" (input)="dt.filter($event.target.value,'valoracionRiesgoInicial.NRCualitativo')">
                                </div>
                            </td>
                            <td class="text-center bg-light">
                                <div class="ui-inputgroup">    
                                    <input pInputText type="text" (input)="dt.filter($event.target.value,'valoracionRiesgoResidual.NRCualitativo')">
                                </div>
                            </td>
                            <td class="text-center bg-light">
                                <div class="ui-inputgroup">    
                                    <input pInputText type="text" (input)="dt.filter($event.target.value,'estadoPlanAccion')">
                                </div>
                            </td>
                            <td class="text-center bg-light">
                                <div class="ui-inputgroup">    
                                    <input pInputText type="text" (input)="dt.filter($event.target.value,'estado')">
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-matriz>
            
                        <tr [pSelectableRow]="matriz" class="table-row table-row-selectable">
                            <td class="p-text-center">{{matriz?.id}}</td>
                            <td class="p-text-center">{{matriz?.fechaCreacion | date:'dd/MM/yyyy'}}</td>
                            <td class="p-text-center">{{matriz?.area?.nombre}}</td>
                            <td class="p-text-center">{{matriz?.proceso?.nombre}}</td>
                            <td class="p-text-center">{{matriz?.subProceso?.nombre}}</td>
                            <td class="p-text-center">{{matriz?.peligro?.Peligro?.nombre}}</td>
                            <td class="p-text-center">{{matriz?.peligro?.DescripcionPeligro?.nombre}}</td>
                            <td [class]="matriz?.valoracionRiesgoInicial?.NRCualitativo=='Muy Alto'?'muyalto':(matriz?.valoracionRiesgoInicial?.NRCualitativo=='Alto'?'alto':(matriz?.valoracionRiesgoInicial?.NRCualitativo=='Medio'?'medio':(matriz?.valoracionRiesgoInicial?.NRCualitativo=='Bajo'?'bajo':'blanco')))">{{matriz?.valoracionRiesgoInicial?.NRCualitativo}}</td>
                            <td [class]="matriz?.valoracionRiesgoResidual?.NRCualitativo=='Muy Alto'?'muyalto':(matriz?.valoracionRiesgoResidual?.NRCualitativo=='Alto'?'alto':(matriz?.valoracionRiesgoResidual?.NRCualitativo=='Medio'?'medio':(matriz?.valoracionRiesgoResidual?.NRCualitativo=='Bajo'?'bajo':'blanco')))">{{matriz?.valoracionRiesgoResidual?.NRCualitativo}}</td>
                            <td class="p-text-center">{{matriz?.estadoPlanAccion}}</td>
                            <td class="p-text-center">{{matriz?.estado}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary" let-rowData let-matriz>

                        <div class="d-flex justify-content-center">
                            <div class="btn-group" role="group">                
                            <button 
                                class="p-button-raised p-button-primary margin-right" 
                                pButton type="button" 
                                icon="bi bi-plus" 
                                label="Adicionar" 
                                (click)="CRUDMatriz('PUT','ALONE')"
                                ></button>
                            <button 
                                class="p-button-raised p-button-success margin-right margin-left" 
                                pButton type="button" 
                                icon="bi bi-pencil" 
                                label="Modificar"
                                (click)="CRUDMatriz('POST','ALONE')"
                                [disabled]="!matrizSelect"
                                ></button>
                            <button 
                                pButton type="button" 
                                icon="bi bi-search" 
                                label="Consultar" 
                                style="color: var(--white)"
                                class="p-button-raised p-button-warning margin-right margin-left"
                                (click)="CRUDMatriz('GET','ALONE')"
                                [disabled]="!matrizSelect"
                                ></button>
                            <button 
                                pButton type="button" 
                                icon="bi bi-eye-fill" 
                                label="Historico" 
                                style="color: var(--white)"
                                class="p-button-raised p-button-primary margin-right margin-left"
                                (click)="historicoCargar()"
                                [disabled]="!matrizSelect"
                                ></button>
                            </div>
                        </div>           
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="10" class="p-text-center">No hay registro de peligros en esta planta
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <br>    
                <br>
                <div *ngIf="flagtreeTable">
                    <h1>Registro por grupo</h1>
                </div>
                <!-- <button pButton (click)="test()">test</button> -->
                <p-treeTable #tt  [paginator]="true" [rows]="10" [value]="matrizPList2" [columns]="cols" [filterMode]="filterMode"  [tableStyle]="{'min-width':'50rem'}" *ngIf="flagtreeTable">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th [style]="{'width': '5rem'}">
                                &nbsp;
                            </th>
                            <th *ngFor="let col of cols">
                                {{ col.header }}
                            </th>
                        
                        </tr>
                        <tr>
                            <th>
                                &nbsp;
                            </th>
                            <th *ngFor="let col of cols">
                                <input pInputText type="text" style="width: 100%" (input)="tt.filter($event.target.value, col.field, col.filterMatchMode)" />
                            </th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                        <tr>
                            
                            <td [style]="{'width': '5rem'}">
                                <p-checkbox name="peligroSelect" [value]="rowData" [(ngModel)]="peligroSelect" (click)="matricSelect()"></p-checkbox>
                            </td>
                            
                            <ng-container *ngFor="let col of cols; let i = index">

                                <td *ngIf="col.field!='NRCualitativo' && col.field!='fechaCreacion'">
                                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
                                    {{ rowData[col.field] }}
                                </td>
                                <td *ngIf="col.field=='NRCualitativo'"
                                [class]="rowData[col.field]=='Muy Alto'?'muyalto':(rowData[col.field]=='Alto'?'alto':(rowData[col.field]=='Medio'?'medio':(rowData[col.field]=='Bajo'?'bajo':'blanco')))"
                                >
                                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
                                    {{ rowData[col.field] }}
                                </td>
                                <td *ngIf="col.field=='fechaCreacion'">
                                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
                                    {{ rowData[col.field] | date:'dd/MM/yyyy'}}
                                </td>
                            </ng-container>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary" let-rowData>

                        <div class="d-flex justify-content-center">
                            <div class="btn-group" role="group">                
                            <button 
                                class="p-button-raised p-button-success margin-right margin-left" 
                                pButton type="button" 
                                icon="bi bi-pencil" 
                                label="Modificar"
                                (click)="CRUDMatriz('POST','GROUP')"
                                [disabled]="peligroSelect.length==0"
                                ></button>
                            <button 
                                pButton type="button" 
                                icon="bi bi-search" 
                                label="Consultar" 
                                style="color: var(--white)"
                                class="p-button-raised p-button-warning margin-right margin-left"
                                (click)="CRUDMatriz('GET','GROUP')"
                                [disabled]="peligroSelect.length==0"
                                ></button>
                            </div>
                        </div>           
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="9">No hay peligros registrados en esta planta.</td>
                        </tr>
                    </ng-template>
                </p-treeTable>
            </p-tabPanel>
            <p-tabPanel header="Historial Actualizaciones" *ngIf="formCreacionMatriz.valid">
                <br>
                <!-- <button pButton type="button" (click)="visibleDlgExcelHistorico=true" title="Exportar informe" icon="pi pi-file-excel" class="p-button-success"></button> -->
                <!-- <button pButton type="button" (click)="exportexcelHistoricoPrueba()" title="Exportar informe" icon="pi pi-file-excel" class="p-button-success"></button> -->

                <br>
                <p-table #dt styleClass="material-table" autoLayout="true" selectionMode="single" [(selection)]="matrizPList3Select" [value]="this.historicoList" [paginator]="true" [rows]="10" >
                    <!-- dataKey="id" sortField="id" sortOrder="-1" -->
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th pSortableColumn="idriesgo">Id Matriz
                                <p-sortIcon field="idriesgo"></p-sortIcon>
                            </th>
                            <th pSortableColumn="fechaEdicion">Fecha edición
                                <p-sortIcon field="fechaEdicion"></p-sortIcon>
                            </th>
                            <th pSortableColumn="area.nombre">Área
                                <p-sortIcon field="area.nombre"></p-sortIcon>
                            </th>
                            <th pSortableColumn="proceso.nombre">Proceso
                                <p-sortIcon field="proceso.nombre"></p-sortIcon>
                            </th>
                            <th pSortableColumn="subProceso.nombre">Subproceso
                                <p-sortIcon field="subProceso.nombre"></p-sortIcon>
                            </th>
                            <th pSortableColumn="peligro.Peligro.nombre">Peligro
                                <p-sortIcon field="peligro.Peligro.nombre"></p-sortIcon>
                            </th>
                            <th pSortableColumn="peligro.DescripcionPeligro.nombre"> Descripción del peligro
                                <p-sortIcon field="peligro.DescripcionPeligro.nombre"></p-sortIcon>
                            </th>
                            <th pSortableColumn="valoracionRiesgoInicial.NRCualitativo"> Nivel de riesgo inicial
                                <p-sortIcon field="valoracionRiesgoInicial.NRCualitativo"></p-sortIcon>
                            </th>
                            <th pSortableColumn="valoracionRiesgoResidual.NRCualitativo"> Nivel de riesgo residual
                                <p-sortIcon field="valoracionRiesgoResidual.NRCualitativo"></p-sortIcon>
                            </th>
                        </tr>
                        <tr class="filters">
                            <td class="text-center bg-light">
                                <div class="ui-inputgroup">
                                    <input pInputText type="number" (input)="dt.filter($event.target.value, 'id', 'equals')">
                                </div>
                            </td>
                            <td class="text-center bg-light">
                                <div class="ui-inputgroup">
                                                            
                                    <s-rangoFechaSelector (onSelect)="dt.filter($event, 'fechaEdicion', 'bt')">
                                    </s-rangoFechaSelector>                      
            
                                </div>
                            </td>
                            <td class="text-center bg-light">
                                <div class="ui-inputgroup">    
                                    <input pInputText type="text" (input)="dt.filter($event.target.value,'area.nombre')">
                                </div>
                            </td>
                            <td class="text-center bg-light">
                                <div class="ui-inputgroup">    
                                    <input pInputText type="text" (input)="dt.filter($event.target.value,'proceso.nombre')">
                                </div>
                            </td>
                            <td class="text-center bg-light">
                                <div class="ui-inputgroup">    
                                    <input pInputText type="text" (input)="dt.filter($event.target.value,'subProceso.nombre')">
                                </div>
                            </td>
                            <td class="text-center bg-light">
                                <div class="ui-inputgroup">
                                    <input pInputText type="text" (input)="dt.filter($event.target.value, 'peligro.Peligro.nombre', 'contains')">
                                </div>
                            </td>
                            <td class="text-center bg-light">
                                <div class="ui-inputgroup">    
                                    <input pInputText type="text" (input)="dt.filter($event.target.value,'peligro.DescripcionPeligro.nombre')">
                                </div>
                            </td>
                            <td class="text-center bg-light">
                                <div class="ui-inputgroup">    
                                    <input pInputText type="text" (input)="dt.filter($event.target.value,'valoracionRiesgoInicial.NRCualitativo')">
                                </div>
                            </td>
                            <td class="text-center bg-light">
                                <div class="ui-inputgroup">    
                                    <input pInputText type="text" (input)="dt.filter($event.target.value,'valoracionRiesgoResidual.NRCualitativo')">
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-matriz>
            
                        <tr [pSelectableRow]="matriz" class="table-row table-row-selectable">
                            <td class="p-text-center">{{matriz?.idriesgo}}</td>
                            <td class="p-text-center">{{matriz?.fechaEdicion | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td class="p-text-center">{{matriz?.area?.nombre}}</td>
                            <td class="p-text-center">{{matriz?.proceso?.nombre}}</td>
                            <td class="p-text-center">{{matriz?.subProceso?.nombre}}</td>
                            <td class="p-text-center">{{matriz?.peligro?.Peligro?.nombre}}</td>
                            <td class="p-text-center">{{matriz?.peligro?.DescripcionPeligro?.nombre}}</td>
                            <td [class]="matriz?.valoracionRiesgoInicial?.NRCualitativo=='Muy Alto'?'muyalto':(matriz?.valoracionRiesgoInicial?.NRCualitativo=='Alto'?'alto':(matriz?.valoracionRiesgoInicial?.NRCualitativo=='Medio'?'medio':(matriz?.valoracionRiesgoInicial?.NRCualitativo=='Bajo'?'bajo':'blanco')))">{{matriz?.valoracionRiesgoInicial?.NRCualitativo}}</td>
                            <td [class]="matriz?.valoracionRiesgoResidual?.NRCualitativo=='Muy Alto'?'muyalto':(matriz?.valoracionRiesgoResidual?.NRCualitativo=='Alto'?'alto':(matriz?.valoracionRiesgoResidual?.NRCualitativo=='Medio'?'medio':(matriz?.valoracionRiesgoResidual?.NRCualitativo=='Bajo'?'bajo':'blanco')))">{{matriz?.valoracionRiesgoResidual?.NRCualitativo}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="9" class="p-text-center">No hay historicos registrados en este id.
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-tabPanel>
            <p-tabPanel header="Descargables" *ngIf="flagPlantaSelect">
                <div >
                    <h1>Historico y consolidado</h1>
                </div>
                <br>
                <p-table [value]="docList" styleClass="material-table">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Tipo
                            </th>
                            <th>Inicio generación documento
                            </th>
                            <th>Finalización generación documento
                            </th>
                            <th>Usuario que genero
                            </th>
                            <th>Estado
                            </th>
                            <th>Generar
                            </th>
                            <th>Descargar
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-doc>
                        <tr>
                            <td>Consolidado</td>
                            <td>{{fechaConsolidadoStart | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>{{fechaConsolidado | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>{{usuarioConsolidado}}</td>
                            <td>{{estadoConsolidado}}</td>
                            <td>                            
                                <button [disabled]="estadoConsolidado=='En procceso...'" pButton style="width: 100%;" type="button" (click)="exportexcelConsolidado()" title="Generar consolidado" icon="pi pi-file-excel" class="p-button-primary" label="Generar consolidado" [disabled]="flagGConsolidado"></button>
                            </td>
                            <td>
                                <button [disabled]="estadoConsolidado!='Documento listo'" pButton style="width: 100%;" type="button" (click)="descargarexcelConsolidado()" title="Descargar Consolidado" icon="pi pi-download" class="p-button-success" label="Descargar consolidado"></button>
                            </td>
                        </tr>
                        <tr>
                            <td> Historico </td>
                            <td>{{fechaHistoricoStart | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>{{fechaHistorico | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>{{usuarioHistorico}}</td>
                            <td>{{estadoHistorico}}</td>
                            <td>                            
                                <button [disabled]="estadoHistorico=='En procceso...'" pButton style="width: 100%;" type="button" (click)="exportexcelHistorico()" title="Generar historico" icon="pi pi-file-excel" class="p-button-primary" label="Generar historico" [disabled]="flagGHistorico"></button>
                            </td>
                            <td>                            
                                <button [disabled]="estadoHistorico!='Documento listo'" pButton style="width: 100%;"type="button" (click)="descargarexcelHistorico()" title="Descargar historico" icon="pi pi-download" class="p-button-success" label="Descargar historico"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <!-- <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="7" class="p-text-center">No hay registro de peligros en esta planta
                            </td>
                        </tr>
                    </ng-template> -->
                </p-table>
                <!-- <ng-container>
                    <div class="grid">
                        <div class="col-3">
                            <button pButton style="width: 100%;" type="button" (click)="exportexcelConsolidado()" title="Generar consolidado" icon="pi pi-file-excel" class="p-button-primary" label="Generar consolidado" [disabled]="flagGConsolidado"></button>
                        </div>
                        <div class="col-3" *ngIf="flagGConsolidado">
                            <p-progressSpinner strokeWidth="8" [style]="{width: '25px', height: '25px'}"></p-progressSpinner>
                            <span>&nbsp;Creando consolidado...</span>
                        </div>
                        <div class="col-3" *ngIf="flagDConsolidado">
                            <button pButton style="width: 100%;" type="button" (click)="descargarexcelConsolidado()" title="Descargar Consolidado" icon="pi pi-download" class="p-button-success" label="Descargar consolidado"></button>
                        </div>
                        <div class="col-3" *ngIf="flagDConsolidado">
                            Generado el: {{fechaConsolidado | date:'dd/MM/yyyy HH:mm:ss'}}
                        </div>
                    </div>
        
                    <div class="grid">
                        <div class="col-3">
                            <button pButton style="width: 100%;" type="button" (click)="exportexcelHistorico()" title="Generar historico" icon="pi pi-file-excel" class="p-button-primary" label="Generar historico" [disabled]="flagGHistorico"></button>
                        </div>
                        <div class="col-3" *ngIf="flagGHistorico">
                            <p-progressSpinner strokeWidth="8" [style]="{width: '25px', height: '25px'}"></p-progressSpinner>
                            <span>&nbsp;Creando historico...</span>
                        </div>
                        <div class="col-3" *ngIf="flagDHistorico">
                            <button pButton style="width: 100%;"type="button" (click)="descargarexcelHistorico()" title="Descargar historico" icon="pi pi-download" class="p-button-success" label="Descargar historico"></button>
                        </div>
                        <div class="col-3" *ngIf="flagDHistorico">
                            Generado el: {{fechaHistorico | date:'dd/MM/yyyy HH:mm:ss'}}
                        </div>
                    </div>
        
                </ng-container> -->
            </p-tabPanel>
        </p-tabView>
    </p-panel>
</div>


