.muyalto{
    background-color: red;
}
.alto{
    background-color: rgb(245, 125, 81);
}
.medio{
    background-color:yellow;
}
.bajo{
    background-color: rgb(30, 237, 30);
}

.blanco{
    background-color: rgb(255, 255, 255);
}