<div class="shadow">
    <p-panel styleClass="material-panel">
        <p-header >
            Peligros registrados de la matriz
        </p-header>
        <form [formGroup]="formCreacionMatriz">
            <div class="grid">
                <div class="col-6 col-sm-12">
                    <strong>División:</strong>
                    <p-dropdown  required [filter]="true" placeholder="Seleccione una división"[options]="listDivision" appendTo="body" formControlName="ubicacion" (onChange)="cargarPlanta($event.value)"></p-dropdown>
                </div>
                <div class="col-6 col-sm-12">
                    <strong>Planta:</strong>
                    <br/>
                    <p-dropdown required [filter]="true" placeholder="Seleccione una planta"[options]="planta" appendTo="body" formControlName="planta"  (onChange)="cargarArea($event.value)"></p-dropdown>
                </div>
                <div class="col-6 col-sm-12">
                    <strong>Área:</strong>
                    <br/>
                    <!-- <p-dropdown required [filter]="true" placeholder="Seleccione una área"[options]="area" appendTo="body" formControlName="area" (onChange)="cargarRegistrosMatriz($event.value)"></p-dropdown> -->
                    <p-multiSelect placeholder="Seleccione un área" formControlName="area" [style]="{'width':'100%'}" appendTo="body" [filter]="true" required [options]="areaMatrizItemList" (onChange)="cargarRegistrosMatriz()" ></p-multiSelect>
                </div>
            </div>
        </form>
        <br/>
        <br/>

        <p-table #dt styleClass="material-table" autoLayout="true" selectionMode="single" [(selection)]="matrizSelect" [value]="matrizPList" [paginator]="true" [rows]="10" *ngIf="formCreacionMatriz.valid" >
            <!-- dataKey="id" sortField="id" sortOrder="-1" -->
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th pSortableColumn="id">Id Matriz
                        <p-sortIcon field="id"></p-sortIcon>
                    </th>
                    <th pSortableColumn="fechaCreacion">Fecha de creación
                        <p-sortIcon field="fechaCreacion"></p-sortIcon>
                    </th>
                    <th pSortableColumn="area.nombre">Área
                        <p-sortIcon field="area.nombre"></p-sortIcon>
                    </th>
                    <th pSortableColumn="peligro.Peligro.nombre">Peligro
                        <p-sortIcon field="peligro.Peligro.nombre"></p-sortIcon>
                    </th>
                    <th pSortableColumn="peligro.DescripcionPeligro.nombre"> Descripción del peligro
                        <p-sortIcon field="peligro.DescripcionPeligro.nombre"></p-sortIcon>
                    </th>
                    <th pSortableColumn="peligro.DescripcionPeligro.nombre"> Descripción del peligro
                        <p-sortIcon field="peligro.DescripcionPeligro.nombre"></p-sortIcon>
                    </th>
                    <th> Estado
                    </th>
                </tr>
                <tr class="filters">
                    <td class="text-center bg-light">
                        <div class="ui-inputgroup">
                            <input pInputText type="number" (input)="dt.filter($event.target.value, 'id', 'equals')">
                        </div>
                    </td>
                    <td class="text-center bg-light">
                        <div class="ui-inputgroup">
                                                    
                            <s-rangoFechaSelector (onSelect)="dt.filter($event, 'fechaCreacion', 'bt')">
                            </s-rangoFechaSelector>                      
    
                        </div>
                    </td>
                    <td class="text-center bg-light">
                        <div class="ui-inputgroup">    
                            <input pInputText type="text" (input)="dt.filter($event.target.value,'area.nombre')">
                        </div>
                    </td>
                    <td class="text-center bg-light">
                        <div class="ui-inputgroup">
                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'peligro.Peligro.nombre', 'contains')">
                        </div>
                    </td>
                    <td class="text-center bg-light">
                        <div class="ui-inputgroup">    
                            <input pInputText type="text" (input)="dt.filter($event.target.value,'peligro.DescripcionPeligro.nombre')">
                        </div>
                    </td>
                    <td class="text-center bg-light">
                        <div class="ui-inputgroup">    
                            <input pInputText type="text" (input)="dt.filter($event.target.value,'peligro.DescripcionPeligro.nombre')">
                        </div>
                    </td>
                    <td class="text-center bg-light">
                        <div class="ui-inputgroup">    
                            <input pInputText type="text" (input)="dt.filter($event.target.value,'peligro.DescripcionPeligro.nombre')">
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-matriz>
    
                <tr [pSelectableRow]="matriz" class="table-row table-row-selectable">
                    <td class="p-text-center">{{matriz?.id}}</td>
                    <td class="p-text-center">{{matriz?.fechaCreacion | date:'dd/MM/yyyy'}}</td>
                    <td class="p-text-center">{{matriz?.area?.nombre}}</td>
                    <td class="p-text-center">{{matriz?.peligro?.Peligro?.nombre}}</td>
                    <td class="p-text-center">{{matriz?.peligro?.DescripcionPeligro?.nombre}}</td>
                    <td class="p-text-center">{{matriz?.peligro?.DescripcionPeligro?.nombre}}</td>
                    <td class="p-text-center">Sin plan de acción</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary" let-rowData>

                <div class="d-flex justify-content-center">
                    <div class="btn-group" role="group">                
                      <button 
                        class="p-button-raised p-button-primary margin-right" 
                        pButton type="button" 
                        icon="bi bi-plus" 
                        label="Adicionar" 
                        (click)="CRUDMatriz('PUT')" 
                        ></button>
                      <button 
                        class="p-button-raised p-button-success margin-right margin-left" 
                        pButton type="button" 
                        icon="bi bi-pencil" 
                        label="Modificar"
                        (click)="CRUDMatriz('POST')"
                        [disabled]="!matrizSelect"
                        ></button>
                      <button 
                        pButton type="button" 
                        icon="bi bi-search" 
                        label="Consultar" 
                        style="color: var(--white)"
                        class="p-button-raised p-button-warning margin-right margin-left"
                        (click)="CRUDMatriz('DELETE')"
                        [disabled]="!matrizSelect"
                        ></button>
                    <button 
                        pButton type="button" 
                        icon="bi bi-plus" 
                        label="Crear Matriz" 
                        style="color: var(--white)"
                        class="p-button-raised p-button-primary margin-right margin-left"
                        ></button>
                    </div>
                </div>           
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4" class="p-text-center">No hay registro de casos médicos o con los términos de filtro usados
                    </td>
                </tr>
            </ng-template>
        </p-table>
    
    
    </p-panel>
</div>

