<div style="display: flex; justify-content: space-between;">

    <div style="text-align: center" *ngIf="loading == true">
      <p-progressSpinner strokeWidth="8" [style]="{width: '25px', height: '25px'}"></p-progressSpinner>
      <label style="position: relative;top: -7px;"> Cargando ubicaciones...</label>
    </div>
    <div style="width: 100%;">
      <p-autoComplete [style]="{'width':'100%'}" *ngIf="loading == false" [disabled]="disabled" [placeholder]="name" [suggestions]="sugerenciasList" (completeMethod)="buscarUbicacion($event)"
        (onSelect)="onSelection($event);" appendTo="body" emptyMessage="No se encontraron coincidencias" forceSelection="true"
        field="label" [(ngModel)]="areaSelected">
      </p-autoComplete>
    </div>
    <button *ngIf="loading == false" [disabled]="disabled" type="button" (click)="showDialog()" pButton icon="bi bi-sitemap">
      <mat-icon class="material-icons-outlined">account_tree</mat-icon>
    </button>
  </div>
  
  <p-dialog header="Áreas" [(visible)]="displayDialog" [contentStyle]="{'max-height':'70%'}" [style]="{width: '80%'}" appendTo="body">
  
    <p-tabView>
  
      <p-tabPanel header="Organigrama">
        <div style="display: flex; align-items: center; justify-content: space-between;">
          <p-button icon="pi pi-search" (click)="showDialogFilter()" styleClass="p-button-raised p-button-rounded p-button-success" ></p-button>
          <p *ngIf="areaSelected">Area seleccionada: {{areaSelected.label}}</p>
        </div>
        <br>

        <p-tree  [value]="areasNodes" *ngIf="displayDialog" layout="horizontal" selectionMode="single" [(selection)]="areaSelected"
            (onNodeSelect)="nodeSelect($event)"></p-tree>
      </p-tabPanel>
  
      <p-tabPanel header="Estructura física">
        <p-tree  [value]="sedesNodes" *ngIf="displayDialog" layout="horizontal" selectionMode="single" [(selection)]="areaSelected"
          (onNodeSelect)="nodeSelect($event)"></p-tree>
      </p-tabPanel>
  
    </p-tabView>
  
    <p-footer>
      <button type="button" (click)="onAreaChange()" pButton label="Aceptar" icon="bi bi-check"></button>
      <button type="button" (click)="closeDialog()" pButton label="Cancelar" icon="bi bi-close" class="ui-button-secondary"></button>
    </p-footer>
  
  </p-dialog>

  <div class="card flex justify-content-center">
    <p-dialog header="Organigrama Filtro" [(visible)]="visibleFilterArea" [style]="{width: '50vw'}">
          <p-tree [value]="areasNodes" [filter]="true" filterPlaceholder="Filtro" selectionMode="single" [(selection)]="areaSelected"
            (onNodeSelect)="nodeSelect($event)"></p-tree>
    </p-dialog>
  </div>
  