/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.float-btn {
    position: fixed !important;
    bottom: 30px;
    right: 5px;
    border-radius: 100px !important;
    font-size: 30px !important;
    width: 50px !important;
    height: 50px !important;
}

@import "./assets/local_styles/colors.scss";
@import "./assets/local_styles/button.scss";
@import "./assets/local_styles/card.scss";
@import "./assets/local_styles/primeng.scss";
@import "./assets/local_styles/text.scss";
@import "./assets/local_styles/box.scss";
@import "./assets/local_styles/p-table.scss";
@import "./assets/local_styles/p-treetable.scss";
@import "./assets/local_styles/input.scss";
@import "./assets/local_styles/textarea.scss";
@import "./assets/local_styles/required.scss";
@import "./assets/local_styles/dropdown.scss";
@import "./assets/local_styles/general.scss";
@import "./assets/local_styles/calendar.scss";
@import "./assets/local_styles/status.scss";

@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
