.btn-selected {
    background-color: #e2aa00; /* Un color de fondo visible, como amarillo */
    color: #fff; /* Cambiar el color del texto para que sea más legible */
    border-color: #ffc107; /* Cambiar el color del borde si es necesario */
  }