<!-- <div class="idle-main" *ngIf="expired">
    <div class="idle-container">
      <p>
        Cierre de sesión por inactividad
      </p>
      <div class="progress-bar">
        <p-progressBar [value]="countDown"></p-progressBar>
      </div>
      <p>
        <a (click)="redireccionar()" *ngIf="visibleBtn">Volver a inicio de sesión</a>
      </p>
    </div>
</div> -->

<p-dialog modal="true" [(visible)]="expired">
    <p-header>
        Cierre de sesión por inactividad
    </p-header>
    <div class="progress-bar">
        <!-- <div class="progress" #divBar></div> -->
        <p-progressBar [value]="countDown" showValue="true"></p-progressBar>
    </div>
</p-dialog>