<!-- <div>
    <label for="">{{labelText}}</label>
</div> -->
<div class="{{styleRow}}">
    <div class="{{styleCol}}">
        <p-dropdown [options]="paisItems" 
        [readonly]="disabled" 
        [filter]="true" 
 
        (onChange)="onPaisSelect($event)" 
        [(ngModel)]="paisSelectId">
        </p-dropdown>
    </div>
    <div class="{{styleCol}}">
        <p-dropdown [options]="departamentosItems" 
        [readonly]="disabled" 
        [filter]="true" 
 
        (onChange)="onDepartamentoChange($event)" 
        [(ngModel)]="departamentoSelectId">
        </p-dropdown>
    </div>
    <div class="{{styleCol}}">
        <p-dropdown [options]="ciudadesItems" 
        [readonly]="disabled" 
        [filter]="true" 

        [(ngModel)]="value">
        </p-dropdown>
    </div>
</div>
