:host ::ng-deep{
    .p-calendar{
        width: 100%;
    }
}

:host ::ng-deep 
    .p-toast{
        margin-top: 50px;
    }

th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 20%;
    height: auto;
}
