:host ::ng-deep .p-chips {
    width: -webkit-fill-available;
}

:host ::ng-deep .p-chips .p-chips-multiple-container {
    width: -webkit-fill-available;
}

.image{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 10%;
    height: auto;
}